[2018-06-20 05:49] johnnyreilly commented on #794
Thanks everyone - it's all been positive which is very encouraging. I'll start the wheels turning!

[2018-06-21 12:44] goudarzi commented on #795
+1 - (*Please* review)

[2018-06-23 16:26] dagda1 opened #799 "run tsc from node but is not reporting any errors"
I have the following code that I want to use in my build process:
[code]

It does not report any errors ever.  I get errors if I run tsc.

How do I get it to report errors and and is it possible to just point at a directory and it will compile all files?

[2018-06-23 17:11] blakeembrey commented on #799
The best information for this comes from type information in TypeScript and reading other TypeScript compiler projects. You can start with any files you want, but you would need to list them first by reading from the directory. As for the errors, are you expecting syntax errors? Type errors don’t block code emitting, so when you log only inside that block it wouldn’t be output since type errors do

[2018-06-25 15:50] omakoleg commented on #544
The workaround with separate `tsconfig.webpack.json` works for me. `ts-loader` has different name already: `'ts-loader?configFile=tsconfig.webpack.json'`

[2018-06-25 15:57] enoshixi commented on #751
This also works for me and gets the compiler to remove the type export all together:
[code]

[2018-06-25 21:20] jakelauer opened #800 "TS errors do not cause failure with --watch"
In other words, no errors are logged in this case even when errors are present in the code.

### Expected Behaviour
TS errors cause failure when webpack is built with --watch or without

### Actual Behaviour
TS errors only cause failure when webpack is built without --watch. When --watch is used, files are compiled and emitted without showing errors in webpack's log.

### Steps to Reproduce the Pr

[2018-06-26 04:37] johnnyreilly commented on #800
Please could you take this example setup: https://github.com/TypeStrong/ts-loader/tree/master/examples/vanilla and test if you face the issue.

[2018-06-26 14:11] landru29 commented on #652
@johnnyreilly: the question was about using webpackChunkName in a typescriypt project

[2018-06-26 14:54] johnnyreilly commented on #652
Oh well - that's simple.  It should just work.  Just make sure your `tsconfig.json` doesn't trim comments.

[2018-06-26 19:33] sheiidan commented on #769
I just got hit with this issue as well.
The problem is that when you use happyPackMode, the generated js file generated incorrectly, especially the order of the types which will likely break a decorators scenarios which use 'design:type' Metadata.
Currently, it's impossible to use happyPackMode if your project use decorators

[2018-06-26 20:05] #787 closed

[2018-06-26 23:00] danfuzz commented on #405
BTW the underlying TS issue was just closed as "fixed," and looks like it will be released with TS 3.0: <https://github.com/Microsoft/TypeScript/issues/12762#issuecomment-379014472>

[2018-06-27 18:29] r4j4h commented on #798
Sorry, hadn't traced through the cc's issue. More details are present there, so I won't paste my stack trace as it would just be noise at this point. Sadly it looks like we have to wait for a TypeScript version bump.

[2018-06-28 04:50] johnnyreilly commented on #653
The workaround solution suggested by @strate is very helpful. I'd be open to baking this into ts-loader since it seems to have bitten a few people... Would anyone like to submit a PR?

[2018-06-28 04:54] johnnyreilly commented on #653
BTW I'd only apply the change when `emitDecoratorMetadata: true` - it doesn't seem to be necessary when this is `false`

[2018-06-28 05:05] johnnyreilly commented on #653
It looks like there's 3 places in the codebase where errors are registered to webpack. See the top 3 files in this search https://github.com/TypeStrong/ts-loader/search?utf8=✓&q=errors.push&type=

If in each call site we applied @strate's `filter` then I imagine that would do the job. If someone wants to POC this and submit a PR we can work on this together. Don't worry about getting tests to pass

[2018-06-30 20:27] mikeerickson opened #802 "ts-loader build does not produce correct output with chalk"
### Expected Behaviour

When running built script using node, the chalk output is not correct when using ts-loader.  If I instead build using `tsc` (and not webpack) then the output is correct

### Actual Behaviour

I expect to see proper chalk output

### Steps to Reproduce the Problem

Please following instructions in README attached the repo referenced below

### Location of a Minimal Repositor

[2018-06-30 21:47] johnnyreilly commented on #802
Could you be a little clearer please? Is the problem the lack of colour?

[2018-07-01 00:29] mfour-merickson commented on #802
In short, yes.   But the code works when compiling the file using `tsc` but does not work when bundling using `webpack` and `ts-loader`

The repo supplied shows bare bones as to what is happening.

I tried as you suggested to flip `allowSyntheticDefaultImports` to `true` and still not providing color output

[2018-07-01 00:30] mfour-merickson commented on #802
@johnnyreilly re `Failing that I'm not sure this is an issue with ts-loader specifically.`

I am not sure where else to look for assistance, only two different methods of bundling typescript as far as I am aware (either `tsc` or `ts-loader` with webpack)

[2018-07-01 22:05] veeramarni opened #803 "compiles source files in the node_modules which suppose to be ignored"
### Expected Behaviour

`tsloader` should ignore any packages under `node_modules` but, it compiles the `typescript` classes if they exist in the node_modules.

I'm using `ts-loader` version : `4.4.2`
                 `webpack` version:  `4.14.0`

### Actual Behaviour

Error
--

[code]
### Steps to Reproduce the Problem

webpack.config.js
---
[code]

Tsconfig
---
[code]

indexj.ts
--
[code]

### L

[2018-07-02 08:42] amiiit commented on #767
@SuperDJ were you able to solve the issue? I'm hitting on something similar, also when refactoring a JS module to TS

[2018-07-02 09:06] SuperDJ commented on #767
@amiiit it's hard to tell. I haven't looked at since. But I just run a build for the repo and I'm getting errors so also no output.

[2018-07-02 13:17] reda-alaoui commented on #625
Increasing the default node stacksize (default 492) to `--stack-size=4096` worked for me

[2018-07-02 15:59] veeramarni commented on #803
@johnnyreilly Found out to be that was the issue, so removed the following configuration. If you have any reference to `webpack` documentation which says that can be not needed would be great.
[code]

[2018-07-02 16:33] #803 closed

[2018-07-02 16:34] johnnyreilly commented on #803
Great - glad it works!

I don't think I've seen

[code]

in a `webpack.config.js` file before.  What made you add it initially?

[2018-07-03 03:41] nonoroazoro commented on #639
![default](https://user-images.githubusercontent.com/383132/42197571-fefd4f7c-7eb5-11e8-8783-1edec00d65d7.png)

[2018-07-03 03:54] nonoroazoro commented on #639
Finally, I use awesome-typescript-loader to solve this problem...

[2018-07-03 06:08] johnnyreilly commented on #639
@nonoroazoro it's great that you found something that solves your problem. I'd love to see a PR that solves this for ts-loader.

[2018-07-03 11:42] reda-alaoui commented on #625
This parameter is not accepted by Windows ...

[2018-07-04 14:02] amiiit commented on #767
@SuperDJ and anyone else that might wonder, I found my error and it was ridiculously stupid: Apparently I was running `tsc` on my project before and so I was having some stale `.js` files next to the typescript files. Now `ts-loader` resolved the stale JS files which did not contain my new exported stuff, which resulted in the error above.

After banging my head for about a day and a half I realis

[2018-07-07 16:44] r-hannuschka commented on #190
Got the same issue with ts-loader 4.4.1.

my tsconfig.json for webpack looks like this.

[code]

webpack.config.js
[code]

[2018-07-08 21:53] Deathangel908 opened #804 "ts-loader doesn't resolve dependencies if file-loaders follows"
### Expected Behaviour
 ts-loader should resolve imports
### Actual Behaviour
 generated file contains `import a from a`
### Steps to Reproduce the Problem
[ Check out my stackoverflow question](https://stackoverflow.com/questions/51227698/ts-loader-file-loader-doesnt-resolve-require-dependencies)

**main.ts**:
[code]
**sw.ts**
[code]

**webpack-config.js**:

[code]

### Location of a Minimal Repo

[2018-07-09 05:02] johnnyreilly commented on #804
My advice (you're not going to like it) is that service workers have some complexity involved. I recommend using a project like WorkBox to make your life easier:

 https://developers.google.com/web/tools/workbox/guides/generate-service-worker/webpack

I've blogged about this in the past in case it helps: https://blog.johnnyreilly.com/2017/11/the-typescript-webpack-pwa.html

Apologies, I know this

[2018-07-09 05:02] #804 closed

[2018-07-09 10:38] Deathangel908 commented on #804
How does it solve the problem? I don't need caching in service worker at all. It's even not about service worker. I want to generate separate entry in webpack that webpack-dev-server wouldn't add additional functionality into. Furthermore in the [link] you provided:(https://developers.google.com/web/tools/workbox/modules/workbox-webpack-plugin) you provided

![image](https://user-images.githubuser

[2018-07-09 12:18] johnnyreilly commented on #804
Hey @Deathangel908,

I'm sorry I wasn't able to solve your problem for you.  I wanted to let you know about the service worker possibilities since I've found them helpful in the past.

I'm closing this issue as it's not a specific issue with ts-loader.  However, if you do manage to solve your problem in a way that makes you happy, I'd encourage you to post back here to help others.

Many thanks an

[2018-07-09 13:09] Deathangel908 commented on #804
Could you please guide me which part of build system is responsible for resolving `import` dependencies ? So I could investigate it further.
 - webpack
 - typescript
 - ts-loader

I thought ts-loader should feed files to `typescript` so it can assemble them together.

[2018-07-09 15:42] cowchimp opened #805 "Different output when using `transpileOnly: true`"
### Expected Behaviour

Given the same input, the resulting bundle created when using 'happypack' is should contain the same transpiled javascript as that in the bundle created using the 'vanilla' approach.

### Actual Behaviour

The bundles are different in a way that produces javascript that results in a runtime exception. What was an object property in the "vanilla" bundle is suddenly a standal

[2018-07-09 17:22] johnnyreilly commented on #805
Thanks for the detail! Question: do you have the same problem if you use cache-loader / thread-loader in place of happypack? I ask as the happypack example was written pre-webpack 4 and I'm not clear how well happypack plays with webpack 4. It's worth saying that thread-loader / cache-loader should fulfill the same purpose.

Here's an example to test with: https://github.com/TypeStrong/ts-loader/t

[2018-07-09 17:32] cowchimp commented on #805
Thanks for the reply.
The bug manifests in the `thread-loader` example as well.
In fact, this illustrates the difference between the two outputs really well, because now the only difference between the `vanilla` and the `thread-loader` bundles is in that specific line with the missing `foo` object (and all the other webpack boilerplate is the same).

I updated my fork so that the `thread-loader` d

[2018-07-09 17:56] johnnyreilly commented on #805
Interesting. Out of curiosity, what purpose do the `namespace`s in the code have? If you drop them (in a modular codebase they shouldn't be necessary anyway) does the difference remain?

Something else to try: if you take your `vanilla` example and supply the `transpileOnly: true` option to ts-loader, does the issue present?

[2018-07-09 18:03] johnnyreilly commented on #805
BTW it might be worth reading the "Needless Namespacing" section of the Typescript handbook:

https://www.typescriptlang.org/docs/handbook/namespaces-and-modules.html

The TL; DR is: you probably don't want to use namespaces if you're using modules

[2018-07-09 18:11] cowchimp commented on #805
You're right, when supplying `transpileOnly: true` to the `vanilla` example, the `foo` variable disappears as well.
We're slowly migrating a large legacy codebase that used namespaces (back when it was the standard) to use modules. For the time being we need namespaces to keep working side-by-side with proper modules as we refactor.
But does the bug have to do specifically with namespaces? Can it

[2018-07-09 19:56] johnnyreilly commented on #805
I'm honestly not sure. What I can tell you is that the 2 mechanisms use 2 different APIs in the Typescript compiler; hence the different behaviour.

I feel like I used to know the reason why and I've now forgotten. Sorry!

I'd be tempted to suggest you port your codebase without happypack and then do it in one fell swoop when done. It's the sort of change you could automate; it's essentially a reg

[2018-07-10 09:28] amiiit commented on #767
@johnnyreilly I think this can be safely closed

[2018-07-10 09:46] johnnyreilly commented on #767
Thanks!

[2018-07-10 09:46] #767 closed

[2018-07-12 17:34] jannnik commented on #798
I have the same problem when using `import { WithStyles, withStyles } from '@material-ui/core';`. Did you find already a workaround or solution? Using `"declaration": true`is not an option for me.

[2018-07-13 02:50] bobohuochai commented on #596
try set options 'transpileOnly' value to set ?

[2018-07-15 15:03] stoneChen opened #806 "`transpileOnly: true` prevent from outputting declaration files"
It is not a bug, I just suggest documenting it in the README.
I am writing a Vue components lib, using `fork-ts-checker-webpack-plugin` and setting `transpileOnly: true`. Everything is wonderful but when building the source(`"declaration": true` in `tsconfig.json`), the declaration files do not appear in the dist! I google the problem for a long time, but no answer.

At last, I try setting `transp

[2018-07-17 03:30] idododu commented on #3
try `externals` config.

I got `Module not found: Error: Can't resolve 'angular'` error when run `webpack` in command line.
my source code is:
[code]
after put below config in `webpack.config.js`, it works great now
[code]

[2018-07-17 13:44] liangchunn opened #808 "Webpack does not recompile non-.d.ts type definitions"
Webpack does not detect changes made to a pure types file in `--watch` mode on incremental builds.
I have been struggling with this issue; it's somehow related to #697, but with non-`.d.ts` files.

[code]

[code]

After starting webpack in watch mode, removing `b: string` from `types.ts` and saving, no errors are emitted.

### Expected Behaviour
Webpack recompiles non- `.d.ts` type definitions

##

[2018-07-17 20:52] jakelauer commented on #800
I ended up circumventing the issue by using awesome-typescript-loader

[2018-07-17 20:52] #800 closed

[2018-07-18 14:49] smac89 opened #809 "Better stacktrace when an error occurs"
### Expected Behaviour
I expect a stack trace of the error and where it occured

### Actual Behaviour
I simply get a single line describing which line the error occured at

[code]
### Steps to Reproduce the Problem
Start a vue-typescript project with webpack and include a rule like this:

[code]

I also have the following in my webpack config:
`stats: "verbose",`

---

I have searched through all

[2018-07-19 00:27] subvertallchris opened #810 "Different type checking output when using transpileOnly"
### Expected Behaviour
Type checking output with `transpileOnly` enabled will match disabled.

### Actual Behaviour
After many many months with this enabled, my webpack builds started failing due to type errors that do not appear when running `transpileOnly`. Neither webpack nor VS Code's language service sees anything wrong, but the type error being reported isn't complete nonsense. It's almost a

[2018-07-19 16:54] subvertallchris commented on #810
I've managed to suss out some more details about this but I'm still unsure of how to troubleshoot further.

The root of my problem seems to be the types for React, `@types/react`.

When my version is locked to exactly 16.3.8, VS Code (and I think we could say the TS Language Service?) reports no errors, ts-loader with `transpileOnly` and `ForkTsCheckerWebpackPlugin` report no errors, ts-loader wit

[2018-07-19 19:02] johnnyreilly commented on #810
The only thing I can think of (and you've probably done this already) is to delete your `node_modules` / `cacheloader` etc folders, reinstall with `yarn install`, reboot vscode and restart webpack. That should give you a clean consistent setup. If it doesn't I'd be super surprised.

[2018-07-19 19:03] johnnyreilly commented on #810
Can you take one of the ts-loader examples and get this to reliably happen there?

[2018-07-19 19:05] subvertallchris commented on #810
I'm gone as far as to delete my local repo, reclone, kill yarn.lock,
rebuild, same issue. I'm working on a sample repo now but I like the idea
of trying to recreate it with your examples, I'll try that instead.

Chris

On July 19, 2018 at 3:03:23 PM, John Reilly (notifications@github.com)
wrote:

Can you take one of the ts-loader examples and get this to reliably happen
there?

—
You are receiving

[2018-07-19 20:04] subvertallchris commented on #810
I keep striking out on this. I'm adding more and more code to make the example app look like mine and it's just not happening. We tested this on two systems with our project and saw the same behavior, so if it is something screwed up on our end (which seems likely) then it made it into git.

Are there any caches that `ts-loader` could be using without `transpileOnly`? Any different source of type

[2018-07-19 20:30] johnnyreilly commented on #810
So that's interesting; you may have a dependency which is depending on a different version of react perhaps? Make sure all your dependencies are up to date perhaps? `yarn outdated` and check all your types deps are up to date?

[2018-07-19 20:44] subvertallchris commented on #810
I've checked for that and nothing jumps out. Looking in yarn.lock, the dependencies on `@types/react` all look like this:

[code]

My interpretation of the yarn.lock file is that it's resolving the above to 16.4.6 (latest) and then my explicit request of 16.3.18 is also resolved. In node_modules/@types/react, I see 16.3.18; however, those types that depend on react all have 16.4.6 in _their_ node_

[2018-07-19 20:58] johnnyreilly commented on #810
Shouldn't be, no. ts-loader just gets the Typescript compiler to handle all that. FWIW why don't you blow away your lock file and create anew to see if it helps?

[2018-07-19 21:02] subvertallchris commented on #810
Tried it a few times, no go. I don't know enough about how TypeScript works, at a low level, but offhand, are there any significant differences between how ts-loader calls upon TypeScript and how VS Code and/or the ForkTsChecker do it? My understanding is that VS Code uses the language service, does vanilla ts-loader use the language service through the same public API?

[2018-07-19 21:03] subvertallchris commented on #810
Sorry if I keep asking dumb questions, I'm just trying to come at it from different angles to fill gaps in my understanding since I can't really troubleshoot it on my own.

[2018-07-19 23:41] vankooch commented on #748
I've the same problem

    "ts-loader": "^4.4.2",
    "typescript": "^2.9.2",
    "webpack": "^4.16.1"

[2018-07-20 02:42] subvertallchris commented on #810
I think this has something to do with the way yarn is handling multiple versions of the same types package, in this case `@types/react`. Using the same `package.json` file where I have my version locked to 16.3.18 and with `node_modules` blown out before each run, I encounter this consistently when using yarn to compile but never when using npm. Looking at npm's `package-lock.json`, I do not see a

[2018-07-20 04:38] johnnyreilly commented on #748
To re-iterate what was said earlier: ts-loader 4 supports webpack 4. If you're on webpack 3 then run with ts-loader 3.x. AFAIK there is no issue with ts-loader.

[2018-07-20 04:38] #748 closed

[2018-07-20 04:42] johnnyreilly commented on #810
Without a reliable reproduction I think this should be closed.

Fork-ts-checker-webpack-plugin and ts-loader use the same services. There's a difference in how fork-ts-checker-webpack-plugin resolves files but that's it really.

[2018-07-20 09:23] vankooch commented on #748
Sorry for this, but I'm using webpack version 4.16.1 as mentioned in my first post.

[code]

[code]

I'm using nuxt, maybe this the problem. I'll check that out next week.

[2018-07-20 14:17] subvertallchris commented on #810
Alright, let's close it. Maybe it'll be helpful to someone in the future. Thanks for your time with it.

[2018-07-20 14:17] #810 closed

[2018-07-20 15:43] johnnyreilly commented on #810
No worries. Sorry I couldn't be of more help

[2018-07-20 15:48] donaldpipowitch commented on #809
Looks like you use `webpack-command`, right? The error is shown if you use `webpack-cli`, but `ts-loader` could change the error handling so the error is shown in both cases. Here is some background: https://github.com/webpack-contrib/webpack-stylish/issues/21.

[2018-07-20 16:00] chrumck opened #811 "TS18002 Error thrown when building prod package"
### Expected Behaviour
Should compile without errors

### Actual Behaviour
Returns this error below. The interesting thing is that it is transient. The build sometimes succeeds with the success rate of ~50%
[code]
### Steps to Reproduce the Problem
This is the config I use:

#### webpack.common.js:
[code]
#### webpack.prod.js:
[code]

[2018-07-20 16:48] johnnyreilly commented on #809
Ah - thanks for making sense of the confusion @donaldpipowitch; good work!

I'm still rolling with `webpack-cli` which is why this hasn't bitten me yet I guess. (Might well switch at some point, but whilst `webpack-cli` "just works" I haven't felt the need.)

Either way, we'd be totally open to PRs that make ts-loader work better with `webpack-command`. The idea is we build something that serves t

[2018-07-20 16:52] johnnyreilly commented on #811
Weird. This should consistently error if this error is true:

[2018-07-20 18:09] shellscape commented on #809
Essentially: no loader or plugin should ever add plain strings to the `errors` or `warnings` collections on a compilation. Allowing strings was a glaring architectural failure leftover from the early days of webpack, and it has yet to be corrected.  Since there's really been no standard implementation nor recommendation for how loaders and plugins should be written, the ecosystem is a bit of a mes

[2018-07-20 18:23] johnnyreilly commented on #809
Thanks for the info @shellscape. If someone wants to submit a PR along the lines suggested here I'll review it.

It's possible I might get to this myself at some point but that's likely to be later rather than sooner.

Oh and anyone putting together a PR; don't worry about initially failing tests. Just start the PR and I'll collaborate with you to get to merging status.

[2018-07-20 20:32] chrumck commented on #811
Yes, I find it weird too, an frustrating to debug, because it looks like a race condition or something

But anyway, if anybody needs a working repro, I can try and extract enough code for that, without copying the whole frigging codebase of the project I work on.

[2018-07-21 06:08] johnnyreilly commented on #811
Yeah - give it a go. If you have a reproduction then someone may be able to help. Also, I often find that the act of producing a repro reveals the problem!

[2018-07-21 15:29] liangchunn commented on #808
I've found a workaround to this issue by using `transpileOnly: true` for `ts-loader` and leveraging `fork-ts-checker-webpack-plugin` to do the type checking.

Ambient type definitions are still not reloading on save ( issue being tracked here https://github.com/Realytics/fork-ts-checker-webpack-plugin/issues/36 ), but it does not 'persist' across incremental builds anymore.

[2018-07-21 15:29] #808 closed

[2018-07-23 20:12] chrumck commented on #811
Ok, [here is the repo reproducing the bug](https://github.com/chrumck/ts-loader-issue-811). I got the bug to reproduce on two different machines, but it seems the probability of it was different (lower) on the other computer. Just for the record, the machines were both Windows 10.

The funny thing though is that the repro does not build at all. If you don't get the error as reported with this issu

[2018-07-23 21:13] johnnyreilly commented on #811
Well done for putting together a repro repo! It could be more minimal so let's see if we can pare it back further and hence reveal the issue.

I've been reading the code of your repo and I've got a few things you could try.

In the `tsconfig.json`:

- do you want to drop the `exclude` property? I doubt it's the problem but I also doubt you need it.

- `outDir` - you don't need this if you're using

[2018-07-23 21:56] chrumck commented on #811
Thanks for you input on my setup!

Here are replies to your suggestions:

The project the repro was derived from is using `arcgis-js-api` which is stuck deep in the JS past. Among other things, it uses DOJO loader and build process. Suffice to say, it's a major headache and adding `outdir` and `exclude` is a part of the scheme to keep my head from exploding.
Also, I run 'tsc' as a VS Code task to

[2018-07-24 06:18] johnnyreilly commented on #811
Of course! I'd recommend taking a look at this setup here:

https://github.com/TypeStrong/ts-loader/tree/master/examples/core-js

It's not perfect, but it offers 2 tasks that are interesting to you:

[code]

I think I can possibly help you here. But first I need to better understand what you're trying to do. Would you like to give me the most basic explanation of what you're trying to achieve here

[2018-07-24 15:16] chrumck commented on #811
Thank you again for looking at it for me!

It all starts with the fact that the app is part of a .NET WebApi project which gets deployed to several environments. The problem is that each environment has a different host url and that url does not match the `window.location.hostname` browser variable. That means that I have to dynamically set the `__webpack_public_path__` based on some HTML data att

[2018-07-24 15:31] johnnyreilly commented on #811
I *think* so.  Let me play it back to you:

- You want to do a build
- You want the application to start up and serve up an HTML page which contains the base URL of your web API endpoints
- You want the base URL of future HTTP requests to be populated by this

Is that correct?

[2018-07-24 15:36] johnnyreilly commented on #811
If this is correct, this is a common scenario.  The system I'm working on right now does this very thing. We tackle it differently.  Our (single) entry script essentially does the following:

- reads HTML attributes from the DOM (including base URLs)
- initialises a "server data" object in the application and passes it into the application.
- the base URL in the server data object is used to prefi

[2018-07-24 16:11] chrumck commented on #811
-reads HTML attributes from the DOM (including base URLs)
 -initialises a "server data" object in the application and passes it into the application.
 -the base URL in the server data object is used to prefix all future HTTP requests
Does this solve your scenario or have I misunderstood what you're trying to achieve?

That is happening in my app too, but that's not exactly the problem I'm addressi

[2018-07-24 16:40] johnnyreilly commented on #811
So this is super confusing to me.  I don't think I actually understand what your setup is designed to do.  Why would `webpackPublicPath` be necessary?  Doesn't the very nature of using webpack mean that chunks are available in the same context as when you're running?

Better question: if you took away `webpackPublicPath` why would it not work just fine?  `require` statements / `imports` should be

[2018-07-24 17:39] chrumck commented on #811
I'm sorry that it is confusing to you. Maybe I'm doing something wrong here, but the chunks end up being under different directories for different environments.

The whole .NET app gets exposed under different virtual directory depending on the environment. For example, its going to be under `foo.com`  on one server and `bar.com/app` on another. If I statically set the webpack's `output.publicPath

[2018-07-24 18:06] johnnyreilly commented on #811
Okay that's cool. The surprising bit to me is that all the chunks aren't together. Like all the files in a single directory. How does that come to pass?

[2018-07-24 18:12] chrumck commented on #811
The chunks *are* together, but the relative path differs from server to server for all of them.

[2018-07-24 19:00] chrumck commented on #811
Sure! I hope this convolution is no too annoying to you :)

The .NET app I'm working on gets deployed to several servers. The trick which is happening here is the relative path is set differently for each of these instances. To bring up the example from above, you would navigate to `foo.com` for one and `bar.com/app` for another to open the app. When the page is requested, the Razor engine generat

[2018-07-24 20:02] johnnyreilly commented on #811
Ah cool - I follow (I think!)

Great so that worked? Is the problem still remaining without the extra entry point?

[2018-07-25 15:40] chrumck commented on #811
Yes, it did!

You need to be careful with slashes when setting the `href` attribute in `<base>` and then use a relative path in `output.publicPath`, something like `dist/` and it all works with out-of-the-box webpack runtime settings.

The added benefit is that I was able to take advantage of this setup when calling api endpoints from within the app itself, so the app can be oblivious to the serve

[2018-07-25 17:37] johnnyreilly commented on #811
I'm glad you're sorted! There may still be a problem with ts-loader but until a more targeted repro is available I think I'd like to close this.

[2018-07-25 17:37] #811 closed

[2018-07-27 09:47] jonrimmer opened #812 "Broken code generated for decorator metadata"
### Expected Behaviour

`ts-loader` should output legal code for decorator metadata.

### Actual Behaviour

`ts-loader` outputs code with broken references.

### Steps to Reproduce the Problem

Define a decorated class property, like this:

[code]

Then compile it using Webpack and `ts-loader`, with `emitDecoratorMetadata` and `experimentalDecorators` enabled in your ts-config.

You can see the ou

[2018-07-27 10:07] jonrimmer commented on #812
Sorry, this seems to actually be a TS compiler bug, not a ts-loader bug.

[2018-07-27 10:07] #812 closed

[2018-07-29 11:05] Lemenxzy commented on #505
Adding appendTsSuffixTo to vue-loader options for ts files fixed my problem:
[code]

[2018-07-29 11:06] Lemenxzy commented on #505
"vue-loader": "^14.2.1",

[2018-07-30 03:23] stoneChen commented on #806
Sorry for making this PR so late. https://github.com/TypeStrong/ts-loader/pull/813

[2018-07-30 05:13] johnnyreilly commented on #806
Thanks for the PR!

[2018-07-30 05:13] #806 closed

[2018-07-30 23:09] noahm commented on #793
This issue should now be resolved with today's release of Typescript 3.0 😄

[2018-07-31 05:33] johnnyreilly commented on #793
Awesome!

[2018-07-31 05:33] #793 closed

[2018-07-31 08:54] lednhatkhanh commented on #637
Hello, any updates on this?

[2018-07-31 23:08] abirmingham commented on #757
Any update on this? Would love to use experimentalWatchApi but the 'experimental' part makes me skittish :)

[2018-08-01 05:04] johnnyreilly commented on #757
I'm afraid not @abirmingham. I don't have any more information than what you see in this thread. I'm hoping someone will supply a minimal repro repo so that someone can investigate a concrete issue. At present it's somewhat unknown where the dragons lie. Frustrating alas

[2018-08-05 23:09] eamodio commented on #660
While I agree that webpack should fix the start/end watch mode issue, https://github.com/webpack/webpack/issues/5895 is closed. Hopefully it can be reconsidered. But it would be great if the error output matched tsc

[2018-08-06 05:27] johnnyreilly commented on #660
If someone wants to submit a PR I'll take a look.

[2018-08-07 09:54] nandafirmans opened #814 "Module Build Failed : Cannot read property 'fileTimestamps' of undefined"
I've just update to webpack 4 and updating ts-loader to 3.5.0 and got error while running webpack watcher

[code]

[2018-08-07 10:08] nandafirmans commented on #814
its work after uninstall and reinstalling ts-loader

[2018-08-07 10:08] #814 closed

[2018-08-08 07:20] Cactucs opened #815 "Support for TS 3 project references"
We have a monorepo when one of the packages is compiled with webpack, but references other package from the monorepo. We are using project references (new in TS 3) to compile only the packages, that are needed (the changed one and other that have reference to it). Is there a way to make it work with webpack? Currently we are compiling it with tsc and then bundling compiled js with webpack, but it

[2018-08-08 11:02] johnnyreilly commented on #815
Hey @cactucs,

Project references support isn't implemented as yet. If you'd like to we'd be happy to look at a PR. If you're wondering what would need to change then take a look at the gulp-typescript changes as a guide:

https://github.com/ivogabe/gulp-typescript/pull/579/files

Don't worry about broken tests; feel free to just start the PR process and we can use that as a basis for collaboratio

[2018-08-09 01:11] andrewbranch commented on #815
@johnnyreilly I started taking a look at this; I got curious about it at the exact same time as @Cactucs. It seems that ts-loader’s `transpileOnly` path is pretty similar to what gulp-typescript does, but the code paths that use the language service and the experimental watch API are pretty different.

As a test, I wrote a project where the root tsconfig file uses `strict: false` and the reference

[2018-08-09 01:15] andrewbranch commented on #815
Here's the diff: https://github.com/TypeStrong/ts-loader/compare/master...andrewbranch:project-references?expand=1

[2018-08-09 01:34] andrewbranch commented on #815
That said, I'm not sure what exactly the expected behavior for webpack and project references _is_. `tsc --build` works in part by checking timestamps on the emitted JS and d.ts files from dependent composite projects, but of course using webpack is going to totally change what happens to that emit (gets piped into the bundler instead of written to disk right away). At least, semantic error checki

[2018-08-09 04:54] johnnyreilly commented on #815
First of all, thanks for your work @andrewbranch!

An excellent question; and honestly I'm not sure I know the answer.

I'll cc @RyanCavanaugh @rbuckton in case they have a view. But for myself I'm not too sure.

That said, I'm open to exploring options.

[2018-08-09 17:34] andrewbranch commented on #815
Just pushed a commit that “fixes” making the language service aware of project references, causing an error to occur when the dependent composite project isn’t built (which is indeed what `tsc` does without `--build`), so that seems like a step forward. Need to update the error reporting hooks so that the error that’s shown isn’t

[code]

but rather the semantic diagnostic generated by the program

[2018-08-09 17:55] johnnyreilly commented on #815
Please keep investigating. I'm open to having an option that flips between modes if that seems useful. Probably best you do some real world experiments and report back on what seems to make sense.

[2018-08-09 18:05] andrewbranch commented on #815
Sounds good to me; I'm happy to keep experimenting, but would definitely appreciate input from the TS team here. Technically I guess they’re coworkers of mine so maybe I can track someone down. 😄

Pushed another commit that basically finishes option 1 for the language service path; should hopefully be simple enough to do the same for the `createProgram` and `createWatchProgram` paths.

I've been t

[2018-08-09 19:15] johnnyreilly commented on #815
Great! @mhegazy @DanielRosenwasser @sheetalkamat @RyanCavanaugh @rbuckton would any one of you be able to advise your erstwhile colleague @andrewbranch on what a sensible course of action here would look like?

Yeah it is a bit.  Essentially there's 2 test suites; each with a subtly different purpose.  The comparison test pack and the execution test pack.  Have a read of the README's to find out m

[2018-08-10 15:03] andrewbranch commented on #815
@johnnyreilly, how would you feel about splitting my proposed two possibilities into two PRs? I _think_ I’m almost done with the first part (using built project references, but not building them), which I think is useful on its own, and I would hate to see it languish if figuring out the second part takes a long time or I can’t commit as much time in the future. I'll go ahead and open a WIP PR and

[2018-08-10 16:18] andrewbranch commented on #815
I’ve hit a bit of a speed bump upon realizing that `program.getSourceFile()` for a file in a project reference, assuming the dependent project is built, returns a SourceFile object describing the `.d.ts` declaration for that file/project. For Webpack’s purposes though, we need to get the corresponding `.js` file, and I’m having trouble figuring out an API to do that. Although, I think it’s guarant

[2018-08-10 16:59] johnnyreilly commented on #815
This is true unless they've set `declarationDir` in their `tsconfig.json` I believe; see https://github.com/TypeStrong/ts-loader/blob/master/src/tsconfig.json for an example.

So you should be able to derive the location of the original source file using the info in the `tsconfig.json`. it seems reasonable enough to try and use that as the basis for a decision?

[2018-08-10 17:18] RyanCavanaugh commented on #815
Hey all, thanks for taking this up. Here to answer some questions (I'll be checking in on this all day so let's get chatty).

To compute the output JS filename, you can use this code from `src/compiler/tsbuild.ts`:
[code]

Some general discussion - in a way, project references and tsbuild's behavior of building upstream projects are actually totally orthogonal, though obviously related. Project re

[2018-08-10 17:33] andrewbranch commented on #815
@RyanCavanaugh awesome, thanks! Appreciate you taking the time to offer some expertise here.

One immediate question: looking at the snippet from `tsbuild.ts` you pasted, that function isn’t exported and most of the functions it calls are also not exported—would the team consider exporting this so we don’t have to duplicate the logic?

[2018-08-10 17:38] RyanCavanaugh commented on #815
@andrewbranch certainly. If you can come up with a list we can open a bug on our side and review them

[2018-08-10 18:04] andrewbranch commented on #815
I think `getOutputJavaScriptFileName` is the only thing I need for now, as I think the only thing left to do for getting ts-loader to understand project references is to be able to find the JS for a given file inside a referenced project.

@johnnyreilly this is making me realize, though... if the referenced project uses `outFile` to produce a single concatenated output JS file, we probably don’t w

[2018-08-10 18:52] johnnyreilly commented on #815
Yeah - I don't think this works in the scenario with `outDir`. But then I think that's probably to be expected.

[2018-08-10 19:00] andrewbranch commented on #815
@RyanCavanaugh the only other thing that's a little awkward at the moment that maybe you can help with: determining the project reference (if one exists) for a given file path. Right now I'm doing

[code]

Is there a more efficient way, whether public or internal, for getting that?

[2018-08-10 20:00] dylanseago commented on #660
I was able to get it working using the following tasks.json: https://github.com/go-faast/faast-portfolio/blob/81877b7ce302748f25d48a458cd6680cad36ace9/.vscode/tasks.json

[2018-08-10 20:58] rileyjbauer commented on #268
Should this option be re-opened? I'm still running into the same problem that @MichaReiser described with webpack `4.16.5` and ts-loader `4.4.2`

I have two `ts-loader` instances for different parts of my project, each with their own `tsconfig`, and when I run with both instances, I just get a small message like "./test/components/test-runner.ts] 1.05 KiB {index} [built] [3 errors]" and then "Comp

[2018-08-10 21:08] RyanCavanaugh commented on #815
@andrewbranch I believe that's the simplest way to do it, yes. I don't think we provide any API for it

Correct; there are currently no compiler options which move the .map file

[2018-08-11 05:34] johnnyreilly commented on #268
Feel free to open a new issue that links to this with a minimal repro repo.

[2018-08-14 07:43] Wyntau opened #819 "ts-loader threw away vue-loader's output sourceMap and can't set breakpoint in vscode-chrome-debugger, but babel-loader works well"
### Expected Behaviour
`ts-loader!vue-loader` can use vscode-chrome-debugger and break points are set and hit correctly.

### Actual Behaviour
`ts-loader!vue-loader` break points are not set and hit correctly. but `babel-loader!vue-loader` works well.
In `tsconfig.json` I have set `compilerOptions.sourceMap` to  `true`, and in webpack config, I have set `devtool: 'source-map'`, but I still can't s

[2018-08-14 11:35] JonWallsten opened #820 "Support for TypeScript 3 Declaration map"
I'm going to be honest, I don't fully comprehend how ts-loader interacts with the typescript compiler (API?) so I'm not sure when/where in the chain this has to be corrected. But when enabling declarationMap: true in tsconfig and building with Webpack/ts-loader I don't get any map files.
When running the typescript compiler, tsc, I get those files.
I'm not sure if ts-loader isn't submitting the fi

[2018-08-14 12:01] johnnyreilly commented on #820
Do you have `sourcemap: true` in your `tsconfig.json`

[2018-08-15 05:53] JonWallsten commented on #820
@johnnyreilly Yeah! I get the maps when I run "tsc", I just don't get them when I run webpack/ts-loader.

[2018-08-15 14:12] P0oOOOo0YA commented on #35
linking with npm is not a solution, i have `typescript` and `electron` globally installed by npm in `/usr/lib/modules` and in the `tsconfig.json` `basedir` is set to it. running `tsc` works without complainig about paths, it can find everything `ts-loader` even by links starts a loop of errors for everything installed globally.

[2018-08-16 13:18] JonWallsten commented on #190
I have the same problem. The path's base when generating declaration seems to be the outDir. But for the typescript compiler it's the project root. I can take a look at this and submit a PR if I find a solution.

[2018-08-16 18:45] eamodio commented on #660
I've gotten things working decently well with this problem matcher for both `ts-loader` and `tslint-loader`:
[code]

The big issue is since there is no good start/stop message at the start/end of each recompile problems that have been resolved often stick around in vscode. I thought this was originally a vscode issue, but you can see the resolution here: https://github.com/Microsoft/vscode/issues/

[2018-08-16 19:53] eamodio commented on #660
If you aren't using multiple configs (i.e. returning an array from your webpack config) (See: https://github.com/webpack/webpack/issues/7906), it looks like you can use `webpack --watch --info-verbosity verbose` to get lifecycle start and end messages

Using that and changing the problem matcher to the following seems to work well:

[code]

[2018-08-16 22:55] johnnyreilly commented on #660
If someone wants to submit a docs PR to cover this I'll happily take a look.

[2018-08-17 15:05] JonWallsten commented on #820
Fixed by https://github.com/TypeStrong/ts-loader/pull/821

[2018-08-17 15:05] #820 closed

[2018-08-18 13:47] ChrisTalman opened #823 "DeclarationBundlerPlugin and Webpack 4.0"
Is `DeclarationBundlerPlugin` known to work with Webpack 4.0?

I attempted to use it, but it seems to throw an exception of the kind which gets thrown when a plugin isn't compatible with Webpack 4.0. The specific exception [can be read here](https://gist.github.com/ChrisTalman/51e9caa333c8482e32a9608d7f1db194).

[2018-08-18 14:55] johnnyreilly commented on #823
Heya, I don't know I'm afraid. It might be worth asking the author of the plugin.

[2018-08-18 14:55] #823 closed

[2018-08-18 16:29] ChrisTalman commented on #823
Hey @flyon, if you have a moment, any help would be appreciated.

[2018-08-18 17:00] flyon commented on #823
hi @ChrisTalman , havn't been maintaining this library, I'll try to find some time to have a look at it.
in the meanwhile: the deprecation warning is due to the new hooks API, so it should be
		compiler.hooks.emit.tapAsync('DeclarationBundlerPlugin', (compilation,callback) =>
but the error for `.split()` I'd have to look into it better.

[2018-08-21 08:55] VrajSolanki commented on #748
@johnnyreilly why is this issue closed? I am myself having these versions
[code]

[2018-08-21 08:59] vankooch commented on #748
It turns out that the bug was in somehow related to nuxt. I've switch to nuxt-edge and now it's working.

[2018-08-23 15:49] pkieltyka commented on #815
It seems the presence of the `"composite": true` setting in tsconfig.json makes ts-loader v4.5.0 blow up.

I'm using `"composite": true` in one package, so my ts-node server package that uses `tsc` to build can use that referenced package's files.. however, im getting the following error when using my webpack config + ts-loader (the only difference from it working or not, is composite true/false f

[2018-08-25 15:52] dimonomid commented on #5
Hi everyone in this ancient thread. So the comments that suggest that the issue is fixed, but I'm trying to use a webpack config like this:
[code]
And when in `index.ts` I'm importing it:
[code]
I'm getting:
[code]
I'm using the latest `ts-loader` 4.5.0.

When I try to remove the typescript part and use plain javascript, it works just fine.

Is there something I'm missing?

[2018-08-25 21:27] johnnyreilly commented on #5
Do you have `@types/jquery` installed? Also do you want to try `import * as $ from 'jquery'`?

[2018-08-27 02:04] simonbuchan commented on #793
For google juice: You get the same error message for Microsoft/TypeScript#26554.

It seems like both `ts-loader` and TS itself could handle internal TS error messages better: the problem here is that it's trying to get the error diagnostics when compilation fails, but that also goes through the failing path (since it thinks the lazy init hasn't happened yet). Should this be a new issue: to give mo

[2018-08-27 05:44] johnnyreilly commented on #793
Yes I think so.

[2018-08-27 06:14] gluons commented on #190
@johnnyreilly I've investigated `provideDeclarationFilesToWebpack` with [my repo](https://github.com/gluons/ts-loader-declaration-issue).
Thank you for your hint.

`compilation.compiler.context` is my current working directory.
`declarationFile.name` will give the absolute path to declaration file within the same place as source file.

So, after `path.relative`, the final path will contain `src`

[2018-08-27 06:33] johnnyreilly commented on #190
Hey @gluons,

Thanks for the detail. The issue should be resolved by this PR: https://github.com/TypeStrong/ts-loader/pull/822

I'm planning to merge and release this in future. Feel free to test out the PR ahead of release. Early feedback is always welcome!

[2018-08-27 06:48] simonbuchan opened #824 "Original TS internal error is hidden"
Pulled out a more specific request from #793

### Expected Behaviour

When hitting (certain) internal TS errors such as Microsoft/TypeScript#24932 (TS 2.9.1) and Microsoft/TypeScript#26554 (TS 3.0.1), `ts-loader` attempts to get the error diagnostics which can fail with a stack like:

[code]

### Actual Behaviour

The original TS error is reported, e.g. for Microsoft/TypeScript#26554

[code]

###

[2018-08-27 13:54] johnnyreilly commented on #824
Thanks for the detailed issue; that's always helpful. Do you have any insight as to what you feel a sensible workaround would look like?

[2018-08-27 22:37] simonbuchan commented on #824
I was a bit stymied figuring out where the original error got swallowed, the debugger stops in what looks like regenerator-runtime code with no user code on the stack. My guess is that either you or webpack are catching the exception to be reported later, but this hook is being fired first. If so, adding a flag tracking that an error was thrown so you know not to call back in should be enough?

[2018-08-28 06:57] johnnyreilly commented on #824
Just had a thought. Is this specifically related to `projectReferences` functionality? (Hence `composite: true`?)

That's not supported in ts-loader yet, but hopefully will be: https://github.com/TypeStrong/ts-loader/pull/817

[2018-08-28 07:26] simonbuchan commented on #815
@pkieltyka You've probably found this already, but just in case: you're hitting Microsoft/TypeScript#26554, which you can work around without breaking `tsc` by adding `options: { compilerOptions: { composite: false } }` to your loader config.

[2018-08-28 07:46] johnnyreilly commented on #824
Could you share a link to that please? I'd love to read.

Roughly speaking you can track where errors are propogated by looking for `module.errors.push`:

https://github.com/TypeStrong/ts-loader/search?utf8=✓&q=_module.errors.push&type=

Does that help?

Why don't you submit a PR to show me what you have in mind? Don't worry about tests for now; just something to illustrate what you're thinking of

[2018-08-28 11:43] dimonomid commented on #5
Thanks @johnnyreilly , installing `@types/jquery` fixed it. Hmm, I was so confused by the error message.

[2018-08-28 13:13] timocov opened #825 "Add cache for some FS operations while compile"
Hi there.

TypeScript makes a lot of identical FS operations such as:

- checking that some file/directory exists (e.g. for the identification an extension of a file it can [make up to 3 `fileExists` calls](https://github.com/Microsoft/TypeScript/blob/ac0d5da6313a6ee8965bf8dfff57aa00053d4532/src/compiler/moduleNameResolver.ts#L947))
- resolving original file path

To solve an issue described in ht

[2018-08-28 13:52] timocov commented on #825
Also, I'm not sure about correctness https://github.com/TypeStrong/ts-loader/blob/d8096aac0061cdd0ef9228fee5a0c2d137eca34f/src/servicesHost.ts#L49-L50 lines - if `compiler.sys.fileExists(path)` returns `false` we'll try to read file (but file does not exist).

[2018-08-28 13:59] pkieltyka commented on #815
thank you @simonbuchan — thats a nice trick to know. I ended up making a separate `tsconfig.ref.json` file which I extended from a version without composite: true and used ts-loader, but, knowing this trick it lets me remove that file, nice.

Will ts-loader be able to support project references soon? this would be helpful in a monorepo situation, something we're doing in our setup already with ts-

[2018-08-28 15:36] timocov commented on #825
I have checked with `ts-loader@3.5.0`, in `ts-loader@2.3.3` cold-compilation time is ~600s (I do not know why), but still can be effective.

[2018-08-28 16:40] andrewbranch commented on #815
@pkieltyka I'm hoping to get #817 merged next week. Note that means you'll still need to run `tsc --build` yourself somehow, but then ts-loader will take advantage of the built output from that. Thanks for your patience! Was hoping it would have been done by now myself. :)

[2018-08-28 16:46] johnnyreilly commented on #825
If you'd like to open a PR that tests this out that could be an interesting basis for discussion. Question though: how do you deal with cache invalidation? Whilst there's clearly benefit in caching, how do you deal with file structure / directories changing over time?

[2018-08-28 16:54] pkieltyka commented on #815
@andrewbranch thats awesome, perhaps trigger `tsc -- build` something along the lines as done like this plugin: https://github.com/Realytics/fork-ts-checker-webpack-plugin — you could make a fork-ts-project-references-build-webpack-plugin (lol, find shorter name), or offer an additional plugin directly inside of ts-loader to be hooked into the build cycle

[2018-08-28 17:02] johnnyreilly commented on #825
That's cool; take your time and give it a whirl!

So the cache lasts the duration of a single compilation? Each triggering of ts-loader would be working with a fresh cache? Okay; sounds reasonable.

[2018-08-28 17:04] johnnyreilly commented on #815
FWIW I'm a maintainer of https://github.com/Realytics/fork-ts-checker-webpack-plugin also and I'd be happy to review PRs to that as well 😊

[2018-08-28 18:09] ZSkycat opened #826 "vscode language service type check succeeded. But the webpack build showed error and emitted file worked fine."
### Environment
[code]

### What am I doing
I wrote the script part of the `.vue` file in a separate `.ts` file. (Because vue's language service is not perfect)
I am trying to make the `.vue` component have the correct type. I came up with the following two methods:

#### Method A
By tricking the `vscode` language service, the imported file for `vscode` is `*.ts`, but the imported file for `webpac

[2018-08-28 18:26] johnnyreilly commented on #826
I'm afraid I'm not a Vue user and so I'm not the best person to advise. Could be worth taking the Vue cli for a spin (for TypeScript it uses ts-loader I believe) and see where that lands you.

I'm going to close this issue as (AFAIK) there is no issue with ts-loader.

@herringtondarkholme would you be able to point @ZSkycat to a good resource? You seem to know all things Vue 😉

[2018-08-28 18:26] #826 closed

[2018-08-28 18:34] ZSkycat commented on #826
@johnnyreilly vue-cli support for typescript is very bad. I have used it.
This is not a problem with vue, but a problem with typescript type checking.
Especially for `Method B`, ts-loader seems to ignore the type description of `.d.ts`. Maybe related to `appendTsSuffixTo, appendTsxSuffixTo`.
I am very sad to close the issue.

[2018-08-28 18:48] ZSkycat commented on #826
@johnnyreilly
If I want to debug the ts-loader. Can you tell me what documents I should go to first?

[2018-08-28 19:15] johnnyreilly commented on #826
If you want to debug ts-loader I think you could probably start by adding `console.log` statements to the code in your `node_modules/ts-loader`; that should probably be enough to give you the information you seek.

[2018-08-28 19:26] ZSkycat commented on #826
I want to know the workflow and principle of ts-loader.Or where should I start?
I have tried to perform breakpoint debugging on ts-loader. But I can't understand that ts-loader gives the same file name and text content to typescript, but it has different results.

[2018-08-28 20:02] johnnyreilly commented on #826
Very roughly: webpack asks ts-loader to compile a TypeScript module (a file). It does, using the TypeScript compiler, and it hands back webpack the compiled code.

[2018-08-29 02:17] Roustalski commented on #653
I would also like to chime in here. We are using create-react-app with the react-scripts-ts that uses all webpack under the hood and Inverisfy JS for our IOC, and this is popping up all over the place. I'll try out the workaround.

[2018-08-29 02:32] HerringtonDarkholme commented on #826
Another solution I found is to use fork-ts-checker-webpack-plugin. It has special logic to handle vue file.

https://github.com/Realytics/fork-ts-checker-webpack-plugin/blob/master/src/VueProgram.ts#L225-L241

@johnnyreilly What's your opinion, would you like to integrate specific frameworks' resolution logic to ts-loader?

[2018-08-29 03:37] HerringtonDarkholme commented on #826
I think this might be solved in vue-loader. If the script block is a relative import, vue-loader won't generate a `component.vue.ts` entry in webpack, for which ts-loader is seeking. Instead, it just issues a script import request to that relative src.

If vue-loader can always generate that bridging file, ts-loader can handle relative import as well!

@ZSkycat can you help me open an issue in vue

[2018-08-29 03:55] ZSkycat commented on #826
@HerringtonDarkholme
Vetur provides the correct type export for `.vue`, but Vetur does not support the refactoring of typescript, so I don't use this method.
My other way. https://github.com/vuejs/vue-loader/issues/1281#issuecomment-416712907

---

Sorry, I don't understand very well.
I understand that the omitted extension will be resolved by webpack.
[code]
When I debug ts-loader, I can see that

[2018-08-29 04:04] ZSkycat commented on #826
[code]

If it is not found because it is looking for './Hello.vue.ts'. Can we change this behavior?
When the type is checked, let it look for './Hello.ts'. But webpack is compiled the way it was.

[2018-08-29 04:14] ZSkycat commented on #826
@HerringtonDarkholme You are right!
When I add this file, the compilation no longer outputs an error.

Hello.vue.ts
[code]

I want to output the type of Hello, but it triggered an error.

[code]

[2018-08-29 04:15] ZSkycat commented on #826
Maybe we have a chance to fool the type check. Do you have any opinion? @johnnyreilly

[2018-08-29 05:25] ZSkycat commented on #826
@HerringtonDarkholme
I found a more appropriate method, thank you for reminding me.

We only need to spoof the IDE's language service to achieve the goal. For example:

Demonstrates Repository: https://github.com/ZSkycat/issue-ts-loader-20180829/tree/better

Hello.vue
[code]

Hello.vue.ts
[code]

Used in ts file
[code]

The most important thing is the naming of the ts file.
- For vscode, './Hello.

[2018-08-29 06:30] johnnyreilly commented on #826
I'm not that keen on doing this as it doesn't feel like it "fits" as a responsibility for ts-loader. More relevantly, I'm hesitant about making ts-loader need to evolve as Vue does.

That said, if the change isn't too invasive then I'd consider it. Though the vue-loader solution sounds more promising. I'm also open to having a hook in ts-loader which allows people to add their own custom resolutio

[2018-08-29 06:50] HerringtonDarkholme commented on #826
That's definitely a better solution. I would like to see ts-loader's support for ts-plugin.

[2018-08-29 07:02] johnnyreilly commented on #826
Go for it!

[2018-08-29 08:28] simonbuchan commented on #824
[Here's](https://www.typescriptlang.org/docs/handbook/project-references.html) the handbook page on project references. The structure I mentioned is described in the "Guidance" section at the bottom.

Messed around with the code for a bit, here's a hacky-looking fix:

[code]

Which gives the desired root error:

[code]

So webpack was the one catching the error and adding it to the compilation err

[2018-08-29 08:45] johnnyreilly commented on #824
Please bear with me as I'm away from home right now with only access to my phone and poor connectivity. Debugging in my head is difficult!

Isn't this what already happens? Or rather, reading through the hook logic I see the old TypeScript errors being removed but I don't see this happening:

I don't follow how that happens?

[2018-08-29 08:51] simonbuchan commented on #824
It's webpack that *essentially* replaces, by printing the new error, but not the error list.

When I say "error" here, I mean a thrown exception, not a result returned from the ts error apis. Sorry, this is a bit confusing to talk about!

[2018-08-29 08:52] simonbuchan commented on #824
Added a PR if you missed it; in case that's easier for you?

[2018-08-29 09:02] johnnyreilly commented on #824
Thanks I'll take a look

[2018-08-29 09:55] timocov commented on #825
Also, I noticed that `ts-loader` runs TypeScript synchronously in the main process what involves to block webpack's main process and webpack stops doing other stuff with other files until TypeScript finish compiling (I guess it is applicable for projects with mixed typescript and javascript files).

Is it possible to move LanguageService to other process and handle compilation there while webpack

[2018-08-29 13:26] johnnyreilly commented on #825
I'm not totally sure I get your meaning. But I wonder if this is covered by the fork-ts-checker-webpack-plugin? https://github.com/Realytics/fork-ts-checker-webpack-plugin

[2018-08-29 13:37] timocov commented on #825
Not exactly. We can use `fork-ts-checker-webpack-plugin` along with `transpileOnly: true` flag to speedup performance, right? In some cases we can't use `transpileOnly` flag (for example if we use global `const enum`s to inline some common constants).

For now LanguageService is created in main process and when webpack ask loader to process any file we ask LanguageService to compile this file, and

[2018-08-29 14:02] johnnyreilly commented on #825
Exactly right. If you'd like to experiment with moving it to a different process that could be fun! But yes, please raise another issue / PR to cover that I think.

[2018-08-29 15:34] timocov opened #830 "Try to move LanguageService to separate process"
I noticed that `ts-loader` runs TypeScript synchronously in the main process what causes blocking webpack's main process and webpack stops doing other stuff with other files until TypeScript finish compiling (I guess it is applicable for projects with mixed typescript and javascript files).

It is possible that we can move LanguageService to other process and handle compilation there while webpack

[2018-08-29 15:35] timocov commented on #825
Ok, I just created #830.

[2018-08-29 16:34] johnnyreilly commented on #830
Feel free to spike this and send a PR to collaborate on. Could be interesting!

[2018-08-29 21:13] kiliancs commented on #757
We tried `experimentalWatchApi` but it caused intermittent problems with json imports:

[code]

We haven't figured out how to reproduce this reliably. It would happen when switching branches in some cases, or simply by restarting webpack-dev-server, but only occasionally.

The problem would occur with both `import x from 'some_file.json'` as well as require('some_file.json')`, for what that's wort

[2018-08-29 21:53] sheetalkamat commented on #757
@johnnyreilly tsloader uses its own resolve module names api to resolve module name which could be causing this?

[2018-08-30 05:36] johnnyreilly commented on #757
Thanks for that @sheetalkamat - could be worth swapping that for TypeScript's one. I've a vague idea I started doing that and then backed it out at some point but I can't remember why. I think it may be time for a reattempt.

Of course if anyone would like to submit a PR that's always welcome 😁

It's a shame that there's no reliable way to reproduce this issue! At the moment we know there be drago

[2018-08-30 22:47] kiliancs commented on #757
False alarm @johnnyreilly. The issue still occurs without the experimentalWatchApi. It's safe to assume our problem was unrelated. Dragons indeed.

[2018-08-31 20:37] akopchinskiy opened #831 "ts-loader doesn't compiling project properly, however awesome-typescript-loader does"
### Expected Behaviour
Working like a charm

### Actual Behaviour
Causing errors

### Steps to Reproduce the Problem
no need

### Location of a Minimal Repository that Demonstrates the Issue.
no need

**tsconfig.json**
[code]

Config above isn't working with **ts-loader**, causing following error in my Angular 2 project:
[code]

**ts-loader** config:
[code]

**awesome-typescript-loader** config:
[

[2018-08-31 20:45] johnnyreilly commented on #831
I couldn't say - it's your project not mine 😉

What happens if you remove or tweak the `configFile` as per: https://github.com/TypeStrong/ts-loader#context-string-defaultundefined

[2018-09-03 07:14] liz282907 opened #832 "Module build failed: TypeError: Cannot read property getEmitOutput when pass data to ts-loader from the right loader"
### Expected Behaviour
to support the function of :  require('xx.name.json2')  = get data in the json2 file and inject to the tsx
file . i wrote the json2 loader. and then i have to pass the loader output data to ts-loader. however ,i got the following output:
[code]

### Steps to Reproduce the Problem
#### the vue.config.js
[code]

the actual webpack config:
[code]

the json2 loader output:
[code

[2018-09-03 15:42] johnnyreilly commented on #832
Sorry I don't think this is an issue with ts-loader?  It seems like you're building something - yay!  But it's not obvious that this is an issue with ts-loader....

[2018-09-04 02:05] liz282907 commented on #832
sorry but the error info is comming from ts-loader?

[2018-09-04 02:14] liz282907 commented on #832
and i tried to send the tsx content readed from the file and pass it directly to ts-loader (by chaining the previous loader ) . it has the same output error info.

[2018-09-04 05:10] johnnyreilly commented on #832
Pretty much. Though there's this: https://github.com/TypeStrong/ts-loader/blob/master/README.md#appendtssuffixto-regexp-default

Which caters for Vue files but is not specific to them; take a look!

[2018-09-07 19:35] veeramarni opened #833 "not emitting declaration files for `.d.ts` files"
### Expected Behaviour
Emit declaration file for simple interface ts file.
### Actual Behaviour
No `index.d.ts` file generated
### Steps to Reproduce the Problem
Try to run in on a package with just in Interface in it.
### Location of a Minimal Repository that Demonstrates the Issue.

This issue happens in `5.0.0` only, I don't see this issue in `4.0.0`

[2018-09-07 21:51] johnnyreilly commented on #833
@jonwallsten - could this be a side effect of the changes that shipped with 5.0.0 do you think?

[2018-09-09 19:57] #825 closed

[2018-09-10 06:12] JonWallsten commented on #833
@johnnyreilly No. And I couldn't reproduce. @veeramarni Have you adjusted the path so it's relative to the root and not the webpack outdir? I got an index.d.ts file, but in a different place.

[2018-09-10 07:52] felixfbecker commented on #830
Doesn’t this work with thread-loader?

[2018-09-10 08:02] johnnyreilly commented on #830
@felixfbecker also my original thought; there is a distinction - see discussion in linked thread. This is the relevant quote from @timocov:

[2018-09-10 08:07] timocov commented on #830
If I understand correctly how `thread-loader` works, I do not think that it may help us. If we'll use `thread-loader` - we'll have some processes with `ts-loader` in each one and we still may block main process.

[2018-09-10 08:52] timocov commented on #830
@felixfbecker I cannot tell you for sure, but compilation TypeScript is not async and every time when you request to compile some file it blocks the process until compilation is finished.

In our case we have the following situation:

- webpack starts bundling
- progress shows something like `12% building modules 23/55 modules 32 active PATH`
- then, when webpack meets the first TypeScript file, t

[2018-09-10 08:54] felixfbecker commented on #830
Yes, but isn't the point of `thread-loader` that it runs _the whole loader_ (i.e. `ts-loader`) in a completely separate process? So how would `ts-loader` then still be able to block the main process?

Have you tried using `thread-loader` in your setup?

[2018-09-10 09:07] timocov commented on #830
Hm, good point - I didn't think about it.

I need to check it. Quite possible that it can help here. 👍

[2018-09-10 09:41] timocov commented on #830
I just have played with `thread-loader` and here are results:

- It seems that it does the same thing I suggest to do in ts-loader. Thanks @felixfbecker!
- After compilation we have a lot of errors like `Module build failed: TypeError: Cannot read property 'plugin' of undefined` - I guess they are related to `thread-loader`'s limitation `Loaders cannot use custom loader API (i. e. by plugins).`. @

[2018-09-10 09:43] felixfbecker commented on #830
No, we don't have these errors. Here are the options we use for `ts-loader`, maybe this helps?

[code]

[2018-09-10 09:48] timocov commented on #830
We use `LoaderOptionsPlugin` to pass options. But I hope we need to update to latest webpack/ts-loader first...

[2018-09-12 13:59] wchatx commented on #758
@genox same problem and your fix solved it. thanks!

[2018-09-14 09:30] timocov commented on #830
Actually there is one difference between using `thread-loader` and `LanguageService` in different thread - in case usage `thread-loader` the state between services is not shared and quite possible that some instances of `ts-loader` (and `LanguageService`) will make the same work independently.

[2018-09-14 09:44] piecyk commented on #830
Yes that is true, just wondering in scenario that you use `fork-ts-checker-webpack-plugin` for type checking and `thread-loader  + ts-loader` for `transpileOnly` will be it worth to run the `LanguageService` in other process 🤔

[2018-09-14 09:46] timocov commented on #830
In some cases you just cannot use it - https://github.com/TypeStrong/ts-loader/issues/825#issuecomment-416956352

[2018-09-14 10:48] timocov commented on #830
Could you please share a little bit about your project: how many files ts/js do you have, cloc value?

Instead of declaring constants or importing `const enum`s from module we just created local types, which contains global `const enum` declaration like this:

[code]

_(this file is added to build the same as typing from `@types` folder)_

And use it like this: `if (e.keyCode === KeyboardEventKeyC

[2018-09-15 09:36] baixiaoji commented on #505
[code]
![image](https://user-images.githubusercontent.com/21168366/45584889-d390dd80-b90d-11e8-9965-f68492ebe53e.png)

I set your config in loaders config it's also error, I must to rewrite the loaders will ok  but I dont know why should I to cover the default loader option, all config file generate by vue-cli@2.9.3
-----
@Lemenxzy  我不清楚为什么，要覆盖vue默认的loader配置呢？（还是中文言简意赅呀!）

[2018-09-17 07:15] gallout commented on #752
How did you fix it?

[2018-09-19 16:47] chrismcv opened #837 "Heap dump following upgrade to webpack-4"
I've been fighting this for the last couple of days... have upgraded my medium/large project from webpack 2 => 4. The typescript parts are causing me grief as outlined below. I eventually got it working using the babel/preset-typescript, but I'm still curious about ts-loader no longer working. (It was fine with the previous webpack 2 version)

### Expected Behaviour
The following webpack yields a

[2018-09-19 17:09] johnnyreilly commented on #837
Without a minimal repo it's hard to help - I suggest comparing your setup with one of the examples:

https://github.com/TypeStrong/ts-loader/tree/master/examples

Closing as I don't believe there's an issue with ts-loader

[2018-09-19 17:09] #837 closed

[2018-09-19 18:56] roopkt commented on #263
Hi @mblandfo sorry to write on closed ticket.
I was also getting can not find 'split' of undefined error when I used your `fixed-declaration-bundler-webpack-plugin` class it fixed that error.
Your solution fixes the error that i am getting however my question is why we have not added your fix in ts-loader declarationbundle plugin ?

[2018-09-19 19:19] mblandfo commented on #263
I did email the maintainer but never got a response

[2018-09-20 15:11] shadygrove commented on #833
I was experiencing the same with ts-loader 5.1.1

Eventually, I removed the outDir from my tsconfig file and set it in my webpack ts-loader config...

const dist = path.resolve(process.cwd(), '_dist');

{
    loader: 'ts-loader',
    options: {
        configFile: TS_CONFIG_PATH,
        compilerOptions: {
            outDir: path.join(dist, 'typings')
        }
    }
}

End result was typings in

[2018-09-21 10:14] JonWallsten commented on #833
@shadygrove That's weird. The code is really straight forward. It should end up at the path TypeScript has generated. The only thing the loader does is calculate a relative path from the Webpack outdir instead of using the absolute path that TS provides. You would have to add some log statements and log the output for us to figure this out. It should work out of the box, so there seems to be a ver

[2018-09-22 04:15] robertmclaws opened #838 "NormalModuleReplacementPlugin doesn't play nice with ts-loader"
### Expected Behaviour
When I implement the pattern for the [NormalModuleReplacementPlugin](https://webpack.js.org/plugins/normal-module-replacement-plugin/), I expect that the ts-loader would be aware of the configuration and help swallow the compiler error so the compilation would finish.

### Actual Behaviour
Because './config/config-APP_TARGET' does not actually exist, the compiler throws an e

[2018-09-22 04:28] johnnyreilly commented on #838
Essentially here you're battling the TypeScript compiler. Thanks for sharing the workaround; that's helpful information.

I'm not sure what would make sense in terms of a change to ts-loader to support this more directly. We're open to PRs though... So if you have a good idea do share!

[2018-09-22 04:43] robertmclaws commented on #838
Thanks for the quick response!

Well, does ts-loader have access to the webpack configuration instance? Because if so, then ts-loader could parse the files with the NMRP function and hot-swap the values before the file is actually compiled.

Another option would be for ts-loader to parse exception messages with the NMRP function, and if any of them match, then swallow the exception... because the

[2018-09-22 06:52] johnnyreilly commented on #838
Ha - it's 7am here :smile:

ts-loader has access to everything that any loader has access to. I'm not certain that includes the webpack configuration instance anymore. If memory serves loaders used to have access to that prior to webpack 2. But not since (intentionally). Could be worth double checking that; I'm not 100%.

Probably the easiest option to achieve I'd imagine though it feels hacky.

I

[2018-09-22 23:38] arcanis opened #839 "TypeScript should be a peerdependency"
### Expected Behaviour

`ts-loader` shouldn't rely on undefined behaviors

### Actual Behaviour

`ts-loader` currently relies on the hoisting in order to have access to the `typescript` package

The fix is pretty simple: `typescript` just has to be listed as a `peerDependencies` of `ts-loader` (rather than just a `devDependencies`). This will guarantee that it will then get the exact same instance

[2018-09-23 05:48] johnnyreilly commented on #839
I'm open to this but I'm not sure how feasible it is. We build ts-loader with a specific version of TypeScript (latest and greatest usually) so we have a high version devDependency. But typically TypeScript can be used with a whole number of different versions of TypeScript. I'm not sure we can have it listed as a peer dependency as well as a devDependency with different versions.

BTW yarn is fin

[2018-09-23 14:34] #815 closed

[2018-09-23 16:57] arcanis commented on #839
It shouldn't be an issue semantically speaking - `devDependencies` are only installed for the top-level package, which by definition cannot see its peer dependencies satisfied. Something like this should give you the behavior you wish:

[code]

Glad to hear that! I'm actually one of Yarn's maintainers 😄 We've recently unveiled the [Plug'n'Play project](https://github.com/yarnpkg/rfcs/pull/101), wh

[2018-09-24 05:00] johnnyreilly commented on #839
Would you like to submit a PR that adds `peerDependencies` / `devDependencies` as suggested above?

I'll take it for a whirl.  If it works without problems then I'd be happy to merge it 😄

[2018-09-24 20:17] shadygrove commented on #833
@JonWallsten yes you may very well be right.  I got it working with the above and thought it might help others who may have a unique setup and struggling to get the output path correct.

So to clarify, our compilation is likely "outside-the-box" as we are running grunt-webpack to integrate webpack with existing build processes, and using webpack-merge to separate dev/prod/test configs, and various

[2018-09-25 06:02] JonWallsten commented on #833
@shadygrove I see. Let's find out. Please make the following change to `node_modules/ts-loader/dist/after-compile.js:142` and send back a part of the log.
Should be easy to figure out whats happening.
[code]

[2018-09-25 06:59] marvinhagemeister commented on #839
We're using the same strategy for some private packages at work. It's perfectly fine to specify something in both `devDependencies` and `peerDependencies` 👍

[2018-09-25 16:21] arcanis commented on #839
#841 adds the dependency to the `peerDependencies` field! 🙂

[2018-09-25 16:40] mscottnelson commented on #815
I suspect this would work if I changed my configuration, but I'm having an issue with this option enabled, where it appears ts-loader attempts to load the references even though I have projectReferences set to true.

My structure:
[code]
I attempt to build via an npm script ie `tsc -b --verbose && webpack --progress --config webpack.dev.js`

Anybody, especially @andrewbranch , have an idea why thi

[2018-09-25 17:29] andrewbranch commented on #815
Hey @mscottnelson, would you be able to link to your project or an example that reproduces the issue? I'd have to take a look at what's in each tsconfig.

[2018-09-25 19:10] mscottnelson commented on #815
Hi @andrewbranch , many thanks for the rapid response. I suspect this is happening because the path references are not migrated / updated to point to the new relative locations when Webpack produces its output directory/file. Not sure what the most idiomatically correct solution would be.

Here's an example that reproduces the issue:
https://github.com/mscottnelson/projectRefTsLoaderExample

[2018-09-25 20:09] #839 closed

[2018-09-26 15:47] andrewbranch commented on #815
Hey @mscottnelson! Just did some debugging, and figured out that you are hitting the exact same thing that I hit here: https://github.com/TypeStrong/ts-loader/pull/817#discussion_r210029934.

Specifically, when I follow Webpack’s request for `../isomorphicLib/src/printHelloCommons.ts`, we look through the list of resolved project references, and we ask each one, “do you have a file called `../isom

[2018-09-26 18:52] sheetalkamat commented on #815
Could it be because your host doesn't have readDirectory implemented correctly?

[2018-09-26 19:05] andrewbranch commented on #815
@sheetalkamat hmm, my PR didn't change that, but you would certainly know better than I! 😄 It looks pretty innocuous here: https://github.com/TypeStrong/ts-loader/blob/f945f4f949a152113e373cde9970a260aebdc369/src/servicesHost.ts#L124

Would you expect something different?

[2018-09-27 04:31] andrewbranch commented on #815
Ok, so if I check the resolved project reference object more closely, it has an error in `commandLine.errors` with code `18003` and message:

[code]

So there _is_ a default `include`, but for some reason it’s not working. In fact, if I manually add an `include` to the tsconfig.json, it doesn’t matter what the include is—it never matches anything 😦

So in fact, when I said

It looks like I was wro

[2018-09-27 05:28] andrewbranch commented on #815
@sheetalkamat you were exactly right! Well, almost—I don't know if I would call it _my_ host—it looks like TypeScript was creating one for me, and it didn't put `readDirectory` in there. It was fixed 24 days ago: https://github.com/Microsoft/TypeScript/commit/d519e3f21ec36274726c44dab25c9eb48e34953f by @ajafff, whose intersections with my work here have been incredibly helpful multiple times now.

[2018-09-27 05:38] johnnyreilly commented on #815
Boom! Does this mean that project references should start to work as expected when 3.1 ships?

I'm assuming this will ship with 3.1:

https://github.com/Microsoft/TypeScript/commit/d519e3f21ec36274726c44dab25c9eb48e34953f

[2018-09-27 05:40] andrewbranch commented on #815
@johnnyreilly the tag says 3.1.1, but seeing as 3.1 is currently in RC, I think it's all one and the same? I'm opening a PR now to add a note to the README. Do you want to add a note to your blog post?

[2018-09-27 05:47] johnnyreilly commented on #815
Good shout - just waking up over here. Will try and do that later today. Good investigation!

I might take your debugging tips and document them somewhere; I've always relied on logging to diagnose issues with ts-loader thus far. Being able to use Code to properly debug is :100: times better!

[2018-09-27 06:43] johnnyreilly commented on #815
I might take it for a whirl at some point. I use both Chrome and Code to debug in other contexts and find both tremendous.

[2018-09-27 16:31] mscottnelson commented on #815
Many thanks for the help. Updating to TypeScript 3.1.1 with `options: { projectReferences: true }` and running `tsc -b` before webpack now works.

[2018-09-30 02:31] LY1993 opened #845 "Cannot find module .vue single"
webpack:

[code]
test.vue:

[code]
app.vue:

[code]
Cannot find module '../components/test.vue'.

if i add `lang='ts'` that is ok
### Expected Behaviour

### Actual Behaviour

Cannot find module '../components/test.vue'.

### Steps to Reproduce the Problem

### Location of a Minimal Repository that Demonstrates the Issue.

[2018-09-30 03:58] pmunin commented on #263
@mblandfo here is a bit cleaner version:
[code]

[2018-09-30 09:27] johnnyreilly commented on #845
I don't believe this is an issue with ts-loader. However I'm not a Vue user and so can't advise. I recommend checking out the vue-cli which uses ts-loader under the covers

[2018-09-30 09:27] #845 closed

[2018-09-30 13:00] #832 closed

[2018-09-30 13:00] #809 closed

[2018-09-30 13:01] #802 closed

[2018-09-30 13:01] #780 closed

[2018-09-30 13:02] #690 closed

[2018-09-30 13:03] #778 closed

[2018-09-30 13:04] #492 closed

[2018-09-30 17:38] jordond opened #846 "Clarification on Project references with webpack watch"
I'm looking for clarification on how to run webpack --watch with TS project references.

I followed the instructions in the [README](https://github.com/TypeStrong/ts-loader#projectreferences-boolean-defaultfalse), and added `WatchIgnorePlugin` targeting `.js` and `.d.ts` files.

Now when I run `webpack --watch` and in a seperate terminal run `tsc --build --watch`, and make a change to one of the d

[2018-09-30 19:31] johnnyreilly commented on #846
@andrewbranch what's your view on this scenario?

[2018-09-30 19:53] jordond commented on #846
I have done some further testing, and found that my problem is I'm using path aliases in my root `tsconfig.json`:

[code]

inside `./lib` I have all of the shared projects (all composite projects).

Then I have a folder `./packages` which contains the projects that consume the `lib`.  They are the ones using webpack to build.

Now in one of the `./packages` projects I changed the import from `@lib

[2018-10-01 17:13] sevenryze opened #847 "Do not emit json file with config flag "resolveJsonModule" = true"
### Expected Behaviour
Emit json files when we set this tsconfig flag "resolveJsonModule" to be true.

### Actual Behaviour
There is no any json file emitted.

### Steps to Reproduce the Problem
Given the folder structure:
[code]

The webpack config like below:
[code]

and tsconfig.json like below:
[code]

After invoke `webpack`, I only get the `dist/src/index.js` file, not the `dist/package.json`

[2018-10-01 17:43] johnnyreilly commented on #847
Surprising; I thought this would be resolved by
https://github.com/TypeStrong/ts-loader/issues/793

[2018-10-01 20:00] roopkt commented on #263
Hi Everyone is providing there own fix that is very helpful.
But my question is when officially we are going to fix it. Because I am also using the `'declaration-bundler-webpack-plugin' Here is my webpack.config
[code]

And I am getting below error.  `Cannot read property 'split' of undefined`
[code]

[2018-10-01 20:20] roopkt opened #848 "declaration-bundler-webpack-plugin Unhandled rejection TypeError: Cannot read property 'split' of undefined"
Hi I am not sure where is the github location for `declaration-bundler-webpack-plugin` plugin.
However I saw there is an [closed ticket ](https://github.com/TypeStrong/ts-loader/issues/263) in this repository related to this issue. Which is not yet resolved though people gave their own plugin code which are working solution and solves the issue. However, I see the official plugin version `"declara

[2018-10-01 21:15] johnnyreilly commented on #848
I'm going to close this as there is nothing to do to ts-loader I think. The issue is with "declaration-bundler-webpack-plugin"

[2018-10-01 21:15] #848 closed

[2018-10-02 06:49] sevenryze commented on #847
currently i don't know why that happens, but i will dig some in code for resolving this issue after my vocation, that's not hard for me.   this issue is a preplace mark for others who might have the problem.

[2018-10-02 07:16] johnnyreilly commented on #847
Thanks - that would be awesome!

[2018-10-02 21:29] roopkt commented on #848
Hi @johnnyreilly
Thanks to point  out this however I am curious to know where exactly the "declaration-bundler-webpack-plugin" project lives in github ? So that I can create this issue there only.

[2018-10-04 00:16] andrewbranch commented on #846
Hm, interesting... this sounds like good justification for building the ability to recompile upstream projects into ts-loader, where we’ll have pretty tight control over which files are getting watched. I  think the `aggregateTimeout` sounds like a good workaround in the meantime. I don’t think there’s anything ts-loader can do about it until ts-loader can rebuild projects, but this is a great thi

[2018-10-04 07:27] johnnyreilly commented on #846
Yeah sounds completely reasonable @andrewbranch!

Actually @jordond if you wanted submit a docs PR suggesting this as an interim solution that might be a good idea. Doubtless other people are attempting similar and so sharing your workaround seems like it could be beneficial.

Thanks for posting it!

[2018-10-04 13:54] martinmckenna opened #849 "Documentation on how to use output of customTransformers"
### Expected Behaviour

It would be great if there was some documentation on how to get the output of what is returned from a custom transformer, so that it could be outputted to a newly created file.

My use-case for this is that I am using a custom transformer to aggregate data into a large object, which then I would then like to output into a JSON file. My only issue is that I'm not really sure

[2018-10-04 18:07] johnnyreilly commented on #849
Feel free to write some docs for us!

For reference you may want to consult our test pack:

https://github.com/TypeStrong/ts-loader/tree/master/test/comparison-tests/customTransformer

https://github.com/TypeStrong/ts-loader/tree/master/test/comparison-tests/customTransformerUsingPathString

[2018-10-06 21:38] andrewbranch commented on #815
Small status update: I spent an hour or so this morning exploring the current state of the tsbuild API to see if it contains what we need for ts-loader to build/watch upstream projects. It mostly does, but currently the API isn't finalized and the whole thing is marked internal: https://github.com/Microsoft/TypeScript/blob/85a3475df87b9c10240570f32090970262c99b54/src/compiler/tsbuild.ts#L1-L2

I t

[2018-10-07 08:19] johnnyreilly opened #851 "ts-loader project references "build" support"
[`ts-loader` has partial support for project references](https://blog.johnnyreilly.com/2018/09/ts-loader-project-references-first-blood.html) in that it will load dependent composite projects that are already built, but will not currently build/rebuild those upstream projects. We don’t want to keep it that way; this issue has been opened to track ts-loader triggering the building/rebuilding of ups

[2018-10-07 16:07] Amaf-Consultants opened #852 "ng-packagr -p ng-packag.json through error"
tsconfig.ts file

{
  "compileOnSave": false,
  "compilerOptions": {
    "outDir": "./dist/out-tsc",
    "sourceMap": true,
    "declaration": false,
    "moduleResolution": "node",
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "target": "es5",
    "typeRoots": [
      "node_modules/@types"
    ],
    "lib": [
      "es2017",
			"dom"
    ]
  }
}
-------------------
An

[2018-10-07 16:28] johnnyreilly commented on #852
It should be `tsconfig.json` not `tsconfig.ts`

[2018-10-07 16:28] #852 closed

[2018-10-07 16:45] Amaf-Consultants commented on #852
Thanks for the  quick ans.  I don't have tsconfig.ts except tsconfig.json. Do I need to create one ?
I created ng new project and and now creating lib. I m little new to this.  I am following this
https://medium.com/@nikolasleblanc/building-an-angular-4-component-library-with-the-angular-cli-and-ng-packagr-53b2ade0701e

[2018-10-07 17:19] ClementVidal commented on #660
@eamodio i don't understand how this solution can correctly work.
Actually, when i use **webpack --watch --info-verbosity verbose** i get the following output:
[code]

How does the begin/endPattern can work correctly with this kind of output ? Effective error output is not in between those two patterns ...

[2018-10-07 20:45] johnnyreilly commented on #852
Sorry I'm afraid I'm no expert on the angular cli

[2018-10-08 02:56] eamodio commented on #660
@ClementVidal Yeah, I was wrong that it would be enough to be very accurate -- although it gets a lot closer than any other options right now. I still do get errors to show up in the problems pane in vscode and they often clear when resolved -- although not always because of the inaccuracy of the pattern matching.

[2018-10-08 06:33] ClementVidal commented on #660
@eamodio Do problem 'not always' clear when you fix them, or do they **never** clear until you trigger a new compilation (by changing a file), in which case old problem disappear and new one replace them ? ( This is what is actually have )

[2018-10-08 10:02] rolandjitsu commented on #653
@Roustalski I'm having the same problem, but setting `emitDecoratorMetadata` to `false` does not make the problem go away.

[2018-10-08 16:54] johnnyreilly commented on #851
Thanks so much for that @sheetalkamat!

cc @andrewbranch

[2018-10-08 17:30] eamodio commented on #660
AFAIK, problems will never clear until there is a new compile when using the problem matchers, since there is no trigger to update them.

[2018-10-13 17:03] sevenryze commented on #847
Sorry for late replay, i just got my laptop after my vocation a little while.

I think the issue #793 was merely able to let the `resolveJsonModule` flag to be passed without errors, but not actually emit the json files, which you could check by re-initializing the minimal repo from that issue and list the assets of the compiler.

What i found could be summarized to two points:
1. we should provid

[2018-10-13 21:04] johnnyreilly commented on #847
Question: if you `const someJson = require('./someJson.json')` what is the behaviour? Does webpack emit json in this scenario?

This so post may also be helpful: https://stackoverflow.com/questions/49996456/importing-json-file-in-typescript

[2018-10-14 01:06] sevenryze commented on #847
Oh, i'm sorry for forgetting mention my custom scenario.

I make a custom workflow for my backend nodejs dev that i don't use webpack module resolve feature for some modules. in case that, i need the ts-loader to emit declaration and json files the same as we using tsc from cli. (behavior aligned)

So, according your question, i guess this is intentional for ts-loader to omit json and rely on webp

[2018-10-14 06:00] johnnyreilly commented on #847
Okay... So you're using webpack to build the backend, but you want the `json` files to be loaded at runtime; not made into a module that webpack requires? i.e. you don't want the json to be built into the build output and it is right now.

Sorry, I don't think I've been completely understanding your use case up until now.

Is that right?

[2018-10-14 06:14] sevenryze commented on #847
yah, you are right. that's exactly what i want.

[2018-10-14 07:40] johnnyreilly commented on #847
I see. So to summarize, the behaviour you want to support is:

When using webpack to build nodejs, have the ability to *not* package a `something.json` file, instead emitting a `require('./something.json')` statement and likewise emitting the `something.json` file in the webpack build output?

Is that accurate?

[2018-10-14 08:51] sevenryze commented on #847
Yes, that is my request, you get my point.

i think if we don't use webpack own module parsing function, we need at least to support the same function as plain tsc, like emitting json and declaration files. so, we could leverage the `outDir` and `declarationDir` flags of tsc to control where to output assets other than `.js` and `.js.map` files.

But, i don't know if this feature is too special or

[2018-10-14 09:56] johnnyreilly commented on #847
Cool - I'm glad I understand you.

Possibly. But it depends. It's worth saying that `ts-loader` supports vuejs but in an indirect way. Essentially we added support for being able to suffix `.ts` to files so we could pass them on to the TypeScript compiler:

https://github.com/TypeStrong/ts-loader/blob/master/README.md#appendtsxsuffixto-regexp-default

The addition of this was minimal to the `ts-lo

[2018-10-14 11:52] johnnyreilly commented on #847
No problem!

That sounds like a great idea. I always find it easier to talk about an idea based upon an initial implementation rather than in the abstract.

Feel free to open a speculative PR when you want to talk about this further and link back to this issue. Don't worry about having fully passing tests before you do that; just open the PR and we can use that as a basis for collaboration and dis

[2018-10-15 15:14] canemacchina opened #859 "importHelpers not working"
I'm unable to use` importHelpers` feature from typescript.
I'm using:

- tslib: 1.9.3
- webpack: 4.20.2
- ts-loader: 5.2.2

What I've done is:
- install tslib
- add `"importHelpers": true,` into `compilerOptions` section of my `tsconfig.json`

Simply running tsc show that function llike `__extends` are required from tslib.
Compiling with webpack using ts-loader seems not.
This is my ts-node config

[2018-10-15 15:22] canemacchina commented on #859
No sorry, my mistake.
`importHelpers` is currently working, the strange behaviour is that is working even if `importHelpers` is `true` or `false` on tsconfig.json...
Why?

[2018-10-15 15:22] #859 closed

[2018-10-15 20:49] MikeShiner commented on #758
@genox same problem here - thank you! You've saved me a lot of time with this niche issue.

[2018-10-17 10:15] meldron commented on #702
I have to same problem with
`tsconfig.json`
[code]
and
`webpack.config.js`
[code]

[2018-10-17 17:52] johnnyreilly commented on #702
Does `"skipLibCheck": true` help at all?

[2018-10-21 15:47] xiaoxiangmoe opened #860 "Need ts.Program or Language Service to create CustomTransformers"
### Expected Behaviour

```getCustomTransformers ( (service.LanguageService) => { before?: TransformerFactory[]; after?: TransformerFactory[]; } )```
### Actual Behaviour
```getCustomTransformers ( () => { before?: TransformerFactory[]; after?: TransformerFactory[]; } )```

### Steps to Reproduce the Problem
none
### Location of a Minimal Repository that Demonstrates the Issue.
none

----

see [aw

[2018-10-21 16:35] johnnyreilly commented on #860
Hi, I'm not completely clear what the change you're after is? Would you like to submit a PR and we can discuss it further?

[2018-10-21 17:29] johnnyreilly commented on #860
Cool - do you want to submit a PR?

[2018-10-21 17:35] xiaoxiangmoe commented on #860
Ok, I'll do it latter.

[2018-10-24 21:44] arcanis opened #861 "Expose `resolveModuleNames`"
Hi!

Would it be possible to consider exposing the `resolveModuleNames` function (set in `servicesHost.ts`) through a configuration settings?

I'm currently experimenting integrating Yarn PnP with TypeScript through ts-loader, and my initial results are very promising. I think I could get something working just by going through this hook, which would unlock pretty interesting options!

[2018-10-25 05:31] johnnyreilly commented on #861
Go for it @arcanis! Experiment on!

[2018-10-25 09:39] arcanis commented on #861
Will aim to set up a PR in the next week or so 👍

[2018-10-25 11:42] johnnyreilly commented on #861
Cool - look forward to it. If tests cause you problems (many people bump on this) then stick up the PR and we can collaborate

[2018-10-25 11:43] ZSkycat commented on #808
I have encountered the same problem. The reason for this problem is not just a  pure types file, but a ts file that is not actually used. That is, only `type` or `interface` is imported.

This problem can be solved by `import './type';`

Don't worry. The webpack production mode can removes empty modules and tree shaking. This won't have extra code being packaged. 😄

## my case

type.ts
[code]

ind

[2018-10-25 11:43] ZSkycat commented on #697
I have encountered the same problem. The reason for this problem is not just a  pure types file, but a ts file that is not actually used. That is, only `type` or `interface` is imported.

This problem can be solved by `import './type';`

Don't worry. The webpack production mode can removes empty modules and tree shaking. This won't have extra code being packaged. 😄

## my case

type.ts
[code]

ind

[2018-10-25 20:21] nathguen commented on #798
Upgrading to typescript `3.x` resolves this for me.

[code]

[2018-10-26 06:52] johnnyreilly commented on #861
By the way, did you know about this option recently added to ts-loader which adds caching? I'm planning to turn it on by default (currently off) as I've had no reports of issues:

https://github.com/TypeStrong/ts-loader/blob/master/README.md#experimentalfilecaching-boolean-defaultfalse

[2018-10-28 06:39] thatsmydoing commented on #861
Yeah, I've tried it but it didn't make much of an improvement for us. The caching happens too late in the process it seems. Module resolution seems to be a recursive operation and that seems to be what's taking up the time.

I took a look at the current PR and the changes are also happening at too low a level for the change I was thinking of making. I'll experiment a bit more with how the resoluti

[2018-10-31 00:29] GalmWing opened #863 "TypeError: Cannot read property '<any property>' of undefined when transpileOnly is true"
I'm trying to speed up my build, and ts-loader seems to be the biggest offender by far, the docs recommend trying `transpileOnly: true, happyPackMode: true` + happyPack or thread-loader.
But every time I do that my code will fail immediately with the error on the title `TypeError: Cannot read property <x> of undefined`.
I'm thinking some part of the code needs the definition files, which would be

[2018-10-31 01:38] LukeSheard commented on #649
This took a *long* time, but I'm finally starting work (in open source) land to try and add real support for this (now that we have systems at work relying on a different approach)

[2018-10-31 05:52] johnnyreilly commented on #863
I recommend checking out an example repo like this: https://github.com/TypeStrong/ts-loader/tree/master/examples/thread-loader

And applying the pattern to your build.  This uses `thread-loader` and `fork-ts-checker-webpack-plugin` and should be pretty fast.

Do try that out and report back!  I'm going to close this as it's not an issue with ts-loader by the sounds of it.

[2018-10-31 05:52] #863 closed

[2018-10-31 18:15] GalmWing commented on #863
I did try doing it the exact same way. But I now realized what actually triggers the errors. There is an option in thread-loader to preload the workers `threadLoader.warmup()` removing that gets rid of the `TypeError: Cannot read property`. I'm really not sure why but I get consistent repro by adding or removing that warmup, if I use them in tandem with ts-loader + babel-loader.

[2018-10-31 18:50] VictorQueiroz opened #865 "How to use current directory tsconfig.json?"
I currently have two folders `src` and `sw` (which would be a different environment, in this case a service worker) and I want to use different tsconfig.json files for each folder. Although ts-loader picks one tsconfig.json file, ignore the other and then use the picked one to compile all files of both directories. How can I fix that behavior? I have a different tsconfig.json file inside each of t

[2018-10-31 19:49] johnnyreilly commented on #863
Interesting - I've never tried to use `warmup` - presumably that's not compatible with ts-loader. I don't know why.

[2018-10-31 19:54] johnnyreilly commented on #865
I suspect you want to run 2 different instances of ts-loader. Use this: https://github.com/TypeStrong/ts-loader/blob/master/README.md#instance-string

Usage looks something like this: https://github.com/TypeStrong/ts-loader/blob/master/test/comparison-tests/instance/webpack.config.js

(Above file is a test file and so has some differences from a typical config)

[2018-11-04 20:55] tedchirvasiu commented on #190
Hello, for me the issue seems to be back since 5.0.0. Versions 4.3.0 and 4.5.0 were fine.

I made a minimal repo to reproduce the problem:
https://github.com/tedchirvasiu/ts-loader-declaration-output-dir-issue

Running "npm run build" will correctly place the .d.ts files in the dist folder since I'm using 4.5.0 there. However, if I upgrade to 5.0.0 (or @latest which is 5.3.0 as of right now) it pu

[2018-11-05 06:30] johnnyreilly commented on #190
Hey @tedchirvasiu

I'm pretty sure the changed behaviour is intentional - see the details here:

https://github.com/TypeStrong/ts-loader/pull/822

[2018-11-05 07:58] tedchirvasiu commented on #190
@johnnyreilly @gluons Sorry, my bad, you are right. Added the outDir to the compilerOptions and it works as expected.

[code]

Thank you!

[2018-11-10 01:14] TokugawaTakesi opened #867 ""Module parse failed: Unexpected token" when added the class field"
Works:

[code]

Fails (same if to remove `private` and `static`):

[code]

Error:

[code]

webpack.config.js

[code]

For saving your time on reproducing this problem, I attached the souse files.
[error.zip](https://github.com/TypeStrong/ts-loader/files/2567961/error.zip)

[2018-11-10 23:02] alfaproject opened #868 "Project reference isn't working if `rootDir` is set"
### Expected Behaviour
A project reference that has a `rootDir` set should work properly

### Actual Behaviour

'lambda-common' has `outDir` set to `./dist` and `rootDir` set to `./src` and 'lambda-graphql' references 'lambda-common':

[code]

`ts-loader` is looking for `dist/src/index.js` instead of `dist/index.js`

### Steps to Reproduce the Problem
Create a project reference to a project that s

[2018-11-11 07:07] johnnyreilly commented on #868
Question: are you running on Windows? If so you may be bumping on a known issue:

See https://github.com/TypeStrong/ts-loader/blob/master/README.md#projectreferences-boolean-defaultfalse

cc @andrewbranch

[2018-11-11 08:44] alfaproject commented on #868
No, I'm running on macOS, but I don't think the issue is in `outDir`. The problem seems to be in `rootDir`.

As you can see in my example, `outDir` is being worked correctly, but `rootDir` is not being taken into consideration.

[2018-11-11 10:29] johnnyreilly commented on #868
Hmmm. If you could create a repro repo that could help someone getting started looking into this.

[2018-11-11 13:39] HcySunYang opened #869 "Strange behavior after using ts-loader"
### Expected Behaviour
When I use `ts-loader`, I execute the `yarn run dev` command and I get the following error:
[code]
### Actual Behaviour
Successfully started the development server.
### Steps to Reproduce the Problem
I have provided a minimal reproduction repos in: [https://github.com/HcySunYang/ts-loader-bug-report](https://github.com/HcySunYang/ts-loader-bug-report).

First you need to clo

[2018-11-11 18:07] HcySunYang commented on #869
I am very sorry, I just found out that I did not provide the correct demo. But the problem has been solved, thank you for your work, wasting your time, sorry again.

[2018-11-15 07:07] TokugawaTakesi commented on #867
Found the reason.
[“Module parse failed: Unexpected token” when added the class field.](https://stackoverflow.com/questions/53313863/module-parse-failed-unexpected-token-when-added-the-class-field/53314090#53314090)

[2018-11-15 07:07] #867 closed

[2018-11-16 07:18] nohira commented on #860
Looking forward to this as I want to use ts-transformer-keys.

[2018-11-16 16:03] kimthangatm opened #870 "[Question] Build webpack with module in node_modules still typescript"
I build fail when I updated to use ts-loader@5 with webpack4 (ts-loader@3 with webpack3 build success)

I use rushjs.io, it will helps us to to link library in local,
I write library in ts and not build its to js. In main app, I import ts library to use and webpack cannot build link module.

Eg:

libraries: my-utilities and package.json/main => "src/index.`ts`"
app/: import { functionA } from 'my-

[2018-11-17 22:54] whitecolor commented on #653
The same problem here for TS types/interfaces after migrating from WP3 to WP4, multiple warnings:
[code]

I don't use `ts-loader` or anything special just simple loader:
[code]
So it is not a problem of `ts-loader`

[2018-11-18 14:04] tlaziuk commented on #653
you can avoid accidentally running into this bug by setting `--isolatedModules` compiler option to `true`

[2018-11-18 19:02] RoystonS commented on #653
(Note that I mentioned earlier (https://github.com/TypeStrong/ts-loader/issues/653#issuecomment-336913915), that at that time it wasn't simply a case of ignoring the warnings. The generated code was broken.  I don't know whether anything has changed since, but merely suppressing/filtering the warnings might not be sufficient...)

[2018-11-20 12:04] Dadaven commented on #505
i have a same problem.....

[2018-11-24 23:05] OrenSchwartz commented on #758
+1

[2018-11-27 03:02] #868 closed

[2018-11-28 14:33] hellfireSteve opened #872 "Accessors are only available when targeting ECMAScript 5 and higher - target set to es5"
I am seeing this message when I run tsc:

Accessors are only available when targeting ECMAScript 5 and higher.

Why am I seeing this message?

tsconfig.json has:

`"target";"es5"`

Isn't that targeting ECMAScript 5?

[2018-11-28 15:41] #872 closed

[2018-11-28 16:13] hellfireSteve commented on #872
It appears this bug is caused by using the command line with parameters. If I use this, it works:

`tsc --target es5 --outFile app.js circleMath.ts rectangleMath.ts app.ts`

Another bug prevented me from using the following to include other modules:

`/// <reference path="circleMath.ts" />
/// <reference path="rectangleMath.ts" />`

Command line: tsc --target es5 --outFile app.js

Bug: Only 'amd'

[2018-11-29 14:14] O4epegb opened #874 "Problem with esm module"
So, there is a library [nanobus](https://github.com/choojs/nanobus), which is using another library [remove-array-items](https://github.com/mreinstein/remove-array-items).

`Nanobus` in its dist file imports `remove-array-items`  like that:

[code]

`Nanobus` has 2 dist files, commonjs and es module. It exports itself like that in module file:

[code]

In my project, when I compile everything with

[2018-11-29 22:12] ilteoood commented on #758
+1 for the suggestion of @genox

[2018-11-29 22:49] ajain17 commented on #639
I've the exact same issue as @bronson

[2018-11-30 12:18] DmitryYudin opened #876 "Silently accepts wrong path in 'configFile' option"
### Expected Behaviour
Report error and exit.
### Actual Behaviour
Fill configFile with default value.
### Steps to Reproduce the Problem
configFile=whatever
### Location of a Minimal Repository that Demonstrates the Issue.

[2018-11-30 23:12] ajain17 opened #877 "ts-loader emitted no output for .d.ts files while using dynamic import"
### Expected Behaviour
ts-loader should not try to compile .d.ts files
### Actual Behaviour
[code]
### Steps to Reproduce the Problem
Hi,

I'm having a strange issue with how webpack, tsconfig and .d.ts files are working together.

I've the following project structure:
![image](https://user-images.githubusercontent.com/5581487/49319469-eac57d00-f4b1-11e8-8f4d-b387d14a8ebf.png)

The ScriptsApp cont

[2018-12-01 07:55] #876 closed

[2018-12-01 07:58] johnnyreilly commented on #876
I'm closing this as I don't think it's a serious problem. If you'd like to submit a PR I'll take a look though.

[2018-12-01 08:01] johnnyreilly commented on #877
I'd move `@types` outside the ScriptsApp. Closing this as I don't believe this represents an issue with ts-loader

[2018-12-01 08:01] #877 closed

[2018-12-01 19:37] andrewbranch commented on #851
Hey @sheetalkamat, any update on this? I realize you probably can't promise a timeline, but I just wanted to make sure we still have hope to keep this issue alive. 🙂 Thanks!

[2018-12-02 02:41] ajain17 commented on #877
@johnnyreilly  Like I mentioned above, I already have 3 working solutions, but I'd really like to understand why moving @types outside of ScriptsApp works. If you have an explanation, that would really help me. Thank you.

[2018-12-02 07:54] johnnyreilly commented on #877
Hi @ajain17

I'm afraid I don't have an explanation to hand (hence my brief response :smile:)

Here's a good explanation of `types` by the excellent @basarat:

https://basarat.gitbooks.io/typescript/docs/types/@types.html

Quite why moving `@types` fixes the issue I couldn't say. Question: if you run `tsc` in the folder do you get the same issues? If so then it's a question for the TypeScript comp

[2018-12-03 09:18] ajain17 commented on #877
Thank you. I'll try your suggestions and report back my findings.

[2018-12-03 16:44] sheetalkamat commented on #851
Microsoft/TypeScript#28640 tracks this and it would be a while before API is public as we work through the perf issues and shape it accordingly.

[2018-12-04 14:53] mribichich commented on #551
Is there a way to accomplish this? Its really hard to iterate sometimes in dev.
thanks

[2018-12-04 21:34] iamakulov commented on #653
Tuned @Strate’s plugin code to allow specifying what export warnings to ignore. I find this useful because such warnings have been helpful for me several times.

**Usage:**

[code]

or

[code]

**Plugin code:**

[code]

[2018-12-05 17:28] marcofugaro opened #879 "Better way to put in a single file all the declarations?"
From the readme:

However when trying to use that plugin, it generates an invalid `.d.ts` file, since it just takes all the files and puts them together, leaving multiple imports and multiple export defaults, here it is:

[code]

Is there a better way to put in a file all the declarations? I can't just with typescript because i'm using `"module": "esnext",`. Here is my tsconfig

[code]

[2018-12-06 12:24] ossdev07 opened #880 "Execution test are falling"
Hi,

I am trying to run the execution test cases in my local environment but falling to do so.

**Problem:**
The ChromeHeadless browser is not getting loaded, which results in the failure of the test cases.
[code]
**Steps to reproduce the behaviour**
- cd ts-loader/
- yarn install
- yarn build
- yarn run execution-tests

**Investigation:**

Execution test is expected to have a ```karma.conf.js```

[2018-12-06 20:30] johnnyreilly commented on #880
Hi,

It sounds like there's a problem with your machine or your installation of Chrome. The tests run daily on Travis and on AppVeyor successfully.

I'm not sure I'm best placed to help you. I'm going to close this as it doesn't represent an issue with ts-loader.

[2018-12-06 20:30] #880 closed

[2018-12-12 18:09] BlooJeans commented on #874
To add to this:
nanobus depends on `"remove-array-items": "^1.0.0"`, which previously resolved to `1.0.0`, and as of 27 days ago, now resolves to `1.1.0`, which is when they changed how the function was exported, causing the `splice` function to not be the actual thing exported, but instead an object.

To fix the issue in your app, you might be able to force it to use version 1.0.0 by adding
`"rem

[2018-12-12 18:12] O4epegb commented on #874
Yes, thank you! I know that though, and with `yarn.lock` it is quite easy to force this dependency. I just want to know how to properly deal with, if that possible.

[2018-12-12 18:18] BlooJeans commented on #874
Also opened an issue: https://github.com/choojs/nanobus/issues/37

I don't know anything about ts-loader, so i can't help you there, sorry!  Found you via googling the splice issue.   Thanks for opening this issue

[2018-12-12 19:04] mreinstein commented on #874
Instead of just routing around the problem, it would help everyone if we fix the upstream issue. pull requests welcome on https://github.com/mreinstein/remove-array-item

[2018-12-12 19:35] mreinstein commented on #874
fixed in remove-array-items npm version 1.1.1

[2018-12-12 22:42] O4epegb commented on #874
@mreinstein But it is not a problem and we are not routing around the problem. You did everything right (except for semver), and it should work, but for some reason it don't

[2018-12-12 22:43] mreinstein commented on #874
fair enough. This is probably something having to do with the bundle/build process. I'm going to publish remove-array-items@2.0 which will adopt the esm support. (basically the same behavior encountered in 1.1.0)

[2018-12-12 23:47] O4epegb commented on #874
Yep, thank you!)
Now I just want to understand why compilation is not working!

[2018-12-14 10:19] shahnawaz19415 commented on #793
If you're using vscode and have builtin TS plugins disabled, enabling those extensions will resolve the issue.
Worked for me.

[2018-12-14 13:50] nitwhiz opened #882 "Thrown Errors have wrong line numbers"
### Expected Behaviour

any of the source-map options to tell me where errors actually happened (or throwed to be more exact)

### Actual Behaviour

the lines on these error messages have some offset to their actual lines. sometimes printed line numbers are even higher than the actual LoC in the file.

tried the settings from README 1:1 and stuff like `'cheap-module-eval-source-map'` and what-not

[2018-12-15 01:58] trusktr opened #883 "This is slow compared to thread+cache loader approach."
I was doing exactly like your approach (taking minutes to compile), but then I switched to the approach in the thread-loader+cache-loader example and increased the speed considerably.

Any ideas why this might happen?

[2018-12-15 07:11] johnnyreilly commented on #883
That's funny..  can you isolate what makes the difference please? I'd really appreciate it!

[2018-12-16 17:41] vivacenontroppo commented on #40
Tried all of this and nothing helped. Can someone look at my config and try to figure it out please?

webpack.config
`'use strict';

module.exports = function(config) {
  config.set({
    basePath: '',
    frameworks: ['jasmine'],
    reporters: ['progress'],
    port: 9876,
    colors: false,
    autoWatch: true,
    browsers: ['Chrome', 'Firefox'],
    singleRun: false,

    files: [
      './sr

[2018-12-16 17:45] vivacenontroppo commented on #40
Of course as you can see I have added some things that were mention here, but maybe I should delete for now, until someone figures it out...

[2018-12-16 21:50] vivacenontroppo commented on #40
Ok, so I did manage to figure it out. I checked and I was pointing to .ts files in webpack and karma configs, which is stupid because I use typescript compiler and then running tests from the .js files. So I changed that to .js in configs, deleted all the unnecessary stuff from typescript in configs and it works!

[2018-12-17 15:01] akoidan commented on #804
@gpoitch using sw-loader:

[code]

in entry:
`    import './sw';`

[2018-12-20 02:34] amritk commented on #278
I'm having this issue as well on Typescript 3.2.2 and ts-loader 5.3.1. Its strange though, it happens in one of my projects and doesn't work in another.

[2018-12-20 15:01] akopchinskiy opened #886 "ts-loader concatenates all dependencies instead of only needed ones"
**ts-loader concatenates all dependencies instead of only needed ones.**

Example:

[code]

[code]

### Webpack config
[code]

### tsconfig.json
[code]

### Expected Behaviour
Imports only `const test` . Small bundle size.

### Actual Behaviour
It imports everything from imports list in `module.ts`. Huge bundle size.

## BundleAnalyzerPlugin output
![image](https://user-images.githubusercontent.co

[2018-12-20 18:50] johnnyreilly commented on #886
I'm assuming it's tree shaking you're after? That's more webpack specific than ts-loader specific. I'm not aware of any issues around ts-loader in what you've said. See https://github.com/TypeStrong/ts-loader/issues/453

You may need to pipe to babel

[2018-12-20 18:51] #886 closed

[2018-12-24 05:54] kuangshp commented on #867
Finally, how do you solve it, I also encountered the same problem.

[2018-12-24 09:18] TokugawaTakesi commented on #867
I solve it by stopping to develop sublibraries directly in `node_modules`...

[2018-12-24 10:10] akopchinskiy commented on #886
@johnnyreilly I understand, but doesn't ts-loader already transpiling my code?

[2018-12-24 10:32] akopchinskiy commented on #886
@johnnyreilly Okay, i'll try to use it in the way you suggest. Thank you.

[2018-12-24 12:21] johnnyreilly opened #888 "Reduce the number of examples"
We have 12 examples in the repo.  For my money this is far too many and I know I'm certainly not maintaining them in a way that makes them useful.

I'm planning to remove most of them and tidy up the few that remain.  Here's what I think it would be good to end up with:

- standard / vanilla ts-loader usage
- usage with fork-ts-checker-webpack-plugin
- project references example (though actually w

[2018-12-26 16:51] yoni333 commented on #25
if you input a file to tsc in command line it ignore the tsconfig.json and you need to insert a flag for each config you want( e.g --target ES2016) .
but if you not input ant file in the command line and just add the file in the tsconfig.json tsc will read the config file
[stackoverflow](https://stackoverflow.com/a/46722359/2613863)
[ts docs](https://www.typescriptlang.org/docs/handbook/tsconfig-j

[2018-12-29 10:03] pwcong commented on #735
i meet same problem too. did u fix it? could u teach me ? thk!

[2019-01-05 05:33] pwcong commented on #735
**Add the follow code to webpack configuration it will be solved:**

[code]

[2019-01-05 08:04] #860 closed

[2019-01-05 08:37] huimingwu opened #892 "webpack+typescript+ts-loader,Uncaught TypeError: is not a function"
I use these loader.
[code]
and my code is:
[code]
[code]
and then I got an error:
[code]
I've tried to use a lower ts-loader version, including version 5.0.0, version 4.1.0 and version 3.1.1. But it cannot be fixed.

[2019-01-05 09:11] johnnyreilly commented on #892
Sorry - I can't fix bugs in your code. Closing as I don't believe this is an issue with ts-loader.

I recommend you look at an example and see if that unblocks you: https://github.com/TypeStrong/ts-loader/tree/master/examples/vanilla

[2019-01-05 09:11] #892 closed

[2019-01-05 12:52] WanderWang commented on #609
Update :

I have got the same problem , and I found I don't need to change ```target``` to ```es2015``` and add a ```babel-loader```  .

here is my tsconfig.json
[code]

[2019-01-08 12:58] johnnyreilly opened #894 "Potential changes required for webpack 5"
There's some potential changes for ts-loader discussed here: https://github.com/zeit/ncc/issues/208

Opening this issue for traceability.  If someone would like to implement suggestions from there that'd be awesome!

[2019-01-09 04:59] bosens-China opened #895 "Wrong compilation path in webpack 4.2"
### Expected Behaviour
C:\Users\Administrator\Desktop\webpack4.2configuration\dist\js\app.db2741a3bc0f8eace0d3.js
### Actual Behaviour
C:\js/js/app.db2741a3bc0f8eace0d3.js
### Steps to Reproduce the Problem
[code]

[2019-01-09 05:00] bosens-China commented on #895
I expect the relative path to be correct, but why is it omitted?

[2019-01-09 05:14] johnnyreilly commented on #895
Closing as webpack related; not ts-loader related

[2019-01-09 05:14] #895 closed

[2019-01-09 12:09] aczekajski commented on #653
@iamakulov const from line 14 (`const exportsPattern =`) is never used, did you mean to use it in line 21 instead of `this.exportsToIgnore`?

[2019-01-11 04:20] rgripper opened #897 "tsconfig compilerOptions.paths are not applied to declaration files generated by webpack"
### Expected Behaviour
Generate .d.ts declaration files with resolved imports, using tsconfig-paths-webpack-plugin
### Actual Behaviour
Declaration file imports still use path alias (though generated .js files have paths resolved correctly)
### Steps to Reproduce the Problem

### Location of a Minimal Repository that Demonstrates the Issue.

[2019-01-11 06:52] johnnyreilly commented on #897
I don't know what this means

[2019-01-11 06:56] rgripper commented on #897
tsconfig `compilerOptions.paths` are not applied to declaration files generated by webpack, but only to .js.

[2019-01-11 07:02] johnnyreilly commented on #897
If you'd like to submit a PR that handles this I'll gladly take a look.

[2019-01-11 07:08] rgripper commented on #897
So this is a missing feature, not a bug, right? Just couldn't find an existing issue. How hard do you think it would be?

[2019-01-11 09:10] johnnyreilly commented on #897
Noone has asked for it before so missing feature I guess. How hard? I don't know I'm afraid. I recommend forking and having an experiment. If you get somewhere then start a PR and we can collaborate. Don't worry about tests initially; I can help with that when the time comes.

[2019-01-16 07:41] LosEagle commented on #740
I'm having same problems with Moleculer library.

[2019-01-18 08:16] #635 closed

[2019-01-19 06:36] johnnyreilly commented on #846
See https://github.com/TypeStrong/ts-loader/issues/851

[2019-01-19 06:39] johnnyreilly commented on #794
I'd love for this to happen but the last I heard from @dmethvin this was still with lawyers. Given the time that's elapsed I'm not sure if this is still in process.

[2019-01-19 09:41] #752 closed

[2019-01-19 09:44] johnnyreilly commented on #874
Me neither 😉

But I'm afraid I only have so much time I can spare to look into issues. Sorry ♥️🌻

[2019-01-19 09:53] johnnyreilly commented on #552
Yeah I think there's still interest!

[2019-01-19 10:07] JonWallsten commented on #870
@kimthangatm I guess you'd probably figured it out by now, since it's in the documentation. But for people in the future finding this issue:
**In you webpack config:**
[code]
**And in you tsconfig file:**
[code]

[2019-01-19 10:47] #888 closed

[2019-01-19 11:01] arcanis commented on #861
#862 is merged, issue fixed 👍

[2019-01-19 11:01] #861 closed

[2019-01-19 17:05] mreinstein commented on #874
I would suggest not closing this issue if there is a problem. By closing the ticket it essentially hides the problem.

[2019-01-19 17:07] johnnyreilly commented on #874
Agreed. But I'm not certain there is a problem with ts-loader. If it can be clearly demonstrated there is then great. But it's not clear to me that's the case

[2019-01-19 20:46] eamodio commented on #660
Please don't close this -- this is a very important feature for using webpack in watch mode

[2019-01-19 20:56] johnnyreilly commented on #660
Marked as pinned - would be better to get this into the docs

[2019-01-19 22:36] eamodio commented on #660
Its not just about docs -- and it might be more of a webpack than ts-loader issue, but there is still no way to really setup a problem matcher for vscode -- it kind of works with my published matcher, but still fails too often and if you have more than 1 webpack build it almost always fails to work. It really comes down to not having good messages to key the problem matcher regex to -- the message

[2019-01-21 08:51] #454 closed

[2019-01-24 11:18] rgripper commented on #897
@johnnyreilly Do I get it right that:
- actual import rewriting of `.ts` `import` statements is done by `webpack` according to a resolver provided through `tsconfig-paths-webpack-plugin`
- ts-loader should not be resolving or rewriting imports
- there should be a separate plugin doing this resolution for `.d.ts` files
?

[2019-01-24 14:04] johnnyreilly commented on #897
I don't exactly know what you mean by:

[2019-01-25 06:59] rgripper commented on #897
Rewriting of something like
`import UserService from 'app/api/UserService'`
into
`import UserService from '../../api/UserService'`

[2019-01-25 07:49] johnnyreilly commented on #897
Yeah - I haven't double checked but I believe ts-loader should not be rewriting paths. Feel free to test and correct me if that's not the case.

[2019-01-25 23:23] tysonmatanich commented on #702
I'm encountering this as well. Chiming in since the stale bot marked it as won't fix.

[2019-01-26 03:58] johnnyreilly commented on #702
I've marked it as pinned so it won't get closed. Help appreciated!

[2019-01-26 18:37] #280 closed

[2019-01-26 18:37] #296 closed

[2019-01-26 18:37] #357 closed

[2019-01-26 18:37] #93 closed

[2019-01-26 18:37] #253 closed

[2019-01-26 18:37] #369 closed

[2019-01-26 18:37] #347 closed

[2019-01-26 18:37] #366 closed

[2019-01-26 18:37] #382 closed

[2019-01-26 18:37] #400 closed

[2019-01-26 18:37] #441 closed

[2019-01-26 18:37] #417 closed

[2019-01-26 18:37] #398 closed

[2019-01-26 18:37] #442 closed

[2019-01-26 18:37] #55 closed

[2019-01-26 18:37] #463 closed

[2019-01-26 18:37] #467 closed

[2019-01-26 18:37] #477 closed

[2019-01-26 18:37] #489 closed

[2019-01-26 18:37] #515 closed

[2019-01-26 18:38] #115 closed

[2019-01-26 18:38] #324 closed

[2019-01-26 18:38] #460 closed

[2019-01-26 18:38] #485 closed

[2019-01-26 18:38] #506 closed

[2019-01-26 18:38] #513 closed

[2019-01-26 18:38] #534 closed

[2019-01-26 18:38] #705 closed

[2019-01-26 21:51] #665 closed

[2019-01-26 21:51] #533 closed

[2019-01-26 21:51] #870 closed

[2019-01-26 21:51] #722 closed

[2019-01-26 21:51] #739 closed

[2019-01-26 21:51] #692 closed

[2019-01-26 21:51] #595 closed

[2019-01-26 21:51] #550 closed

[2019-01-26 21:51] #765 closed

[2019-01-26 21:52] #777 closed

[2019-01-26 21:52] #775 closed

[2019-01-26 21:52] #781 closed

[2019-01-26 21:52] #783 closed

[2019-01-26 21:52] #769 closed

[2019-01-26 21:52] #795 closed

[2019-01-26 21:52] #799 closed

[2019-01-26 21:52] #596 closed

[2019-01-26 21:52] #805 closed

[2019-01-26 21:52] #625 closed

[2019-01-26 21:52] #824 closed

[2019-01-26 21:52] #637 closed

[2019-01-26 21:52] #819 closed

[2019-01-26 21:52] #757 closed

[2019-01-26 21:52] #830 closed

[2019-01-26 21:52] #833 closed

[2019-01-26 21:52] #849 closed

[2019-01-26 21:52] #865 closed

[2019-01-27 05:14] #65 closed

[2019-01-28 00:32] jestarray commented on #706
Having this issue currently with the Vue CLI that uses webpack and ts-loader under the scenes.

https://github.com/vuejs/vue-cli/issues/3376

tried flipping transpileOnly on and off, and happymodepack on and off, no luck.

[2019-01-30 04:58] kobatakuJP commented on #879
I face same issue.
How do you create bundled `*.d.ts` file always? I cannot.
DeclarationBundlerPlugin has not been maintained recently, isn't it?

[2019-01-30 13:20] marcofugaro commented on #879
@kobatakuJP DeclarationBundlerPlugin doesn't work, it just mangles the .d.ts together, without taking into consideration their imports

[2019-02-01 01:58] markerikson commented on #702
Seeing something similar to this myself.  I'm trying to set up TS for the first time, on a sizeable existing legacy JS project.  I've got a working tsconfig.json and `@babel/preset-typescript` in place, and those have sufficed to give me VS Code typechecking.  I'm now trying to add `ts-loader`.

If I have `allowJS` and `checkJs` set to `true`, then `ts-loader` appears to process _everything_ that

[2019-02-01 06:38] johnnyreilly commented on #702
Does this mean you have a working setup @markerikson?

I'd also be interested to know if the problem presents when using ts-loader in transpileOnly mode with fork-ts-checker-webpack-plugin in play...

[2019-02-01 19:39] johnnyreilly commented on #702
hmmmm...  If you run `tsc` alone in your folder do you see the same behaviour?  I'm curious to know whether `ts-loader` / `fork-ts-checker-webpack-plugin` is deviating from what `tsc` does....

[2019-02-02 05:55] johnnyreilly commented on #702
Also, have you tried setting `"skipLibCheck": true` in your `tsconfig.json`? That may help

[2019-02-02 13:44] GAumala commented on #702
Hi everyone! It's been over a year since I filed this issue and I don't currently work with TypeScript or webpack, but because this issue got lots of activity recently I decided to check my original sample repo (https://github.com/GAumala/phaser-ts-webpack-example) once again and here's what I found:

1. `"skipLibCheck": true` inside tsconfig.json's `compilerOptions` doesn't help at all.
2. If I u

[2019-02-04 14:03] Bnaya commented on #846
TypeScript 3.3 supports incremental build with composite projects
https://github.com/Microsoft/TypeScript/wiki/Roadmap#33-january-2019

[2019-02-04 14:03] Bnaya commented on #851
TypeScript 3.3 supports incremental build with composite projects
https://github.com/Microsoft/TypeScript/wiki/Roadmap#33-january-2019

[2019-02-06 07:57] Bellian commented on #886
Had some problems too. You are using the wrong module system. `Use "module": "es2015"` in order to use tree shaking.

From Webpack documentation:

[2019-02-06 17:23] akopchinskiy commented on #886
@Bellian It seems like the webpack docs was updated after the issue itself was created :)

[2019-02-08 09:17] datenreisender opened #902 "Missing examples for HMR"
In https://github.com/TypeStrong/ts-loader#hot-module-replacement two example project setups for HMR are referenced, which were deleted in #899. Please describe more thoroughly in `README.md` what was once in the examples. I am at the moment struggling with setting up HMR and as a guidance tried to look at the examples before they were removed but also failed to make them work. :-/

[2019-02-08 22:37] akshita31 commented on #639
I am also facing the same issue.

I have a `async-child-process` module and I am using
`import { join, Result } from "async-child-process";`

I have created a typings folder and has an async-child-process.d.ts file in it.
`tsc -p ./` works fine however when I use webpack with ts-loader, I get the error:
error TS7016: Could not find a declaration file for module 'async-child-process'.

Did anyone f

[2019-02-11 00:37] #551 closed

[2019-02-12 19:06] hinell commented on #897
I think  `compilerOptions` isn't working at all.
Just found out that any options from `compilerOptions` aren't applied to the running compiler.
I've used the following in order to use `ESNext` features but it failed:
[code]

Using the `configFile` instead of `compilerOptions` just worked fine for me.

[2019-02-14 04:30] rgripper commented on #897
@hinell This looks like a separate issue, feel free to open another ticket.

For everyone else - there are several rewriting transformers available for the `ttypescript` package, use them to rewrite import declarations.

[2019-02-14 04:30] #897 closed

[2019-02-14 07:42] mreiche commented on #278
I'm facing this issue as well, but infrequently. Sometimes it works, sometimes not.
[code]
When try to build again:
[code]

In `webpack.config.js`
[code]

Edit: I fixed that by changing the aurelia global resources from:
[code]
to
[code]
And it seems to work now everytime.

[2019-02-15 18:44] tomtheisen opened #904 "bigint literals fail to parse"
### Expected Behaviour
Successfully compile and produce output file.  bigint literals were introduced in typescript 3.2.  They look like this. `123n`

### Actual Behaviour
Produces error message:

[code]
### Steps to Reproduce the Problem

I'm using these files:

#### package.json

    {
      "devDependencies": {
        "ts-loader": "^5.3.3",
        "typescript": "^3.3.3",
        "webpack": "^

[2019-02-15 18:56] tomtheisen commented on #904
Hmm, maybe I posted this too quickly.  This is starting to look like a bug in webpack, not related to ts-loader.

[2019-02-15 18:56] #904 closed

[2019-02-17 07:16] johnnyreilly commented on #902
I recommend looking at an older version of the repo if you want to see the examples. It was removed as the HMR example had some problems. As I understand it hmr has never really worked reliably enough for me to be comfortable having an example in the repo. If that changes I'd be happy to readdress. We should really remove reference to old examples from the repo

[2019-02-18 09:45] datenreisender commented on #902
If for you, as you wrote, "hmr has never really worked reliably enough" then I suggest adding an according warning to the section of the README, besides removing the reference to the old examples. My suggestion for that section:

[code]

[2019-02-18 11:13] thovden opened #905 "TS6307: JSON files not in file list when using composite projects"
### Expected Behaviour

Using `resolveJsonModule` and `composite` projects works as `tsc` does.

Note that `tsc` has had some issues with this that were solved in  https://github.com/Microsoft/TypeScript/issues/25636 and that `tsc` works correctly now. See reproduction below.

### Actual Behaviour

[code]

### Steps to Reproduce the Problem

[code]

### Location of a Minimal Repository that Demons

[2019-02-19 18:31] thovden commented on #905
I get these intermittently in VS Code as well, so perhaps here is some funkiness in the typescript servicehost that affects both `ts-loader` and VS Code

![image](https://user-images.githubusercontent.com/1264256/53038394-e8edd300-347c-11e9-953e-d9037cc0f51d.png)

[2019-02-19 19:07] johnnyreilly commented on #905
Possibly.... Have you bumped on this @andrewbranch?

[2019-02-19 23:44] andrewbranch commented on #905
Hmm, nope, that's new to me. Would be happy to take a look at it sometime, but I'm about to be traveling (without a computer) for the next few weeks 🙈

[2019-02-20 06:07] johnnyreilly commented on #905
Have great travels! It's good to be away from the keyboard every now and then 😁

[2019-02-23 22:14] navneet-g commented on #706
Is there a way to generate a build error when we use enum instead of const enum in d.ts files?

[2019-02-23 22:18] navneet-g opened #906 "Generate build errors when d.ts file contains enum and not const num"
enum in .d.ts files don't work (amd modules) and we get runtime errors, instead if we define as const enum they work.
Is there a compiler option we can use to generate a build error when enum is defined instead of const enum in d.ts files.

[code]
does not work and gives runtime error about missing module foo
[code]
works.

[2019-02-23 23:28] frevds opened #907 "No difference for webpack output if target=ES3 or ES5?? Am I doing something wrong?"
No matter what I enter for the target or module (also tried leaving the defaults) in the tsconfig.json it does not make any difference in the bundle.js generated by webpack for my .ts files using the ts-loader. What am I doing wrong here? How could I compile my project for some older browser?

devDependencies:
    "ts-loader": "^5.3.3",
    "typescript": "^3.3.3333",
    "webpack": "^4.29.5",

[2019-02-23 23:43] frevds commented on #907
Hell yeah, I was using webpack --watch during those changes.
Changes to the tsconfig.json seem to be ignore, apparently old version from startup time is cached and used.

[2019-02-24 06:27] johnnyreilly commented on #906
I don't think this is supported in tsc - so there's nothing useful that ts-loader can do here I'm afraid. Suggest reposting this against the TypeScript repo instead

[2019-02-24 06:27] #906 closed

[2019-02-24 06:30] johnnyreilly commented on #907
This test demos outputting es3: https://github.com/TypeStrong/ts-loader/tree/master/test/comparison-tests/es3

Hope it helps!

[2019-02-26 11:29] iyinchao commented on #653
A modified version from @iamakulov 's code for my private project , supports passing regexp / string as ignore rules, to apply to file name or exported identifiers. Hope it can help a little:

**Usage (in webpack config):**
[code]

**Plugin:**
[code]

[2019-02-28 17:13] nicojs opened #909 "Allow ts-loader to be used more than once"
### Expected Behaviour

Given this webpack config:

[code]
I would expect files in the `test` directory to be transpiled with `test/tsconfig.json`, while files in the `src` directory are transpiled using `src/tsconfig.json`

### Actual Behaviour

Both test and src files seems to be transpiled using the `src/tsconfig.json` file, which results in errors. In my demo application:

[code]

### Steps to

[2019-02-28 18:14] johnnyreilly commented on #909
Does the instance option help at all? https://github.com/TypeStrong/ts-loader/blob/master/README.md#instance-string

[2019-03-04 10:30] FRSgit commented on #37
After some digging I found out that in `typescript@3.16` following code works as well (still looks a little bit ugly though 😐):
[code]

Since this issue topic was my no. 1 occurence when googling I thought that I'll share that - for future wanderers ;)

[2019-03-04 11:26] FRSgit commented on #37
One important note - actually to let webpack's [dead code elimination ](https://webpack.js.org/guides/tree-shaking/) to kick in, better option is to create declaration file and include it (or it's parent directory) into your tsconfig.json file, so:

You need to create `constants.d.ts` file:
[code]

Then add it's parent directory to `tsconfig.json`:
[code]

Finally, you can use these global variabl

[2019-03-04 22:28] fforres commented on #331
Same as @dark-monst
In my case, I created a definition `.d.ts` file to override a module's function definition, and while picked up w/o any issues on my IDE, same definition file does not get picked up at compile time :(

[2019-03-06 04:21] bjeanes commented on #751
That did not work for me, but the solution in https://github.com/babel/babel-loader/issues/603#issuecomment-418472968 did:

[code]

[2019-03-13 00:52] psyanite opened #910 "See "rule requires type information" warnings on build"
Problem: When I run `webpack --config webpack.config.lib.js --progress --colors --watch --verbose`, I see warnings that I don't see when the project gets relinted.

Even when I add `"no-boolean-literal-compare": true,` into `tslint.json`, I still see the error.

The warnings I see are `Warning: The 'no-boolean-literal-compare' rule requires type information. Warning: The 'match-default-export-name

[2019-03-13 05:59] johnnyreilly commented on #910
Given this is tslint related I think you probably raised this against the wrong project.

That said, you might want to investigate a different way of using tslint with the fork-ts-checker-webpack-plugin. Check out this part of the docs for more: https://github.com/TypeStrong/ts-loader/blob/master/README.md#faster-builds

[2019-03-13 05:59] #910 closed

[2019-03-13 06:23] psyanite commented on #910
I'm guessing what's happening is that during build, webpack is not fetching the right tslint or tsconfig files.

Anyway, thanks for your quick response!

[2019-03-13 14:56] coultonluke commented on #795
I just came across this error when using `ts-loader`.
In case anyone is confused, this error is saying:

You can do this by executing `npm i typescript`

[2019-03-15 17:35] nicojs commented on #909
@johnnyreilly thanks for the workaround. It works like a charm:

[code]

[2019-03-15 17:35] #909 closed

[2019-03-16 14:16] gytisgreitai opened #911 "webpack with project references: ERROR TS6059: xxx is not under 'rootDir'"
Trying to migrate our multiple typescript projects to monorepo by using project references. Everything seems to be fine, but in one project when running through ts-loader (5.3.3) I get this strange error:

[code]

If I simply do run `tsc -b tsconfig.json` on the same project - all ok, no errors. I've tried looking at output with traceDependencies, but it does seem ok to me:

[code]

tsconfig.json

[2019-03-16 14:29] johnnyreilly commented on #911
I haven't been using project references myself - possibly @andrewbranch can advise?

[2019-03-17 17:29] andrewbranch commented on #911
Hmm, it looks like ts-loader isn't recognizing that `front/icons` is a project reference. Is there anything different about that composite project's structure or configuration? Honestly the only way I could troubleshoot something like this is by debugging, setting breakpoints in ts-loader itself. If you can share your repo, or a repo that reproduces the same problem, I can help with that. If you w

[2019-03-18 10:20] goenning opened #913 "Regarding new "incremental" flag from TS 3.4"
Typescript 3.4 (RC) includes a new "incremental" flag: https://devblogs.microsoft.com/typescript/announcing-typescript-3-4-rc/

I've updated to 3.4 and set this flag to true.

If I do `tsc -p tsconfig.json` then the build cache is generated and subsequent calls are much faster.

But if I run it through webpack (which is using ts-loader), then the build cache is not generated and subsequent calls t

[2019-03-18 12:56] johnnyreilly commented on #913
Possibly - I haven't looked at it yet and so can't advise. If you'd like to look into it that'd be amazing!

[2019-03-20 03:33] Jojoshua commented on #913
I was just about to open this issue. I also tried specifying  compilerOptions: { incremental: true } but no dice.

[2019-03-22 09:31] anthonybriand opened #914 "Declarations file missing in webpack watch mode"
### Expected Behaviour

Declaration files to be generated, on watch rebuild

### Actual Behaviour

Declaration files generated at initial build, but on watch rebuild they are removed and only the modified file have a declaration

### Webpack config
[code]

### TSConfig
[code]

### Versions
Webpack : 4.29.6
TypeScript : 3.3.4000
Ts-Loader : 5.3.3
Node : 11.10.1
fork-ts-checker-webpack-plugin : 1.0.

[2019-03-22 09:44] anthonybriand commented on #914
After some tests, and deep inspection of the clean-webpack-plugin its due to the cleanStaleWebpackAssets option, this option is true by default.

Sorry for the inconvenience.

[2019-03-22 09:44] #914 closed

[2019-03-24 08:24] vyushin commented on #37
@FRSgit, loks good )

[2019-03-24 08:41] #740 closed

[2019-03-25 20:37] kmannislands commented on #278
I believe I am running into this after restructuring a project with lerna + yarn workspaces.
First I get this error:
[code]

and then when I add the specified flag, something like:
[code]

[2019-03-27 09:02] #794 closed

[2019-03-27 13:02] #689 closed

[2019-03-27 13:02] #250 closed

[2019-03-27 13:02] #716 closed

[2019-03-27 13:02] #703 closed

[2019-03-27 13:02] #684 closed

[2019-03-27 13:02] #683 closed

[2019-03-27 13:02] #659 closed

[2019-03-27 13:02] #223 closed

[2019-03-27 13:02] #421 closed

[2019-03-27 13:02] #580 closed

[2019-03-27 13:02] #567 closed

[2019-03-27 13:02] #239 closed

[2019-03-27 13:02] #54 closed

[2019-03-27 13:02] #645 closed

[2019-03-27 13:02] #224 closed

[2019-03-27 13:02] #603 closed

[2019-03-27 13:02] #116 closed

[2019-03-27 13:02] #592 closed

[2019-03-27 13:02] #264 closed

[2019-03-27 13:02] #105 closed

[2019-03-27 13:02] #502 closed

[2019-03-27 13:46] nktssh commented on #689
Any updates on this?

[2019-03-27 19:02] #186 closed

[2019-03-27 19:02] #244 closed

[2019-03-27 19:02] #222 closed

[2019-03-27 19:02] #232 closed

[2019-03-27 19:02] #199 closed

[2019-03-27 19:02] #184 closed

[2019-03-27 19:02] #114 closed

[2019-03-27 19:02] #113 closed

[2019-03-27 19:02] #59 closed

[2019-03-27 19:02] #90 closed

[2019-03-27 19:02] #89 closed

[2019-03-27 19:02] #63 closed

[2019-03-27 19:02] #68 closed

[2019-03-27 19:02] #85 closed

[2019-03-27 19:02] #58 closed

[2019-03-27 19:02] #91 closed

[2019-03-27 19:02] #64 closed

[2019-03-27 19:02] #57 closed

[2019-03-27 19:02] #66 closed

[2019-03-27 19:11] joekrump commented on #534
@artem-malko I think I'm running into a similar issue. Were you able to resolve it on your end? Are you able to give any tips?

[2019-03-28 13:03] artem-malko commented on #534
@johnnyreilly I just switch on sourcemaps in tsconfig and webpack config and it works =) I use ts-loader 5.3.3 and webpack 4.29.6

[2019-03-28 19:59] ritmos commented on #278
Hello dear typescripters. The issue is not because of ts-loader, but because **tsc defaults to exclude node_modules folder** (https://www.typescriptlang.org/docs/handbook/tsconfig-json.html). They have a bad example showing how to exclude files with "node_modules" in it which leads to confusion. I have oppened an issue for that.

In any case, in order to allow ts-loader consume typescript source f

[2019-03-28 20:36] kmannislands commented on #278
@ritmos yes, something similar ended up being the issue for me, not a bug with ts-loader after all

[2019-03-29 18:46] MadaraUchiha commented on #913
TypeScript 3.4.1 had officially landed. Can this feature be safely (or at all) used?

[2019-03-29 20:30] johnnyreilly commented on #913
I suspect work may need to be done to add support. If someone wants to take a look that'd be greatly appreciated!

[2019-03-29 21:56] radiosterne commented on #913
Looking into it, we may be able to pass specialized `incrementalHost` to `createProgram` based on the flag.

[2019-03-29 22:22] johnnyreilly commented on #913
Awesome - thanks!

[2019-03-31 15:24] radiosterne commented on #913
As of now, I see no clean way to use TSC's `incremental` :(

Every API they are using to scaffold incremental building is, sadly, non-public, if I'm not missing something.

@johnnyreilly, what's your take on our subsequent steps here? I propose opening an issue in Typescript repository in order to make these APIs public. But, of course, we can do it dirty and just use private APIs (by extending `t

[2019-03-31 15:31] johnnyreilly commented on #913
@radiosterne thanks for investigating! I really appreciate it.

I'd recommend opening an issue with against the TypeScript repo to see if they're interested in making the API public facing. It's not unusual for them to release a feature like this and then "API release" it later. If memory serves, the original incremental build API was released with something like TypeScript 2.6 with the API not sh

[2019-03-31 16:25] radiosterne commented on #913
Now that I've filed an issue with them and my head cleared a bit, I'm starting to wonder if we're gonna be able to employ this API at all.

The sole purpose of `incremental` flag, as I see it, is to speed up cold builds (webpack `watch` is covered by ts-loader already) by omitting non-changed files from compilation altogether (but still type-checking them, if they are using something from changed

[2019-03-31 16:58] MadaraUchiha commented on #913
I'm unsure of how the API functions, but is it not the case that it caches compilation results and gives you a faster lookup in case of cache hits? Without seeing the code, I'd naively expect the API to look the same for the consumer. (i.e. the cache layer being invisible)

[2019-03-31 17:05] johnnyreilly commented on #913
I haven't had chance to look into `incremental` yet and so you probably understand it better than I do.  That said, my assumption is that `incremental` speeds up cold builds using data saved to disk during previous compilations.  I don't see any reason that shouldn't be used by `ts-loader` on startup as well...  (Always possible I may be misunderstanding it.)

[2019-04-03 07:07] glen-84 commented on #913
https://github.com/Microsoft/TypeScript/issues/29978

[2019-04-03 07:27] johnnyreilly commented on #913
It looks like APIs will be exposed with a future version of TS. When those are available we'd greatly welcome PRs that plug into this. 😁

[2019-04-04 18:43] aaronbeall opened #917 "ts-loader errors in files it should ignore"
### Problem
I am using `ts-loader` to bundle `*.ts` files, and exclude `*.spec.ts` files (which are used by Jest, not Webpack):

[code]

But for months now, for some reason I get _intermittent_ TS errors in `.spec.ts` files from `ts-loader` while using `webpack-serve`:

[code]

The above example error happened after switching branches in git (which is usually when this problem happens), in which t

[2019-04-04 18:48] aaronbeall commented on #917
Well, this issue is only 5 minutes old but I just learned that `webpack-serve` is deprecated in favor of resurrected `webpack-dev-server`... I'll migrate to `webpack-dev-server` and see if this goes away.

[2019-04-04 18:48] #917 closed

[2019-04-04 19:07] andykais opened #918 "warning while using ttypescript@3.3333"
No issues with actual functionality, just a warning that I cannot find a purpose for.

### Expected Behaviour
loader does not give a warning

### Actual Behaviour
[code]

### Steps to Reproduce the Problem
package.json
[code]
webpack.config.js
[code]
### Location of a Minimal Repository that Demonstrates the Issue.
apologies, this is my full repo that contains the warning https://github.com/andyka

[2019-04-07 13:40] #879 closed

[2019-04-07 19:56] Sebazzz commented on #913
So that startup is quicker is a good reason? Especially for scenario's where webpack is automatically invoked, for instance in ASP.NET Core scenarios.

[2019-04-07 20:31] Plmeks commented on #652
module: "esnext" and removeComments: false at tsconfig.json

[2019-04-09 12:35] crazyx13th commented on #918
I got the same
`ts-loader: Using ttypescript@3.4.1. This version may or may not be compatible with ts-loader.`

thx!

Greetings
crazyx13th

[2019-04-10 19:45] OneCyrus commented on #913
the interesting part here are composite projects/references. https://www.typescriptlang.org/docs/handbook/project-references.html

[2019-04-11 19:51] markogresak commented on #653
I have created a [IgnoreNotFoundExportPlugin](https://github.com/markogresak/ignore-not-found-export-webpack-plugin), which is configurable by import path, for example, to match only TypeScript files. I believe this solution to be more scalable for future import warning, without having to fix the config for every new warning.

[2019-04-12 15:12] #846 closed

[2019-04-15 00:32] xiaoouLi opened #919 "jest issue - read to end of issue; perhaps related to `resolveTypeReferenceDirectives` addition?"
### Expected Behaviour
Build Successfully with no error

### Actual Behaviour
I'm working with webpack + typescript + gulp, and loading .ts and .tsx files with ts-loader.
For most of the time, everything works fine.
But build RANDOMLY failed on ts2304 error or ts2345.
I found out that if I don't install types/jest (ts2304: cannot find describe ...etc.) and types/es6-shim (ts2345: something caused

[2019-04-15 21:10] xiaoouLi commented on #919
Anyone can take a look?

[2019-04-16 07:27] johnnyreilly commented on #919
I don't think anyone can as you haven't provided a minimal reproduction repo ...

[2019-04-16 18:08] xiaoouLi commented on #919
Sorry about that..

here is my package list in package.json file.

[code]

Here is my webpack.config.js
[code]

Here is my tsconfig.json:
[code]

Thanks!!!

[2019-04-19 10:30] tylerjwatson commented on #911
I get this as well.  Is there anything I can help with or has OP done the debugging work already?

[2019-04-19 10:46] gytisgreitai commented on #911
Ah, forgot about this. First i've just done a quick hack by moving tsconfig.json into rootDir (`app` in this case) and removing rootDir definition.

And after that if I remember correctly we ran into unrelated  issue because of invalid imports paths, e.g. if we take project dependency tree like this:

[code]

`portal` which uses ts-loader and has a depency on libraries `@front/icons` and `@front/f

[2019-04-19 12:43] hasankoroglu opened #920 "Is it mandatory to install this package locally?"
Do i have to install this package locally? Is it possible to install it globally? I installed it globally but cannot get worked. When i run webpack it gives error like this:

My working folder : https://github.com/hasankoroglu/ts-loader

What am i doing wrong?

[2019-04-19 13:38] hasankoroglu commented on #920
I installed it locally but this time it gives error like this:

I think it looks for typescript local node_modules folder. Is there any way to show ts-loader the global node_modules folder?

Module build failed (from ./node_modules/ts-loader/index.js):
Error: Cannot find module 'typescript'
   at Function.Module._resolveFilename (internal/modules/cjs/loader.js:582:15)
    at Function.Module._load

[2019-04-20 22:31] vehsakul commented on #223
May be it's related. Can I get js files imported in ts file (handled by ts loader) be processed according to webpack config?
I have the following in my webpack configuration
[code]
But flow typings are left intact, so it doesn't seem to work.

[2019-04-21 20:09] andrewbranch commented on #905
@stalebot relax, I'll put it on my to-do list

[2019-04-22 02:47] vipcxj opened #922 "Unable to filter the warning output"
I use `typings-for-css-modules-loader` to generate the dts file of css and less file. Then the ts will report
[code]
Even if I config the `reportFiles` to `['src/**/*.(ts,tsx)']`, it not work.
And `['src/**/*.(ts,tsx)', '!src/**/*.{css,less,sass,scss}.d.ts']` still not work.

[2019-04-25 08:47] JuneAndGreen commented on #264
Same problem I met, how to solve it?

[2019-04-25 12:32] lemoustachiste commented on #919
I am experiencing a similar issue with a recent upgrade from 5.3.3 to 5.4.3.

As I build my project, I receive errors such as:

[code]

I had no issue previously.

This is my tsconfig.json:

[code]

[2019-04-25 15:01] AlexLeung opened #926 "[Question/Feature Request] Specify different tsconfigs for different instances."
We can specify different instances of `ts-loader` like this:

[code]

but is there a way that I can have each of these instances use a different tsconfig? Perhaps one set of files is allowed to have `dom` related types and another set of files is meant to be universal and so should not have any `dom` types.

In my use case files from both sets need to end up in the final 1 bundle.

[2019-04-25 15:11] AlexLeung commented on #865
Related to #926. @johnnyreilly you pointed out that @VictorQueiroz should use 2 different instances, but he also asked how we can use a **different tsconfig for each instance**.

[2019-04-25 16:55] johnnyreilly commented on #865
Does this help? https://github.com/TypeStrong/ts-loader/blob/master/README.md#configfile-string-defaulttsconfigjson

[2019-04-26 05:01] AlexLeung commented on #865
Yes thanks.
I guess I had a misunderstanding about webpack. It seems like this only allows me to provide rules for the various entry files. How would I use different tsconfigs for the transitive dependency files?

[2019-04-26 10:37] #902 closed

[2019-04-28 19:26] veeramarni commented on #833
I still have the issue, `.d.ts` are generated on a different directory.

@JonWallsten here is the output

[code]

[2019-04-28 19:28] veeramarni commented on #833
seems like the below configuration working.

[code]

[2019-04-29 09:03] hbroer commented on #919
I have a similar problem after updating from 5.3.3 to 5.4.4 (5.4.3 has same problem):

"TS2582: Cannot find name 'test'. Do you need to install type definitions for a test runner? Try `npm i @types/jest` or `npm i @types/mocha`."

I use jest, and jest itself runs fine. Webpack build fails. Downgrading only the ts-loader to 5.3.3 is my current workaround. My configs:

webpack.config.js:
[code]

tsc

[2019-04-29 11:47] johnnyreilly commented on #919
I would lay good money that this comes down to the addition of `resolveTypeReferenceDirectives` to the `servicesHost.ts`:

https://github.com/TypeStrong/ts-loader/pull/921/files#diff-70b0dbb6219cb6164e67ffb54a8f23c0R157

If someone could take a look at this and advise if there's a genuine problem with the way this is implemented that would be helpful.

It's difficult to take this further at the mo

[2019-04-30 01:03] weijian19391 commented on #653
Tested the various solutions here, but somehow the following line always returns false:

`warn instanceof ModuleDependencyWarning`

Here's how the warn object looks like:

`ModuleDependencyWarning: "export 'IEventState' was not found in './reducer'
    at Compilation.reportDependencyErrorsAndWarnings (~/node_modules/next/node_modules/webpack/lib/Compilation.js:1332:23)
    at Compilation.finish (~

[2019-04-30 07:36] JonWallsten commented on #833
Sorry, I'm a bit out of context since this happened a long time ago. But it seems like your path settings are a bit of. The output path contains 'browser' but the declaration doesn't.

The relative path for to the declaration file from this directory `/Users/veeramarni/Documents/eclipse/workspace/phoneapps/development/projects/fullstack-pro/packages-modules/counter/browser/lib` is `../../lib/index

[2019-05-01 00:02] craigsumner commented on #919
Ran into the same problem today, upgrading from 5.3.3 to 5.4.4.
Specifically, errors around failing to find types for jest test functions.

[2019-05-02 01:43] awk commented on #859
I have a similar problem (importHelpers: "true" in tsconfig.json) - the same code (same git SHA) and versions of tools (webpack 4.27.1 ts-loader 5.4.5) produces two different versions of the commons chunk.

In one case all the helpers are resolved using an imported tslib, in the other case tslib is never imported and all the helpers are directly placed into the output code. There are no other diff

[2019-05-02 07:41] #907 closed

[2019-05-02 18:54] awk commented on #859
You can leave this closed (I think).

I believe my problem was actually with thread-loader and multiple tsconfig.json files in my tree. thread-loader started a ts-loader instance where the resourcePath was pointing at a folder with a different (no importHelpers option) tsconfig.json . It looks like all the compilation in that thread was using that (inappropriate) tsconfig.json and leading to seein

[2019-05-04 02:10] webberwang commented on #905
I'm getting this as well `is not in project file list. Projects must list all files or use an 'include' pattern.`. I have include set inside `tsconfig.json`, I can confirm the setting is working for `tsc` but not `ts-loader.

[2019-05-06 07:04] kirillonufreinko commented on #851
Is there any work in progress on this or the issue was put on hold?

[2019-05-06 07:41] johnnyreilly commented on #851
I'm not working on it... It's possible @andrewbranch may be but I don't know

[2019-05-06 10:24] pvtri96 opened #929 "Breaking change in micromatch 4 in ts-loader 5.4.6"
### Expected Behaviour

Everything should work fine because it is just a patch, not a breaking release.

### Actual Behaviour

I am having this log when trying to upgrade to version 5.4.6

[code]

### Steps to Reproduce the Problem

Here is my `webpack.config.js`

[code]

### Location of a Minimal Repository that Demonstrates the Issue.

Refer to this PR: https://github.com/penta-jelly/re-radio/pu

[2019-05-06 11:49] johnnyreilly commented on #929
what version of node are you running?

[2019-05-06 12:08] johnnyreilly commented on #929
See https://github.com/TypeStrong/ts-loader/pull/930 for progress

[2019-05-06 12:23] pvtri96 commented on #929
@johnnyreilly I am using node 10. Release this dependencies upgrade on version on 6.0 is fine for me, I will figure a way to solve it on my project.

[2019-05-06 12:48] johnnyreilly commented on #929
Okay that's somewhat unexpected - according to micromatch the minimum is node 8. So I'm not clear why it's failing on your project.... The error message suggests that it's the `{ ...options` that's problematic. Can you think why that would be an issue for you?

[2019-05-06 13:02] pvtri96 commented on #929
I am thinking the reason it is failed because ts-loader was ran directly on Browser (Cypress mechanism) but not on NodeJS environment. Do you have any idea about how to solve it?

[2019-05-06 13:27] johnnyreilly commented on #929
I'm not sure I understand how that would work... Either way, I'd still expect object spread to be just fine since chrome has had it for a very long time indeed!

Puzzling...

[2019-05-06 14:05] B3zo0 commented on #929
@pvtri96  It is a problem in cypress not in ts-loader. Cypress comes with electron builtin with chorme 63 that does not support object spread. You should be fine after this https://github.com/cypress-io/cypress/pull/4001 gets released. What you can do is to not run your code in electron but the browser instead. You can do it like this https://docs.cypress.io/guides/guides/command-line.html#cypress

[2019-05-06 14:20] pvtri96 commented on #929
@B3zo0 thanks for your in-depth answer. Instead of trying to find a workaround for this, I am better stick with ts-loader@5.4.5 while waiting for Cypress to release the new version with a newer version of Chrome.

[2019-05-06 15:17] andrewbranch commented on #851
This is still the current status: https://github.com/TypeStrong/ts-loader/issues/851#issuecomment-443778966

It should be something that's possible in the future, just not quite yet. Thanks for your patience, everyone 🌟

[2019-05-06 17:15] johnnyreilly commented on #929
Re-released as 6.0.0 https://github.com/TypeStrong/ts-loader/releases/tag/v6.0.0

[2019-05-06 17:15] #929 closed

[2019-05-07 20:11] Frozenfire92 opened #931 "build bug with new version"
### Expected Behaviour
it builds properly

### Actual Behaviour
it fails with this warning

[code]

### Steps to Reproduce the Problem
- a new cypress project, try adding typescript like in their [example](https://github.com/cypress-io/cypress-example-recipes/tree/master/examples/preprocessors__typescript-webpack)
- `npm run cypress:open`

If your ts-loader version is > 5.4.5 it will break. I conf

[2019-05-07 20:44] B3zo0 commented on #931
see https://github.com/TypeStrong/ts-loader/issues/929

[2019-05-08 20:27] xiaoouLi commented on #919
One thing to notice is that it happens RANDOMLY and very rarely...

[2019-05-09 07:55] tjaskula commented on #919
Upgraded today from `5.3.3` to `6.0.0` and I have those problems too:

[code]

Adding `jest` to types filed in tsconfig changes nothing.

[2019-05-09 14:55] KnisterPeter commented on #919
@johnnyreilly Here is a minimal testcase. It failes if you run `yarn webpack-dev-server`

[KnisterPeter/ts-loader-minimal-jest-failure](https://github.com/KnisterPeter/ts-loader-minimal-jest-failure)

[2019-05-10 15:55] ChrisTalman opened #932 "No Errors Displayed with Project References"
I have a project reference. The reference seems to work correctly. The output seems to correctly include the referenced project. However, strangely, no errors are displayed in the command line interface for the main project itself, as opposed to the referenced project. If I temporarily remove the `projectReferences` option in `webpack.config.js`, the errors are displayed. I'm not sure why this is.

[2019-05-13 16:12] rbrisita commented on #814
The issue is that ts-loader v3.5.0 does not support webpack v4:
https://github.com/TypeStrong/ts-loader/releases/tag/v4.0.0

To support, update:
npm install --save-dev ts-loader@4.0.0

[2019-05-13 17:39] johnnyreilly commented on #814
Given ts-loader is now V6 maybe go for that version 😄

[2019-05-13 18:21] ChuckJonas commented on #767
I ran into this error when I had `"noEmit": true,` in my tsconfig.json

[2019-05-14 07:10] vytautas-pranskunas- commented on #929
any updates on this?

[2019-05-14 07:31] johnnyreilly commented on #929
Without knowing your problem I can't advise in detail. Micromatch 4 is a breaking changes release and so (accordingly) ts-loader 6 is too. My advice is stick with 5.x until you're able to upgrade. That may mean waiting for a cypress release if that's what is impacting you.

[2019-05-14 09:46] mijay commented on #919
I found a ~beautiful~ workaround. Just add the following to your `ts-loader` options:
[code]

[2019-05-14 18:28] johnnyreilly commented on #919
Thanks for sharing the workaround @mijay

If someone else could take a look at this I'd appreciate it - I'm fairly busy right now.

Given the workaround just shared I suspect that any fix (should one be required) be applied to `resolveTypeReferenceDirectives`:

https://github.com/TypeStrong/ts-loader/blob/cc7b2b18fb30bb6b3a6b0e17fb2f2ee95ca55ac6/src/servicesHost.ts#L183

[2019-05-14 18:32] johnnyreilly commented on #919
Thanks for sharing the workaround @mijay

If someone else could take a look at this I'd appreciate it - I'm fairly busy right now.

Given the workaround just shared I suspect that any fix (should one be required) be applied to `makeResolveTypeReferenceDirectives`:

https://github.com/TypeStrong/ts-loader/blob/cc7b2b18fb30bb6b3a6b0e17fb2f2ee95ca55ac6/src/servicesHost.ts#L506

[2019-05-15 08:37] ryanstaniforth commented on #932
I'm experiencing the exact same issue. If I remove `projectReferences: true` I suddenly get all the errors I'm expecting.

[2019-05-16 07:19] johnnyreilly opened #934 "Yarn PnP support - resolveTypeReferenceDirective - "I'm calling for a resolution...""
It all started when @arcanis raised a PR which added Yarn PnP support to ts-loader. To quote the PR:

https://github.com/TypeStrong/ts-loader/pull/862

Time passed and it was all good. Then the wonderful @arcanis submitted a very similar PR to the `fork-ts-checker-webpack-plugin`:

https://github.com/Realytics/fork-ts-checker-webpack-plugin/pull/250

This PR was very similar to the ts-loader one.

[2019-05-17 09:13] gunn commented on #913
More good TS 3.5 news:

 https://devblogs.microsoft.com/typescript/announcing-typescript-3-5-rc/#speed-improvements

[2019-05-17 14:58] johnnyreilly commented on #913
You might find this PR interesting! https://github.com/TypeStrong/ts-loader/pull/935

[2019-05-18 13:31] johnnyreilly commented on #934
Additional info; the new option being used by ts-loader adds further issues when plugged into `yarn-pnp-plugin` - using my PR here: https://github.com/arcanis/pnp-webpack-plugin/pull/10

The errors look like this:

[code]

Which are similar to the errors mentioned in this issue: https://github.com/Microsoft/TypeScript/issues/27956

You can take the (broken) example for a test drive here: https://g

[2019-05-18 19:40] andrewbranch commented on #920
Yes, you should always install project dependencies locally. The only things you should ever install globally are CLI tools that aren't related to any particular project, e.g. `yarn`. Globally installing project dependencies will only bring you pain and suffering, and it looks like Webpack is intentionally preventing you from doing that.

[2019-05-18 19:40] #920 closed

[2019-05-18 19:57] andrewbranch commented on #918
This isn't a bug, it's a feature 😄

ts-loader is only tested with `typescript` itself. This warning is just letting you know that if you're bringing your own alternative compiler, you're on your own and shouldn't be too surprised if something doesn't work.

[2019-05-18 20:01] andrewbranch commented on #278
It looks like #773 fixed this—can this be closed, or are there any further concerns?

[2019-05-18 21:05] andrewbranch commented on #905
This appears to be a TypeScript bug here: https://github.com/microsoft/TypeScript/blob/eeba30afc81e2c7c8a34a2deb0d4d2375a1c21f6/src/compiler/program.ts#L2771-L2774

I think either the JSON file should be in the program’s rootFiles when `resolveJsonModule` is true (there are a few different places that prevent this from happening), or `sourceFileMayBeEmitted()` is returning `true` for the JSON file

[2019-05-18 21:10] #278 closed

[2019-05-18 21:11] johnnyreilly commented on #278
I think you're right - closed.

[2019-05-18 22:26] #919 closed

[2019-05-19 02:06] #932 closed

[2019-05-19 02:10] andrewbranch commented on #919
This is fixed in v6.0.1, which is building and publishing now.

[2019-05-19 02:11] andrewbranch commented on #931
Closing as duplicate of #929. Thanks @B3zo0 👍

[2019-05-19 02:11] #931 closed

[2019-05-19 02:54] andrewbranch commented on #926
You can use the `configFile` option: https://github.com/TypeStrong/ts-loader/blob/master/README.md#configfile-string-defaulttsconfigjson

But you actually don't want two different ts-loader instances. You really want [project references](https://github.com/TypeStrong/ts-loader#projectreferences-boolean-defaultfalse). Project references don't work great with ts-loader, but they [will soon](https://

[2019-05-19 03:11] AlexLeung commented on #926
Extending my example such that there is a universal set of files, a web set, and a node set, will project reference support (once it's done), bundle the built universal js into both the node and web bundles?

[2019-05-19 03:11] #926 closed

[2019-05-19 03:16] AlexLeung commented on #879
I'm using a custom script which reads the tsconfig and webpack config to determine the location of the entry's output declaration file, then I read the file, extract the import paths via regex, then recursively go through each file, each import into a nested namespace, generating a bundled declaration file. There are some problems with this approach, but it sort of works.

[2019-05-19 06:01] johnnyreilly commented on #919
Awesome work @andrewbranch!

[2019-05-19 06:58] johnnyreilly commented on #934
Hey @andrewbranch

Thanks for all your work on this - it's been *amazing*. I think there's still an issue which remains. Unfortunately my laptop is dying on me right now which is making it difficult for me to share the details... Do bear with me!

[2019-05-19 14:51] pvtri96 commented on #929
This issue should not be a problem since Cypress [3.3.0](https://github.com/cypress-io/cypress/releases/v3.3.0).

[2019-05-19 17:38] andrewbranch commented on #934
Welp, I would love to debug and see what's happening, but the first thing I notice about PnP is—how are you supposed to debug anything? Debugging build and test tools like `webpack` is dependent upon being able to write something like `node --inspect-brk node_modules/webpack/bin/webpack.js`. In this universe, even if I go through the manual work of figuring out where webpack _is_, running node at

[2019-05-19 17:49] arcanis commented on #934
Hey! I'll give a better look at this issue soon but I figured I should first quickly answer your question, @andrewbranch 😃

A few things:

- The PnP hook can be manually injected with `--require <path/to/.pnp.js>`.
- But it also can be automatically injected via `yarn node`
- You can instruct Yarn to materialize any package with `yarn unplug <name>`

So in your case it would be something like this

[2019-05-19 18:00] arcanis commented on #934
I'm trying to run the example locally but it seems to succeed - what did I do wrong? I did the following:

- `git clone git@github.com:TypeStrong/ts-loader`
- `git checkout yarn-pnp-broken-example`
- `cd examples/yarn-pnp-resolveTypeReferenceDirectives-broken`
- `yarn install`
- `yarn build`

I'm using Yarn 1.16 and got the following output:

[code]

[2019-05-19 18:10] johnnyreilly commented on #934
Weird - that's not what I get / got.... Let me retest now

[2019-05-19 18:31] johnnyreilly commented on #934
Okay this is super weird.... If I do this I'm golden:

[code]

My local copy is theoretically identical and yet it doesn't work....  Not sure why that would be?

[2019-05-19 18:43] johnnyreilly commented on #934
So the only difference appears to be in the `.pnp.js` files.  There's subtle differences....

[2019-05-19 19:04] johnnyreilly commented on #934
Okay so I think there isn't actually a problem with ts-loader or with the PR to `pnp-webpack-plugin` either.  I'm going to close this issue.  Thanks @arcanis / @andrewbranch for looking into this.  I super appreciate it.

@arcanis in case you're curious, I ran BeyondCompare over the working / broken versions and got this:

![Screenshot 2019-05-19 20 02 04](https://user-images.githubusercontent.com

[2019-05-19 19:06] #934 closed

[2019-05-19 19:29] arcanis commented on #934
Hmm I really don't know 🤔 I know that `node_modules/.cache` is typically used by Babel, but since it's not used in this example ... maybe TS also uses it and didn't see some file had changed?

[2019-05-19 19:36] johnnyreilly commented on #934
It's weird... I blew away `.pnp.js` and `node_modules`, `yarn` and `yarn build`.  `node_modules` reappears in the `yarn build`.... Dunno

[2019-05-19 20:08] andrewbranch commented on #934
Amazing, I was hoping there would be some magic I was unaware of like that. Thanks @arcanis!

[2019-05-19 20:48] andrewbranch commented on #926
Project references itself doesn't _bundle_ anything—that's webpack's job. You'd have two root projects: node and web, each of which reference a third project: the shared code. Running `tsc -b` on the node project will build both the node project and the shared code. Where the output goes depends on the `outDir` of each of those projects. Running webpack on the web project will also build the share

[2019-05-20 02:51] AlexLeung commented on #926
Makes sense. So then if I use webpack for both the node and web sets, I would get 2 bundles, both containing copies of the transpiled shared code.

[2019-05-20 03:19] andrewbranch commented on #926
Yeah, I guess so. I wasn’t thinking about using Webpack for node, but yeah, that would work.

[2019-05-20 10:16] lemoustachiste commented on #919
Thanks to people involved

[2019-05-20 16:24] sheetalkamat commented on #905
@andrewbranch  This works with tsc but not with the sample repro code you gave because your base path is not resolved? (changing that to say 'c:/temp/test2' works). That's because https://github.com/microsoft/TypeScript/blob/master/src/compiler/commandLineParser.ts#L2729 expects basePath to be the first thing in the json matching pattern

[2019-05-20 16:42] andrewbranch commented on #905
Ah yes, that does fix my repro. I think ts-loader must be making a similar mistake, because the JSON files were definitely not in the program. This really helps narrow it down, thanks!

[2019-05-22 03:37] chenendian commented on #767
@amiiit  you meaning is .js and .ts  can't exist in a project at the same time?    now i use .js and ts in a project   has error

[2019-05-23 02:50] judoaseeta opened #938 "Error: Cannot find module 'typescript'"
ts-loader v.5.2.1
typescript 3.2.1

it works well in previous environment.

I just commit all of my project files into my repository.

and I formatted my laptop and reinstall everything with my repo.
then, this behaviors happened.

Of course, I installed typescript both local and global.

'tsc' command works in terminal, too. what's the problem?

### Expected Behaviour
works well with current type

[2019-05-23 03:24] #938 closed

[2019-05-23 03:25] judoaseeta commented on #938
I found a solution. since I linked with 'npm link typescript' it works with some compile time. thanks.

[2019-05-24 00:18] konpikwastaken opened #939 "Potential changes required for typescript 3.5.0"
### Expected Behaviour
- Specify `incremental` in tsconfig.json file
- Project is able to compile successfully with against typescript@3.5.0

Note that this issue is not present with typescript@3.4.x

### Actual Behaviour
An error similar to the following one is received:
[code]

Per conversation with typescript team (microsoft/TypeScript/issues/31447), it appears that this is a change in typescri

[2019-05-24 06:27] johnnyreilly commented on #939
Will this be handled by https://github.com/TypeStrong/ts-loader/pull/935 ?

[2019-05-24 16:24] moccaplusplus commented on #653
I have the same issue:

[code]

with code:

[code]

But when I define type alias in the same file, I get rid off warning:

[code]

So it seems like leaky beahavour. What makes local interface different from the important on.

PS.
I use webpack 4 with ts-loader, and of course the issue occurs only with `transpileOnly` option enabled.

[2019-05-24 17:54] alisman opened #940 "webpack hmr doesn't seem to work with ts-loader"
There is a config example linked on your README which is no longer available.  I have transpileOnly set to true.

[2019-05-24 19:11] johnnyreilly commented on #940
Send a PR to remove it?

[2019-05-28 10:39] HermannGruber opened #941 "Build does not find errors when targeting ES5 with latest TypeScript version"
### Expected Behaviour
If I modify the tsconfig.json in the "vanilla" example to target ES5, I expect a compiler error during `yarn build` after adding a statement using array.prototypes.includes, which is not part of the ES5 spec:

`TS2339: Property 'includes' does not exist on type '"foobar"'.`

I expect that it behaves in the same way if I use the latest version of TypeScript.

### Actual Behav

[2019-05-28 18:23] konpikwastaken commented on #939
I don't believe the two are related. #935 is specific to compiling project references using the solution builder. The issue raised here has to do with usage of `incremental` flag set via tsconfig.

(https://github.com/microsoft/TypeScript/issues/31447#issuecomment-494987555)

[2019-05-28 18:35] johnnyreilly commented on #939
Gotcha. Yes - makes sense now I think about it. If you want to have a go at adding what's needed that'd be amazing. Don't worry if you need to ask questions along the way and tests don't pass - that's all totally cool and something we can collaborate on.

[2019-05-28 19:03] johnnyreilly commented on #941
I'm slightly surprised by this - we've a test pack that covers this case:

https://github.com/TypeStrong/ts-loader/tree/master/test/comparison-tests/es5

It could be worth comparing your setup with this. Either way, the fact that changing the version of TypeScript you use prompts the issue suggests it's not a ts-loader problem and actually a TypeScript one

[2019-05-29 02:54] konpikwastaken commented on #939
@johnnyreilly PR submitted :)

[2019-05-29 05:52] HermannGruber commented on #941
Thank you very much for the hint! So I'll try to understand the comparison-tests suite. In case I need to report the problem to the typescript folks: Ultimately ts-loader will call tsc. Is there a way to track down what this call is exactly (which arguments etc.)? I suspect that the typescript devs wouldn't be excited if I describe the issue by referring to ts-loader.

[2019-05-29 06:40] johnnyreilly commented on #941
It's probably worth trying using tsc alone with the 2 different versions of TypeScript and seeing if the issue presents as a first step. ts-loader aims to be a drop in replacement for tsc behaviour wise (as a general rule)

[2019-05-29 11:05] HermannGruber commented on #941
Thank you very much for the guidance. I tried tsc alone with the 2 different versions of TypeScript and could repro the (bad) behavior. I tried three further things:

I also tried to run the tests but they were not green on my machine (diffs in the output) when I ran them on master. I think I won't invest any further time into making them run on my machine at the moment.

The compiler errors appea

[2019-05-31 04:29] #939 closed

[2019-06-01 18:35] davazp opened #943 "Non-deterministic error when compiling files outside of the TS project"
We have hit a strange bug that would fail _rarely_ (not deterministically) a build. When it failed, it threw the following error:

[code]

The cause turned out to be that such **file was not part of the `include` section of the `tsconfig.json`**. However, this non-deterministic behaviour is really confusing and undesirable, so I went deeper into the causes to really understand the problem and help

[2019-06-01 18:38] davazp commented on #943
If that is an acceptable solution and would not break anything else, I can work on a pull request . 🙂  Thanks for your work!

[2019-06-01 19:04] johnnyreilly commented on #943
First of all, thanks for your detailed work and analysis. I really appreciate the effort you've gone to 🥰

Things we like:

1. Determinism. Obvs 😁
2. Where it makes sense, `ts-loader` aims to be a drop in replacement for `tsc`. You're suggesting more of this and that very much aligns with our goals.

However, file resolution is actually one of the areas where we may differ behaviour wise. I think.

[2019-06-06 23:00] styfle commented on #851
It looks like TS just added support

- Issue: https://github.com/microsoft/TypeScript/issues/28640
- PR: https://github.com/microsoft/TypeScript/pull/31432

[2019-06-07 23:03] andrewbranch opened #949 "Incorrect getScriptFileNames/getRootFileNames causes resolution bugs"
I'm not even going to try to figure out a minimal repro, but I'm observing it happening in a real-world project while testing #935. Basically, this

https://github.com/TypeStrong/ts-loader/blob/d677d7359e863079e585310b105cfa9c45acf555/src/servicesHost.ts#L100

is supposed to return only the _root_ file names, i.e., what TypeScript sees as “entrypoints,” i.e., excluding libs and imported modules th

[2019-06-07 23:07] andrewbranch opened #950 "Files in project references are resolved to the project’s outDir even when projectReferences is disabled in options"
If you have a project reference with a tsconfig that has an `outDir`, and you have `projectReferences: false` in your ts-loader options, and you have `transpileOnly: false`, ts-loader will try to get the emit for the TS file’s declaration file in its outDir.

[2019-06-07 23:24] andrewbranch commented on #949
Wait, this might fix #943 too

[2019-06-07 23:26] andrewbranch commented on #949
Or better, yet #945 might fix this

[2019-06-07 23:55] andrewbranch commented on #949
Yessss, #945 is 99% of the way there: https://github.com/TypeStrong/ts-loader/pull/945#pullrequestreview-247342758

[2019-06-07 23:57] andrewbranch commented on #943
@davazp I’ve assigned you so it’s visible that this is being actively worked on; it does not imply a contractual obligation 😛

[2019-06-10 16:23] #950 closed

[2019-06-20 18:11] anvlkv commented on #929
Hi, i have this issue @6.0.3

[2019-06-21 08:45] #943 closed

[2019-06-23 09:56] vipcxj commented on #922
any news？

[2019-06-25 11:35] #911 closed

[2019-06-25 12:46] johnnyreilly commented on #911
@andrewbranch should we keep this open do you think?

[2019-06-25 16:16] andrewbranch commented on #911
I'm not particularly invested in this one but if @tylerjwatson or anyone else is still experiencing it and can provide a repro, we can reopen

[2019-06-25 17:13] johnnyreilly commented on #911
Closed is fine then - thanks!

[2019-06-28 13:31] stavalfi opened #957 "Can't set both declarationMap, transpileOnly to true"
`declarationMap=true` (in tsconfig.json) + `transpileOnly=true` (in webpack.config.js) don't get along.

### Expected Behaviour

no errors

### Actual Behaviour

(I already have set `declaration` & `composite` to true). The error only occurs when I set `transpileOnly` to true.

### Steps to Reproduce the Problem

Super minimal repo to reproduce the bug: https://github.com/stavalfi/ts-bug-repo

Run

[2019-06-28 17:46] johnnyreilly commented on #957
I think you're stuggle may be with the TypeScript compiler rather than ts-loader.... Have you tried making the changes the error message suggests?

[2019-06-28 19:05] stavalfi commented on #957
yes. i already set everything to true. this is why i see this as a bug and not a feature =[

the reason i post it here is because the error occur only when setting `transpileOnly` to true.

[2019-06-28 19:40] johnnyreilly commented on #957
I see what you mean. Yes - I'm afraid it's not a bug but part of the behaviour of `transpileOnly` - declaration files are not output in this mode and consequently map files of them too.

see here: https://github.com/TypeStrong/ts-loader/blob/master/README.md#faster-builds

[2019-06-28 22:38] stavalfi commented on #957
ho.. damn.. How could I miss it..

In a different topic, why there is a limitation such as: no decleration maps in this mode?

[2019-06-28 22:38] #957 closed

[2019-06-29 05:11] johnnyreilly commented on #957
We use a different API for this mode: https://github.com/TypeStrong/ts-loader/blob/985406808063a47cb24c6b3706a14f49b752e88d/src/index.ts#L485

this API does not support declaration files - you'd have to check with the TypeScript team for the reasons but I imagine it's that this API is just about transpilation ie making JS and so it would not do anything but that

[2019-07-02 04:37] spenceryue commented on #653
I had the same problem that @weijian19391 mentioned.

I used this condition instead:

    warn.constructor.name === "ModuleDependencyWarning"

in place of

    warn instanceof ModuleDependencyWarning

[2019-07-02 07:15] happycoder97 opened #958 "vue-loader example in Readme is not working"
## Steps to Reproduce the Problem

Install `webpack`, `webpack-cli`, `ts-loader`,`typescript`,`vue`,`vue-loader`,`vue-template-compiler` using `yarn`.
Copy the example `webpack.config.js` and `index.vue` from the Readme.
Import and register `VueLoaderPlugin` in `webpack.config.js` so that `vue` compiler doesn't complain.
Create `index.html` and add a script tag to load `./dist/bundle.js`
Create an

[2019-07-02 08:18] johnnyreilly commented on #958
Thanks for reporting! I'm not a Vue user and would greatly appreciate someone who is submitting a PR to update our docs. I'm aware that people are happily using Vue with ts-loader so it can be done!

[2019-07-02 12:11] SvyatoslavPozhydaev opened #959 "error "... has no exported member ..." after rename type, with webpack running in hmr or watch mode"
### Expected Behaviour
new name interface can be imported

### Actual Behaviour
[code]

### Steps to Reproduce the Problem
1. clone project
2. `yarn install`
3. `yarn start`
4. rename `MessagesItem` in `src/MessagesCard.tsx` and `src/types.ts` to `IMessagesCard`

### Location of a Minimal Repository that Demonstrates the Issue.
https://github.com/SvyatoslavPozhydaev/demo-ts-loader-error

[2019-07-05 14:50] carloscarvallo commented on #264
Same problem here

[2019-07-07 22:05] brainkim commented on #902
Might want to update this part of the README https://github.com/TypeStrong/ts-loader/#hot-module-replacement rather than pointing to dead example links.

[2019-07-08 05:35] johnnyreilly commented on #902
Would you like to submit a PR?

[2019-07-09 11:57] MuLoo commented on #505
it works， thanks！

[2019-07-09 11:59] MuLoo commented on #505
在utils.cssLoaders这个方法的返回里添加也是可以的。3Q

[2019-07-10 11:08] slavafomin opened #962 "LoaderOptions.compilerOptions typed incorrectly"
Hello!

Thank you for this great loader.

However, it looks like the `LoaderOptions.compilerOptions` property is typed incorrectly. The `target` property is typed as `ScriptTarget`, which is:

[code]

So, it requires the number value. However, in runtime it's actually expecting a string value, like `'ES2015'`. This leads to an error: `TS5024: Compiler option 'target' requires a value of type strin

[2019-07-11 05:48] wz2cool commented on #639
meet same issue, need help

[2019-07-16 15:31] glen-84 commented on #913
Not stale, please label.

[2019-07-18 08:17] kingller opened #974 "How to make the compiled decorator code not different from typescript and babel?"
Hi,
I find the decorator code compiled in TypeScript and javascript are different.
Input Code
[code]
The decorator code in TypeScript compiled to
[code]
but when not use TypeScript, the decorator code compiled to
[code]
I find it use `toolbar='XX'` when compile the `typescript` code, but use `initializer` when compile the javascript code by `babel`.
When I create a javascript class extends a types

[2019-07-18 14:58] johnnyreilly commented on #974
I think you need to raise this against the TypeScript repo - we use what they emit

[2019-07-23 06:21] kingller commented on #974
Relates to https://github.com/microsoft/TypeScript/issues/32476

[2019-07-23 06:21] #974 closed

[2019-07-24 07:21] KableM opened #986 "Named imported module used only for typings is wrongly excluded from the bundle"
This is despite setting `sideEffects: true` in `package.json` which should prevent webpack from pruning unused imports. As an extended measure I set `optimizations.sideEffects` to false in `webpack.config.js` to  ensure webpack wouldn't prune unused imports.

A similar setup with vanilla JS correctly includes the file in the bundle, which is why I created the issue here and not the webpack repo.

[2019-07-24 07:34] johnnyreilly commented on #986
So as I understand it, you're happy with the behaviour of scenarios B,C and D but you'd rather A included the typings on emit?

And it's really the typings being included that's the issue?

I'm not sure how this would be handled well.... Typings only exist at compile time and so from webpacks perspective it seems legitimate that they are not included. Remember, webpack is all about the js. It's no

[2019-07-24 07:42] KableM commented on #986
I guess the problem isn't that "typings" need to be imported, the file itself needs to be imported to ensure this "side-effect" code is run `customElements.define("my-web-component", MyWebComponent);`. You're right, I only need the typings at compile time but I need that particular line at runtime.

[2019-07-24 21:00] #918 closed

[2019-07-29 13:28] vort3xxx commented on #181
@olmobrutall, did you ever turn the fork checker back on?

[2019-07-30 09:34] olmobrutall commented on #181
Don't remember anymore. This is the configuration I'm currently using https://github.com/signumsoftware/southwind/blob/master/Southwind.React/webpack.config.js

It's using optimization/splitChunks instead of DLLs for simplicity. No big performance changes.

[2019-07-30 20:02] #940 closed

[2019-08-01 18:01] kukjevov commented on #851
Anything new here ?

[2019-08-04 14:56] #941 closed

[2019-08-06 00:58] monkeythedev opened #987 "ts-loader not liste for file change when exporting interface with webpack watch"
### Expected Behavior
ts-loader should listen to file changes.
### Actual Behavior
It seems that the file is still in cache somewhere, restarting webpack or renaming the file solves temporarily this problem but any file changes isn't committed in ts-loader.

Even if i change the interface properties or the interface name i cannot use my new values until i rename the file o restart webpack.
### Ste

[2019-08-06 08:57] hezhuojie commented on #897
@johnnyreilly I am curious why. ts-loader now can rewrite alias paths in emitted js to avoid problem in [https://github.com/Microsoft/TypeScript/issues/10866](https://github.com/Microsoft/TypeScript/issues/10866).

Why not go further and rewrite paths in d.ts to fix [this problem](https://github.com/Microsoft/TypeScript/issues/18972)?

[2019-08-06 15:26] johnnyreilly commented on #897
@hezhuojie feel free to submit a PR and I'll take a look

[2019-08-06 15:29] johnnyreilly commented on #987
@monkeythedev if you'd like to submit a speculative PR to fix this I'll take a look

[2019-08-06 19:24] renodubois commented on #987
I'm also experiencing this behavior - adding a new interface to a file where _only interfaces and types are present_ doesn't actually allow me to use that interface/type anywhere else in my app. If that file contains at least one non-TypeScript thing (a variable, etc) it seems to work fine, and changes are saved properly across the app.

We see this the most in our `types/` directory, where files

[2019-08-06 21:47] monkeythedev commented on #987
Idk... I debugged for a few hours and found that in `after-compile` at function `provideErrorsToWebpack` after calling `ensureProgram` the instance returned does have in the value returned by `program.getSourceFiles()` the old source of the itnerface files. It's like the watcher cannot listen for the changed source...

I tried awesome-typescript-loader and it work fine, but i can't figure out why.

[2019-08-07 06:02] andrewbranch commented on #949
Thanks for calling me out, stale-bot 🙊

[2019-08-07 07:17] johnnyreilly commented on #949
Ha! I pinned on the assumption this was on your list 😄

[2019-08-10 07:11] alshdavid commented on #838
Hey this seems to still be a problem

[2019-08-10 11:03] johnnyreilly commented on #838
I've reopened it - I'm not sure if anyone is looking at it though

[2019-08-12 00:57] WolfspiritM opened #988 "Very slow builds with many types (especially vue single file components)"
### Expected Behaviour
Fast compile

### Actual Behaviour
Very slow compile

### Steps to Reproduce the Problem
Check out https://github.com/WolfspiritM/TypeScript-Vue-Starter
Run "npm install" and "npm run build"
Compile takes more then 30 Seconds (48 Seconds in my case).
The project has about 40 very simple SFCs and has types loaded (especially lodash-es seems to cause troubles as it is so big I

[2019-08-12 05:27] johnnyreilly commented on #988
Heya,

I was going to recommend switching to `transpileOnly` and using `ts-loader` with `fork-ts-checker-webpack-plugin`. But I recognise your avatar and guess you already know that!

I don't have any particular recommendations at present. But if you want to experiment and submit speculative PRs I'll happily take a look!

[2019-08-12 18:10] cortopy commented on #331
@schmuli repo is spot on. Experiencing all same issues here, including using the `const enum` in a `.ts` file

[2019-08-12 18:16] cortopy commented on #331
Quickly reading the [source code](https://github.com/TypeStrong/ts-loader/blob/35b1b5634eececa914f977c31ae182ed88f24987/src/index.ts#L136) I can see that `transpileOnly` uses what looks like an `isolatedModule` api

I'm guessing that `transpileOnly` overrides whatever configuration there is for `isolatedModules` in `tsconfig`. Would there be a way to change this? It would probably solve this issue

[2019-08-12 18:30] johnnyreilly commented on #331
I think you can control `isolatedModules` via `tsconfig.json`:

https://www.typescriptlang.org/docs/handbook/compiler-options.html

There's also some useful content here: https://www.typescriptlang.org/docs/handbook/compiler-options.html

[2019-08-12 19:23] cortopy commented on #331
Indeed you can, but that compiler flag has no effect in `ts-loader`. It's overriden by using the isolated module ts api whenever `transpileOnly` is on (or so it seems to me)

[2019-08-12 19:41] johnnyreilly commented on #331
https://github.com/TypeStrong/ts-loader/search?utf8=%E2%9C%93&q=isolatedModules&type=

Are you sure? Doesn't look like ts-loader is doing anything in that space...

[2019-08-12 19:54] cortopy commented on #331
I'm not 100% sure at all!!! But I've tried disabling `isolatedModules` and ts-loader still inlines the `enum`. I've not digged into the source code, but I was looking at different api usage and "guessing" this may be why.

Looking again, I can see in [here](https://github.com/TypeStrong/ts-loader/blob/35b1b5634eececa914f977c31ae182ed88f24987/src/index.ts#L485) that `ts-loader` doesn't indeed overr

[2019-08-13 11:17] alexeychikk opened #989 "ts-loader doesn't respect null values in tsconfig"
I have two tsconfig-s, one for the library source and one for the dev app that uses webpack with tsloader and its tsconfig extends the library's one. Now, when I use `"declarationDir": null` in the dev app's tsconfig to override the string in lib's config - TypeScript by itself fully respects that and successfully compiles everything, **BUT ts-loader doesn't.**
ts-loader instead outputs `Option 'd

[2019-08-18 17:37] SebastianStehle commented on #913
With the 3.6 RC it should be (hopefully) easy to implement now.

See: https://devblogs.microsoft.com/typescript/announcing-typescript-3-6-rc/

[2019-08-18 17:50] johnnyreilly commented on #913
Feel free to have a go! This PR may have some useful info for reference: https://github.com/TypeStrong/ts-loader/pull/935 (different API but you may get some useful tips from it)

[2019-08-20 11:38] Joon-S commented on #25
@SOHELAHMED7 Thank you :)

[2019-08-22 12:49] lancedikson commented on #331
Just got the same problem. Read the whole issue, but haven't got the idea of why it happens. What's wrong with transpiling `.d.ts` the same way as it's done when `transpileOnly` disabled? Could you explain the idea behind that? :)

[2019-09-03 11:20] shelakel opened #995 "TypeScript 3.6 transpileOnly:true incompatible with tsconfig incremental:true"
Note using both transpileOnly: true and incremental: true works with TypeScript 3.5

### Expected Behaviour
Webpack build succeeds.

### Actual Behaviour
Webpack fails with `... === undefined. Unexpected multiple outputs`

### Steps to Reproduce the Problem
Set webpack ts-loader options - transpileOnly: true and tsconfig compilerOptions - incremental: true.

### Location of a Minimal Repository th

[2019-09-03 17:45] johnnyreilly commented on #995
Thanks for reporting! I'm kind of snowed and so I'm unlikely to look at this anytime soon. But if you'd like to have a go please do feel free.

My recommendation is hack away, make a start and then raise a PR. Don't worry about getting tests passing initially; just start the process and I'll help you as I can.

[2019-09-03 19:21] shelakel commented on #995
All good @johnnyreilly . I think for now adding a recommendation/caveat to the README should be sufficient. You must use either incremental: true or transpileOnly: true, but not both, when using TypeScript 3.6.

I'm sceptical of making changes to ts-loader since this issue wasn't present in TypeScript 3.5 and such changes are likely to not be compatible with TypeScript < 3.6 which could benefit pe

[2019-09-03 21:03] johnnyreilly commented on #995
Cool - if you'd like to raise a docs PR @shelakel I'll take a look

[2019-09-06 10:05] plievone commented on #995
Just ran into this -- will be fixed in TS 3.6.3 soon https://github.com/microsoft/TypeScript/pull/33216

[2019-09-06 10:55] johnnyreilly commented on #995
Thanks @plievone!

[2019-09-07 09:39] #958 closed

[2019-09-07 13:01] johnnyreilly commented on #995
Closing as a TypeScript issue

[2019-09-07 13:01] #995 closed

[2019-09-08 11:22] johnnyreilly commented on #962
Do you want to submit a PR to fix this?

[2019-09-10 20:34] kirill-konshin commented on #851
TypeScript 2.6 has API support for this: https://devblogs.microsoft.com/typescript/announcing-typescript-3-6/#apis-to-support-build-and-incremental

https://github.com/TypeStrong/ts-loader/issues/913 this is a similar issue

[2019-09-10 20:36] andrewbranch commented on #851
#935 should fix this.

[2019-09-10 20:38] andrewbranch commented on #913
#935 should fix this. (I haven’t yet experimented to see how it impacts build time via webpack, but the .tsbuildinfo files do get generated.)

[2019-09-10 21:50] #851 closed

[2019-09-10 21:50] #913 closed

[2019-09-11 01:05] kirill-konshin opened #997 "Strange behavior with Project References on"
I have a project where I'm using `ts-loader@6.1.0` with `projectReferences: true` and following `tsconfig`:

[code]

The project is a lerna monorepository.

On first build I get error that `web-modules-core` can't be resolved. Even though `web-modules-core` package (located in `../core`) builds itself during the startup.

If I stop webpack and start it again it succeeds...

[2019-09-11 01:38] mc0 commented on #913
@andrewbranch I believe that only added support for project references, not "incremental" builds.

[2019-09-11 01:43] kirill-konshin commented on #913
@mc0 @andrewbranch true because `tsBuildInfoFile` does not show up...

[2019-09-11 05:07] johnnyreilly commented on #997
Could you provide a minimal reproduction repo please?

cc @andrewbranch

[2019-09-11 05:10] kirill-konshin commented on #997
@johnnyreilly @andrewbranch I can create a private repo and add you there if this would work.

[2019-09-11 06:05] kirill-konshin commented on #997
In fact, I was able to make it clean enough to be public: https://github.com/kirill-konshin/wmc-ts-bug

[code]

Which consistently results in

[code]

Then `Ctrl+C`

Then again

[code]

This time it will work just fine.

In order to clean everything up use `npx lerna run clean` which will remove all build artifacts.