[2017-09-11 00:46] mblandfo commented on #263
Looking at this more, I think the proposal here is to add a fixed version of DeclarationBundlerPlugin into ts-loader, supporting the options (out, moduleName), and have it only be off by default, since having declarations in separate files is a valid use case. Typescript itself can be run in a mode that outputs a single file and declaration file (the outFile flag), but then, of course, you lose th

[2017-09-11 05:26] johnnyreilly commented on #632
I think you should open the issue against DefinitelyTyped?

[2017-09-11 05:26] #632 closed

[2017-09-11 05:28] pelotom commented on #632
Ooops, lol. This was meant to be filed on the `material-ui` repo.

[2017-09-11 05:31] johnnyreilly commented on #263
I don't really want to create a dependency in ts-loader upon another plugin if possible. If it's a separate plugin then presumably it can be used as such in the webpack.config.js already.

Don't worry about failing tests though. Our test pack is "quirky". Feel free to submit a PR and keep hacking on it until it gets to a good place. Tests will run on Travis and appveyor against each commit

[2017-09-11 05:31] johnnyreilly commented on #263
(and I'm happy to advise!)

[2017-09-11 05:31] johnnyreilly commented on #632
No bother!

[2017-09-11 05:41] mblandfo commented on #263
Oh, I didn't mean create a dependency on that plugin. The issue is that the DeclarationBundlerPlugin is broken and no longer maintained. It's also very short, so I was actually planning to just copy the fixed version of the source into ts-loader, with the flag to turn it on. Does that sound ok?

[2017-09-11 06:10] johnnyreilly commented on #263
It's probably fine yes - submit it and I'll take a look.

[2017-09-11 11:39] JasonKleban commented on #263
I'm trying to [port Framework7](https://github.com/JasonKleban/Framework7/tree/v2) to typescript and see if the project will accept it.  But even with the above patch for DeclarationBundlerPlugin (plugin.js:43:`var data = declarationFile._value || declarationFile.source();`) to allow it to run through, I'm still getting `export default _default;` for most of the modules in the combined d.ts. outpu

[2017-09-11 12:32] AnimaMundi commented on #224
Would love to see this! Need any help?

[2017-09-11 12:44] johnnyreilly commented on #224
If you'd like to have a crack at implementation then go for it! We gratefully accept PRs

[2017-09-11 14:12] icylace opened #635 "`tsconfig.json` by any other name"
I have a project where I use a base `tsconfig.json` located in my project root folder and another `tsconfig.json` in a subfolder that extends it.  When I use the `configFile` option to refer to the latter everything works.  However, if I tried using a different name, say `tsconfig.client.json` it doesn't work.

I think `configFile` should be configurable enough to point to the exact config file I

[2017-09-11 14:14] AnimaMundi commented on #224
Did you have any preferences on the configuration for this? Like just a boolean flag to turn tsickle on or off from the user's point of view?

[2017-09-11 15:52] psurrey commented on #626
Hey @Loilo ,

with version 2.3.5 we have had issues compiling our sources with webpack + ts-loader, since modules could not be resolved: `error TS2307: Cannot find module...`

I have seen that you have reverted that in 2.3.6. Today I checked again with the latest version (2.3.7) but the error still exists...

Our project structure is basically the following:
[code]

In webpack.config we configured

[2017-09-11 15:53] johnnyreilly commented on #224
That sounds like a good starting point. Essentially anything can be refined at any point though - have a play and see what you come up with would be my advice.

[2017-09-11 15:55] johnnyreilly commented on #626
@psurrey thanks for reporting. Would you be able to provide a minimal repro? This might make @loilo's life easier!

[2017-09-11 16:12] mblandfo commented on #263
Without the DeclarationBundlerPlugin, ts-loader just outputs a bunch of .d.ts files that refer to each other. Maybe you can just use those? Or, I guess, hand write your own.

The DeclarationBundlerPlugin pretty much just concatenates things, so, named exports are probably not something it could easily handle. Typescript by itself (no webpack) has an option compilerOptions.outFile which if set will

[2017-09-11 18:00] johnnyreilly commented on #635
Is this it? https://github.com/TypeStrong/ts-loader/blob/master/README.md#configfile-string-defaulttsconfigjson

[2017-09-11 18:20] icylace commented on #635
@johnnyreilly Yes, `configFile` is what I'm talking about.

[2017-09-11 19:07] johnnyreilly commented on #635
Does `tsc` support that behaviour?  ts-loader aims to be a drop in replacement for tsc where sensible.

[2017-09-11 19:25] Loilo commented on #626
Hey @psurrey, as per configuration description, the correct configuration in your case would be `configFile: './tsconfig.json'`:

You may even just provide the file name `tsconfig.json`. This should find the file as well.

However, I'm not sure how your configuration could ever have worked, even in 2.3.5...

[2017-09-11 20:05] johnnyreilly commented on #626
Thanks for responding @Loilo 👍

[2017-09-11 20:06] Loilo commented on #626
The motivational maintainer assistance is real. 😁

[2017-09-11 20:57] JasonKleban commented on #263
Yes, this is the situation I'm hoping can be addressed.  We'd all certainly need the d.ts files to be generated as part of the automated production pipeline.  TypeScript can output single js, d.ts, and sourcemaps in limited configurations, but webpack still needs to be in the mix for other assets and any other post-processing of the generated scripts.  Framework7 releases es6 and umd modules as si

[2017-09-11 21:23] mblandfo commented on #263
I think you said you got a fixed version of DeclarationBundlerPlugin working on your project, that's probably the best place to start. See if you can modify that to do what you want. If you get something that solves the general cases for ES6 modules or whatever module system, that'd be great! I'm not sure how it would work, like if you can just parse all the import/export/require declarations or w

[2017-09-12 09:57] AnimaMundi commented on #224
Sounds good, I'll post back when I come up with something.

[2017-09-13 07:11] psurrey commented on #626
Thank you guys for responding.

I tried to reproduce my issue in a new project, but wasn't able to do so. So now I'm still trying to figure out why it doesn't work in my actual project 🤔

@Loilo The issue occurred with version 2.3.5. So version 2.3.4 works for me, but versions >2.3.5 don't...

[2017-09-13 07:13] Loilo commented on #626
Hum. I guess then some repro repo would be useful to pin this down.

[2017-09-18 01:21] ClickSimply commented on #405
Just ran into this issue and found a solution.

My loaders section in webpack looked like this:
[code]

Turns out the `./` in the path to the configFile was the issue.

The correct config looks like this:
[code]

[2017-09-18 05:51] johnnyreilly commented on #405
Thanks for sharing!

[2017-09-19 10:12] ebardajiz opened #636 "ts-loader looking at files not part of the bundle tree"
I'm halfway through writing a test file, meaning that
* I haven't yet added types for Jest, (or other libraries that may be used in test files)
* The file may or may not be syntactically correct
* Other issues contributing to a file being considered *not finished*

However, when running webpack, the ts-loader is "looking" at these test files. They're not being imported anywhere (i.e., they are not

[2017-09-19 10:14] vinaykukke commented on #636
@ebardajiz I am also facing this issue. Thank you for bring it up.

[2017-09-19 13:20] johnnyreilly commented on #636
How are these files being pulled in? Ts-loader should only be pulling in things that are imported / required

[2017-09-19 13:55] ebardajiz commented on #636
Interesting... because the test files are not being imported or required. I'll try to create a slimmed-down repo that recreates the issue.

[2017-09-19 17:20] quicksnap opened #637 "Type error only through ts-loader"
I posted this question: https://stackoverflow.com/questions/46289856/why-does-a-heterogeneous-result-of-promise-all-cause-a-ts-error

Seems like this error only occurs through ts-loader, and is not erroneous through `tsc` on its own.

Our project Typescript version is `2.5.2`. This error is produced in `2.4.2`. Does ts-loader gather its type information from a vendored typescript?

[2017-09-19 18:08] johnnyreilly commented on #637
No. Do you have a different version of TypeScript in your package.json?

[2017-09-19 19:33] quicksnap commented on #637
@johnnyreilly I forked the vanilla example and replicated the issue. Steps are in the readme. Should be pretty fast to replicate.

https://github.com/quicksnap/loader-issue

[2017-09-19 21:40] johnnyreilly commented on #637
Hum. That's weird. I'll try  and take a look when I get a moment. Not sure when that will be which doesn't help you I know. I'm wondering if it's going to be something to do with typescript 2.4 being installed globally for you or something. Not sure

[2017-09-19 21:52] quicksnap commented on #637
Could you replicate it? My system doesn't have typescript 2.4 on it anywhere that I can tell. When the yarn.lock also doesn't contain any ts 2.4 resolutions.

I'm at a loss as to what's causing this.

[2017-09-19 21:53] quicksnap commented on #637
We have a workaround via type hinting in our actual code, so this isn't causing a terrible amount of trouble. But, if it is due to some kind of typescript version mismatch, that could cause other strange behavior down the line.

Thanks for taking a look whenever you get time. I'll try and dig in further when I get a chance as well.

[2017-09-20 12:42] ebardajiz commented on #636
Here's a repo that behaves as I described above: https://github.com/ebardajiz/greedy-ts-loader

[2017-09-20 12:55] johnnyreilly commented on #352
In short - yes.  Use `transpileOnly: true` and use the `fork-ts-checker-webpack-plugin` for typechecking.

[2017-09-20 12:59] johnnyreilly commented on #636
Actually I misinformed you when I said:

It's down to how tsc behaves - see the discussion [here](https://github.com/TypeStrong/ts-loader/issues/267).  Closing as duplicate.

Feel free to continue discussion there.

[2017-09-20 12:59] #636 closed

[2017-09-20 14:32] wbijker opened #638 "Vue JSX integration not working."
When using standalone TSX files containing JSX, everything works perfect.
My webpack configuration:
[code]
And tsconfig.json jsx option set to "preserve" so that Typescript will ignore JSX compilation to be handled by babel. Makes perfect sense.

But when I use the same recipe for Vue-loader is does not work. My webpack configuration:
[code]
And the example component:
[code]

[code]

It seems that

[2017-09-20 21:03] johnnyreilly commented on #638
@HerringtonDarkholme do you have any ideas?

[2017-09-20 21:17] johnnyreilly commented on #637
Yup I can repro this. I have literally no idea what is causing it. If you can look into it I'll give you all the help I can.  I'm afraid I can't look into this myself at present

[2017-09-20 21:35] quicksnap commented on #637
Totally understand. It's really baffling..

[2017-09-21 02:02] HerringtonDarkholme commented on #638
I don't use tsx myself but I recommend to try `appendTsxSuffix` options.

[2017-09-21 07:28] wbijker commented on #638
@HerringtonDarkholme  I tried that, but issue remains.
[code]

[2017-09-21 07:30] HerringtonDarkholme commented on #638
@vhqtvn  do you have any ideas?

[2017-09-21 07:39] vanhoavn commented on #638
@wbijker can you post your complete webpack.config ? I think you used ts and tsx in mixed configurations.

[2017-09-21 07:43] vhqtvn commented on #638
@wbijker can you post your complete webpack.config ? I think you used ts and tsx in mixed configurations.

[2017-09-21 07:53] vhqtvn commented on #638
`appendTsSuffixTo` and `appendTsxSuffixTo` should be in the configuration of ts-loader of ts file:
[code]

or if you use only tsx mode:

[code]

There're nothing to configure within vue loaders.

[2017-09-21 08:16] wbijker commented on #638
@vhqtvn
My weback configuration:
[code]

If I don't configure vue loader I get the error:
[code]

As mentioned before JSX is working perfect as standalone files, but not when integrating with Vue.

[2017-09-21 08:23] vhqtvn commented on #638
That `appendTsSuffixTo` and `appendTsxSuffixTo` are conflict, check my above regex for an example fix.

[2017-09-21 09:35] wbijker commented on #638
Thanks, but it still does not make any difference. Still failing with the same error messages

[2017-09-21 09:40] vhqtvn commented on #638
@wbijker try this
[code]

[2017-09-21 09:55] wbijker commented on #638
Same error.

I have attached a small project containing all. Maybe it will help you.
[Archive.zip](https://github.com/TypeStrong/ts-loader/files/1320710/Archive.zip)

[2017-09-21 10:24] vhqtvn commented on #638
Here's working version.

[2017-09-21 10:32] vhqtvn commented on #638
[Archive.zip](https://github.com/TypeStrong/ts-loader/files/1320823/Archive.zip)
Seems that this way work too, but a bit hacky

[2017-09-21 10:54] wbijker commented on #638
Thanks.

I don't quite understand the double use of vue-loader, but it succeeds - at least at compile level.

But the runtime output doesn't contain the parsed JSX.
[code]
The words "Content String"  or "picture.jpg"  is nowhere to be found in output.js.

[2017-09-21 11:48] vhqtvn commented on #638
Ah the original problem is that you dont let babel handle the jsx part. Here's the complete example.
[Archive.zip](https://github.com/TypeStrong/ts-loader/files/1321002/Archive.zip)

[2017-09-21 12:28] wbijker commented on #638
Can you show me how?
I think you forgot to include the webpack.config.js in the archive?

[2017-09-21 12:37] vhqtvn commented on #638
[Archive.zip](https://github.com/TypeStrong/ts-loader/files/1321121/Archive.zip)
here you are, please create a demo git repository to help future people

[2017-09-21 22:42] bronson opened #639 "Unable to import .d.ts files"
Why can't ts-loader find my `.d.ts` files?  When I build with webpack, I get:

[code]

But, when I call `tsc` directly, it loads `png.d.ts` and compiles the project just fine.  tslint works too.  The problem appears to only affect ts-loader (and atl).

Here is `filter.ts`, the error occurs on the first line, `import './png'`:

[code]

And here's `png.d.ts`, not much to it:

[code]

Interestingly,

[2017-09-21 22:59] kscott5 commented on #639
Hi @Bronson,

I'm learning about ts-loader,  webpack and vuejs. I inclined to use standard javascript but thought I include these additional tools to experience.

In my opinion using these addition tools provide addition overhead for little gain. But I still need to know.

Can you tell me if the .d.ts or definition file is required to export my javascript objects? Here's a link to my [repo](http:/

[2017-09-21 23:06] bronson commented on #639
Here is my webpack.config.js, pretty standard: https://gist.github.com/bronson/dfabd3e5ed5362d5b5a6223d96f7d944

Removing the resolveLoader doesn't change the problem -- it still can't find .d.ts files.

[2017-09-22 06:14] wbijker commented on #638
Perfect. Thank you

[2017-09-22 06:14] #638 closed

[2017-09-22 06:44] johnnyreilly commented on #639
I'm afraid I don't really have time to dive into this, but it does look a little strange that you're importing png's. ts-loader is only interested in TypeScript and JavaScript. Do you want to use `require` if this not TypeScript?

[2017-09-22 14:51] kscott5 commented on #639
I think my understanding of this is incorrect, but I was expecting that ts-loader and webpack would naturally compile to standard javascript. The result bundle.js doesn't export anything that is usable from the javascript debugger console.

I must using window["key"] = classname to get anything meaningful.

export {classname as default, classname} doesn't work for me. Arrg! Trying to determine if

[2017-09-23 03:23] bronson commented on #639
@johnnyreilly ah, I never considered using require.  That seems so 2016...  Sure, I can try it.

I've banged together a repro repo: https://github.com/bronson/ts-loader-test

I'll add some console.logs and see if I can find some obvious issue.

[2017-09-23 05:04] bronson commented on #639
OK, Webpack can't load `png.d.ts` because of my extensions: https://github.com/bronson/ts-loader-test/blob/master/webpack.config.js#L7

When I added `.d.ts` to that list, webpack finds `png.d.ts`.  Good!  But now ts-loader complains:

[code]

And now I'm confused...  It's true that declaration files don't produce any output.  So how are they supposed to work with ts-loader?

This is for a differen

[2017-09-23 05:18] bronson commented on #639
@johnnyreilly is this what you mean by using require?  [file](https://github.com/bronson/ts-loader-test/blob/80e70c6669b6cf5428f5208e2850cd182cd233b7/content.ts#L1)

[code]

Now I get the error

[code]

which makes sense...  and, again, I'm not sure how it's supposed to work.  arg.

[2017-09-23 05:31] bronson commented on #639
Hurrr, I feel like I'm losing my mind.  When I delete lines requiring `png.d.ts` entirely, the compile seems to work.

Are all `*.d.ts` files automatically loaded?  I haven't found anything in the docs describing why, when I delete all references to `png.d.ts` from my code, the compile works perfectly.  (I'm sure it's getting loaded because, when I remove it, I get errors about being unable to loa

[2017-09-23 05:43] johnnyreilly commented on #639
Png's are not TypeScript and so the TypeScript compiler doesn't need to know about them. And yes d.ts files are imported as import/requires take place. Why don't you take a look at a boilerplate project since you're struggling?

[2017-09-23 12:01] johnnyreilly commented on #639
Maybe try https://github.com/wmonk/create-react-app-typescript

[2017-09-23 13:58] johnnyreilly commented on #595
I think we'd need a repro to understand this.

[2017-09-23 14:14] johnnyreilly commented on #488
For version 3 of ts-loader we'll be changing the default log level to warn.  Once that lands users will no longer be affected by this. https://github.com/TypeStrong/ts-loader/issues/631 (my own "aha" moment came when I realised I was using ts-loader in `silent` mode by choice)

[2017-09-23 16:09] creativecoder commented on #595
I just had this problem too. In my case, it was caused by an older version of the `loader-utils` package in node_modules. `ts-loader` depends on this package, and older versions don't have the `getOptions` function.

You could manually add a more recent version of `loader-utils` to your project (`npm install loader-utils@latest`) or try deleting node_modules and running npm/yarn install to rebuild

[2017-09-24 05:52] bglgwyng opened #640 "tsc and webpack works differently"
[code]

ts-loader gives an error `export 'OBJLoader' (imported as 'THREE') was not found in 'three'`
But OBJLoader is declared in three's `index.d.ts`. Its implementation is injected lazily by another package `three-obj-loader`.

I compiled the same source code with `tsc`, but it worked well while `webpack` didn't.

I prepare a [repository](https://github.com/bglgwyng/ts-loader-report) to help you

[2017-09-24 07:42] johnnyreilly commented on #640
Hi, I'm a little puzzled by `require('three-obj-loader')(THREE);` - I wouldn't expect to see that in the TypeScript source. I'm afraid I don't know three

[2017-09-24 07:46] johnnyreilly commented on #640
I suspect this is a definitions issue or usage; closing unless we can be certain it's ts-loader at fault

[2017-09-24 07:46] #640 closed

[2017-09-24 08:24] #591 closed

[2017-09-24 08:26] johnnyreilly commented on #570
Include this with v3 changes https://github.com/TypeStrong/ts-loader/issues/631

[2017-09-24 16:41] nojvek commented on #106
This still doesn't work with `allowJS`. Not sure why you closed this without testing it.

[2017-09-24 17:11] nojvek opened #641 "ts-loader does not work with hybrid ts and js using (allowJs: true)"
I've created a vanilla-js example:

See: https://github.com/nojvek/ts-loader/commit/bc4664f9e3f632c75d0ae43ae92ef39e2e9080d4

[code]

[code]

Typescript is able to compile the js files just fine after adding "outDir" option. ts-loader seems to error out.

End goal: switch out babel-loader and use ts-loader for our js project. Slowly add `//@ts-check` to files that we want to be typechecked

[2017-09-24 17:18] johnnyreilly commented on #106
It does but at present you need to use the `entryFileIsJs` option set. (This requirement will be dropped as part of the V3 release.)

We have a test in our test pack that covers this in case you're curious

[2017-09-24 17:19] johnnyreilly commented on #641
Have you tried adding the `entryFileIsJs` option?

[2017-09-24 17:19] nojvek commented on #106
Thanks. Yeah after a bunch of debugging and reading code I sort of just figured it out. Just sending you a PR to add a vanilla-js as an example

[2017-09-24 17:55] nojvek commented on #641
Thanks. That worked. Also sent you example PR with js ts hybrid.

[2017-09-24 17:55] #641 closed

[2017-09-24 17:56] johnnyreilly commented on #106
Thanks @nojvek - PRs always appreciated!

[2017-09-25 03:57] bronson commented on #639
Sure.  There are like a zillion of them, with all sorts of different ways of invoking webpack.

Can you recommend one?

[2017-09-25 04:00] bronson commented on #639
Sorry, caching issue.  Your second comment just appeared.  Thanks!

[2017-09-25 15:56] alfrescian opened #644 "alias imports of namespaced types are failing when using ts-loader with fork-ts-checker-webpack-plugin"
I've created a simple example repository to reproduce the issue:
https://github.com/alfrescian/fork-ts-checker-issue

I've an index.ts that does the following alias import of a type defined in a namespace:
`import foo = myNamespace.foo;`
`const myFoo: foo = {foo: 'foo'};`

when using ts-loader with  fork-ts-checker-webpack-plugin then the output is (run `npm run fork` and check dist/index.js):
`va

[2017-09-25 15:59] kscott5 commented on #639
@bronson your not losing your mind. I remember context switching between a few different languages and spent more than a day trying to determine why VSCode  debugger local variable had correct read and formatted a string. However, the UI display was wrong. I simple forget escaping the backslash '\'  character. [...Rest](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/re

[2017-09-25 16:52] johnnyreilly commented on #644
I think this may be a fork-ts-checker-webpack-plugin issue rather than a ts-loader one. Do you want to raise your issue there?

[2017-09-25 16:54] alfrescian commented on #644
yeah - wasn't sure about it and don't want to cross post. I'll open an issue there

[2017-09-25 16:57] johnnyreilly commented on #644
It's worth saying that I believe namespaces are not advised to be used with modules BTW. I don't have the relevant link but I'm pretty sure that's the case

[2017-09-25 17:06] alfrescian commented on #644
hm - would be interesting to get a link for that.
The alias import we're doing is e.g. mentioned here (scroll down to Aliases:
http://www.typescriptlang.org/docs/handbook/namespaces.html

[2017-09-25 17:21] johnnyreilly commented on #644
Yeah - I checked there too. Interestingly I believe the context there is internal modules. Could be worth looking on stackoverflow - I believe one of the core team answers and question about this. Or something like that

[2017-09-26 11:30] Merott commented on #213
The Angular compiler [solves this with a plugin](https://github.com/angular/angular-cli/blob/master/packages/%40ngtools/webpack/src/paths-plugin.ts#L93).

It's possible to use the plugin in any non-Angular webpack configuration. Just have to install `@ngtools/webpack`, then add this to the webpack plugins list:

[code]

[2017-09-26 11:50] johnnyreilly commented on #213
@merott - thanks for sharing! I don't suppose you'd fancy submitting a docs PR to aid discoverability of this solution?

[2017-09-26 13:14] Merott commented on #213
@johnnyreilly - the usage has to do with the constructor API for `PathsPlugin` in `@ngtools/webpack`.

The constructor expects an options object, with the `tsConfigPath` and `nmf` as minimum. That's why I've had to wrap it with my own inline plugin definition. I guess we could do this too:

[code]

That's the best I can come up with, though I'm not a webpack expert, so tell me if there's a better

[2017-09-26 14:01] johnnyreilly commented on #213
Thanks for the clarification. Might be good to lift the existing plugin and create a standalone one. I think that's what atl has done. I wonder if we could just use that as is? That'd make things easier.

[2017-09-26 14:16] johnnyreilly commented on #213
@Merott,

I don't suppose you could try something for me could you?  Would you be able to add `awesome-typescript-loader` as a dev dependency of your project and follow the instructions [here](https://github.com/s-panferov/awesome-typescript-loader#advanced-path-resolution-in-typescript-20) for using the Path's plugin.  I'm guessing your code would look something like this:

[code]

If that works

[2017-09-26 14:37] schmuli commented on #331
@johnnyreilly I just stumbled across this issue today, as we have just started using the `transpileOnly` option. In my case, we are using regular ES6 modules (imports and exports).

I have prepared a repro repo, please have a look: https://github.com/schmuli/ts-loader-enum

As I mention in the readme, I noticed that typescript will also throw an error when using `isolatedModules`, is this the same

[2017-09-26 14:49] johnnyreilly commented on #331
I think this comes down to `transpileOnly` not producing `.d.ts` files. As such it's probably expected behaviour. There's a good explanation here: https://github.com/Realytics/fork-ts-checker-webpack-plugin/issues/49

There's also a suggested solution mentioned by @piotr-oles. All we need is someone to implement it :wink:

FWIW I suspect it makes more sense for this to be implemented in ts-loader

[2017-09-26 14:53] schmuli commented on #331
I thought it was the `.d.ts` file, so I changed the file to a regular `.ts` file. However, now the `const enum` is still not being removed, and is included in the webpack output.

Again, this is probably a result of using `transpileOnly`, which is similar to `isolatedModules`. I will have a look in the TypeScript issues.

[2017-09-26 15:08] schmuli commented on #331
Here is an (open) issue from TypeScript: https://github.com/Microsoft/TypeScript/issues/16671.

And another comment on `isolatedModules`: https://github.com/Microsoft/TypeScript/issues/10879#issuecomment-248077719

[2017-09-26 17:39] corsen2000 opened #645 "Problems transpiling `.js` files both local and within `node_modules`"
## Local JS Files

I have a TypeScript project with `allowJs: true` and a basic Webpack configuration:

[code]

When I build the project using this configuration only the `.ts` files have their ES6 transpiled down to ES5. The `.js` files are not processed.

My first though to fix this was to update the test expression to be `test: /\.(ts|js)$/,`, but this single change results in an error `ERROR i

[2017-09-26 17:55] johnnyreilly commented on #645
Are you using the `entryFileIsJs` option? At present this needs to be specified; this requirement will be dropped with ts-loader v3

[2017-09-26 17:56] johnnyreilly commented on #645
See https://github.com/TypeStrong/ts-loader/tree/master/examples/vanilla-jsts

[2017-09-26 18:17] corsen2000 commented on #645
@johnnyreilly I did try that in various ways. Adding it to my basic configuration causes the build to start throwing errors related to finding declaration files for things like `tslib` and `angularjs`. I'm not sure whether or not the other error would still be present, but I was unable to figure out how to resolve the declaration file problems that the setting introduced.

[2017-09-26 19:01] johnnyreilly commented on #645
Perhaps try adding the definition @types packages as Dev dependencies?

[2017-09-26 19:34] corsen2000 commented on #645
I already have those **@types** added and they are picked up and used correctly. It is only when I make the suggested changes that it starts to fail at finding the types.

* `test: /\.ts$/,` -> `test: /\.(ts|js)?$/,`
* `` -> `entryFileIsJs: true,`

I've tried adding `angular` as a dependency to the test project you listed, but ran could not successfully import and build for some other reason. The

[2017-09-26 19:47] johnnyreilly commented on #645
what does your `tsconfig.json` look like and why do you need to specify it as an option using `configFileName`?

[2017-09-26 19:51] corsen2000 commented on #645
There is no good reason why it was specified, looks like that is the default.

**tsconfig.json**

[code]

**tsconfig-base.json**

[code]

[2017-09-26 20:32] corsen2000 commented on #645
Getting rid of `exclude: /node_modules/` seems to get me past those type errors and to the same error I reproduced from the sample repository of `Module build failed: TypeError: Cannot read property 'kind' of undefined`.

This error seems specific to one of the files in the Angular.js repository and may have [a fix coming](https://github.com/Microsoft/TypeScript/pull/18708).

[2017-09-27 15:41] tkrotoff opened #646 "Should not compile everything"
ts-loader compiles a lot more files than it should. ts-loader should only compile files known to webpack (e.g webpack.config.js entry + its children) (and/or files specified in tsconfig.json (*))

Setup:
- webpack.config.js with an entry ./index.ts + ts-loader
- a file fail.ts:
[code]

Results:
- Case 1 no tsconfig.json
[code]
=> KO, ts-loader should work without a file tsconfig.json (or at least

[2017-09-27 17:01] #453 closed

[2017-09-27 17:15] johnnyreilly commented on #646
Closing as duplicate of https://github.com/TypeStrong/ts-loader/issues/267

[2017-09-27 17:15] #646 closed

[2017-09-28 14:55] tkrotoff commented on #267
What about ignoring the `files` and `include` parts of `tsconfig.json` and only compile the files known to webpack? This would simplify everything.

This is what [rollup-plugin-typescript2](https://github.com/ezolenko/rollup-plugin-typescript2) does, it only checks for the `compilerOptions` part of `tsconfig.json` (see #646).

[2017-09-28 15:44] arunsn43 commented on #146
How to ensure type safety? Something went wrong for me. I'm getting the error as property 'default' does not exist on type {}. Here my lazy module is exported as `export default "Hello"` and the consumer is using the below code.
` require.ensure([], (require) => {
      this.content= require('./lazy').default;
    })`

[2017-09-28 16:07] johnnyreilly commented on #267
We'd be open to a pull request if you fancied implementing this @tkrotoff.

[2017-09-28 16:09] johnnyreilly commented on #146
Hi @arunsn43,

I'd take a look at this example of lazy loading: https://github.com/TypeStrong/ts-loader/tree/master/test/execution-tests/2.4.1_babel-importCodeSplitting

[2017-09-28 18:26] tkrotoff commented on #267
@johnnyreilly first we need to be sure there no need for `files` and `include` parts from `tsconfig.json`. Is there any counter-example? And also it will break compatibility.

[2017-09-28 19:35] johnnyreilly commented on #267
@tkrotoff - if it goes in it would be behind a flag. ts-loader aims to be a drop in replacement for tsc as much as is practical. Since this would deviate from that I'd want this to be "opt-in" behaviour; not default.

To your question: I believe `files` and `include` are both optional.

[2017-09-28 21:05] OliverJAsh commented on #54
I have two entries: browser and service worker. Each have their own folder with a `tsconfig.json`. This is necessary because the browser and service worker envs need different libs.

When I try to use ts-loader with this setup, it seems that one `tsconfig.json` is being used for both entry points, so I get many errors like:

[code]

If I run `tsc` with the `tsconfig.json` directly, I get no error

[2017-09-28 21:31] OliverJAsh opened #647 "Multiple TS config/projects, entry files, and shared code"
I have 3 dirs:

[code]

`service-worker` and `browser` have their own `tsconfig.json`. This is necessary because I need to specify a different `lib` compiler option to files in these projects, as they are ran in different environments (service workers and DOM/window/browser, respectively).

I initially thought I could just specify multiple entry points and ts-loader would use the correct `tsconfig

[2017-09-28 21:34] tkrotoff commented on #267
There is a misunderstanding. Of course files and include are optional in tsconfig, not talking about that.

What I suggest is to totally ignore them inside ts-loader: ts-loader would only compile what webpack provides, nothing more.

[2017-09-28 21:56] dbettini commented on #54
@OliverJAsh last time I checked, ts-loader didn't support multiple tsc instances, not sure if anything changed. I switched to [at-loader](https://github.com/s-panferov/awesome-typescript-loader) because of that a year ago, and used the `instance` and `include` properties, like this:
[code]

You need to do this twice, once for each of your entry points. It runs a separate instance of tsc for each e

[2017-09-29 05:39] johnnyreilly commented on #267
Ok I see. As long as you're ok with this being opt-in rather than default behaviour then I say start implementing in a PR and use that as a basis for conversation. Don't worry about failing tests or anything- just hack about, raise a PR and talk to me. Let's see what happens! :smile:

[2017-09-29 05:54] johnnyreilly commented on #647
That's not the worst of configs even if it's a bit verbose. Completely on a side note but I'd been thinking about how ts-loader might well be used with service workers (I love a PWA) and this is a nice approach.

See #267 - this is not supported at present although if @tkrotoff has a go then it could happen and that might improve your config.

[2017-09-29 05:57] johnnyreilly commented on #54
@dbettini the `instance` property is in ts-loader as well. Looks like @oliverjash got it working here: #647

[2017-09-29 06:02] johnnyreilly commented on #647
Do you want to try using the `configFile` option as suggested by @dbettini in #54:

``|
{
  test: /\.tsx?$/,
  include: "./path/to/entry/index.ts",
  use: [
    {
      loader: "awesome-typescript-loader",
      options: {
        instance: "myInstanceName",
        configFileName: "./path/to/entry/tsconfig.json"
      }
    },
    "angular-router-loader",
    "angular2-template-loader"
  ]
}
[cod

[2017-09-29 13:40] OliverJAsh commented on #647
The "shared" code doesn't have a TS project of its own, but it is implicitly part of the dependency graph of both the "browser" and "service worker" TS projects. However, using the configuration above, webpack/ts-loader will attempt to find a unique TS config file for "shared", leading to errors:

[code]

If I remove the rule for "shared", it will fail to compile the TypeScript altogether:

[code]

[2017-09-29 13:52] dbettini commented on #647
Try setting your rules like this:

[code]

[2017-09-29 13:55] OliverJAsh commented on #647
@dbettini That does the trick! Using `configFile` instead of `configFileName` as the latter is deprecated. Thank you!

One improvement could be to remove the need for `instance` if the `configFile`s are different 🤔

[2017-09-29 13:58] dbettini commented on #647
@OliverJAsh just to be sure, did you only add the `configFileName`, or did you also need to add `SHARED_SOURCE_PATH` to include?

[2017-09-29 14:00] OliverJAsh commented on #647
@dbettini I added `configFile` *and* `SHARED_SOURCE_PATH` in `include`:

[code]

[2017-09-29 14:09] dbettini commented on #647
@OliverJAsh yep, as expected. The reason it's needed is because webpack never had `.ts` rules set for your `shared` folder. And using a third `shared` instance was not an option, because your shared folder is not an entry point, so webpack wouldn't build it even if you did have a `tsconfig.json` in it. What was needed was giving webpack access to your `shared` folder in both of your instances that

[2017-09-30 10:57] OliverJAsh commented on #647
@dbettini Just spotted a problem: for some reason, webpack says there is an error but provides no details why (using the config above):

[code]

If I enable only one entry point and the corresponding rule entry, neither "browser" or "service-worker" will error. But when I run both using the above config, webpack reports an error for the file "/src/browser/index.ts" but with no further details.

@j

[2017-09-30 11:06] dbettini commented on #647
@OliverJAsh like I said, I use [at-loader](https://github.com/s-panferov/awesome-typescript-loader), I always get all errors logged by default when using it. If ts-loader doesn't log errors by default, maybe you can try changing [logLevel](https://github.com/TypeStrong/ts-loader#loglevel-string-defaultinfo)

[2017-09-30 11:32] SOHELAHMED7 commented on #25
If you are dealing with just a single file and not a project set `--target ES2016`. For eg

`$ tsc --target ES2016 /filepath/filename.ts --watch`

[ref](https://www.typescriptlang.org/docs/handbook/compiler-options.html)

[2017-09-30 11:44] johnnyreilly commented on #647
It should log all errors - I'd advise forking ts-loader and adding in some extra logging to diagnose. Do you have a minimal repro repo you could share?

[2017-09-30 15:48] OliverJAsh commented on #647
@johnnyreilly Here is a minimal repo: https://github.com/OliverJAsh/webpack-ts-loader-shared

[2017-09-30 15:54] OliverJAsh commented on #647
For some reason, specifying `"module": "es2015"` compiler option in both `tsconfig.json`s will fix the error. I don't really understand why though 🤔 In any case, it would be good to get the error message printed.

[2017-09-30 16:00] tkrotoff commented on #267
@johnnyreilly

I prefer you to be sure that the idea is good and it's the proper way to handle things. I don't want to spend hours on a PR that ends up with *"sorry, the idea is wrong, here is a valid use case where we need files/include from tsconfig.json"*.

For me it's clear:
- files and include from tsconfig.json => tsc
- webpack entry (and nothing else except compilerOptions) => ts-loader (th

[2017-09-30 16:03] OliverJAsh commented on #647
One problem with the suggested config above is the "shared" code will only be type checked once, using whichever rule is found first. Both "browser" and "service-worker" `include` "shared", but when webpack compiles "shared", it won't use the `tsconfig.json` corresponding to that entry file—it will just use the `tsconfig.json` instance of the first matching rule.

[2017-09-30 16:14] OliverJAsh commented on #647
I just gave this a go with `awesome-typescript-loader`. A few things to note:

- "shared" will be type checked against both `tsconfig.json`s, not just the first matching
- In my webpack config I don't have to `include` "shared" in either rules. Somehow at-loader knows to use the same `tsconfig.json` for all files in the dependency graph of the entry file

Example: https://github.com/OliverJAsh/web

[2017-09-30 18:53] johnnyreilly commented on #647
Sorry, does it work with at or not?

The module thing might be because (at present) ts-loader has different module defaults to tsc. We plan to rectify this with V3 (being worked on now - see #637)

[2017-09-30 19:04] johnnyreilly commented on #267
On the face of it seems reasonable.

I'd suggest start attempting it - it might be the case that doing so reveals "dragons". Or not. Purely from my own perspective I find it easier to think about code during implementation; hence my suggestion.

As always, @s-panferov views could be helpful. Just to be clear though, I would plan to put this behaviour behind a feature flag (loader option) at least

[2017-09-30 19:36] OliverJAsh commented on #647
At this time I can't say it does work any better with at-loader—sorry to cause confusion!

[2017-10-02 09:00] Gideon877 commented on #25
Very Helpful

[2017-10-05 20:30] scamden commented on #239
@finico any idea how this might work if you wanted to then generate declaration files for this project and publish them? i can't seem to get the paths to be honored in a package that consumes the declaration files

[2017-10-05 21:31] psujit commented on #595
@creativecoder  I tried updating to the latest version, but I am still getting the same error.
@johnnyreilly What exactly do you need? Steps to reproduce the error?

[2017-10-05 21:48] creativecoder commented on #595
@psujit Can you confirm that in your project you have `node_modules/loader-utils/lib/getOptions.js` and a reference to `getOptions` in `node_modules/loader-utils/lib/index.js`?

If runtime is complaining `getOptions` is not a function, it's probably not (there)...

[2017-10-06 10:54] LukeSheard opened #649 "Using InputFileSystem from Webpack"
In instances.ts the loader reads the file from the fs.readFileSync (https://github.com/TypeStrong/ts-loader/blob/fbd64be5bdb010e79ef0f702896c5d470f6fc619/src/instances.ts#L114). Should this not be using `this.fs` from the web pack InputFileSystem.

I noticed this when trying to bundle code using a virtual filesystem replacing the InputFileSystem with one that uses an in memory fs, thus files canno

[2017-10-06 11:07] johnnyreilly commented on #649
Tbh I'm not sure - I think that was implemented by @jbrantly and he may be able to advise as to why. If you wanted to submit a PR that changed that we'd definitely consider it. Feel free to open one and we can see where it leads (don't initially worry about the tests - they can be fiddly)

[2017-10-06 12:41] collibra commented on #567
I have similiar problem only for me, `ClassNames` used in JSX is not taken into account and missing after compilation.

[code]
-->
[code]
ClassNames is not there in dependencies and JS crashes when its encountered in compiled JSX.

[2017-10-07 05:53] sunny-mittal commented on #550
The extensions solution didn't solve the problem for me. Interestingly, the project compiles just fine, despite ts-loader telling me module `redux` can't be found. The error goes away if I set the `transpileOnly: true` option. Anyone have any ideas?

[2017-10-07 07:42] johnnyreilly commented on #550
Do you have a sample repo that demo's the issue?

[2017-10-07 20:29] sunny-mittal commented on #550
@johnnyreilly Here's a very simple repo that repros the issue: github.com/sunny-mittal/setup-helper. The error I get when running `yarn build` or `npm run build` is:
[code]
but I can see a successfully-built file in my dist directory. I'm likely missing something or doing something stupid, but I just tried starting with typescript yesterday. Any help would be much appreciated!

[2017-10-07 20:34] sunny-mittal commented on #550
And actually, when I change my source code to:
[code]
and then run `yarn build`, I get the above error but no TS errors; but when I run `tsc src/index.ts`, I get the error I expect: `src/index.ts(3,1): error TS2554: Expected 1-3 arguments, but got 0.`

[2017-10-08 06:06] johnnyreilly commented on #550
Install the npm package `@types/redux` as a devDependency

[2017-10-08 19:28] vp2177 commented on #106
@toonketels This does not work with `awesome-typescript-loader` for me.
Is there some special config option that needs to be set?

[2017-10-08 19:35] johnnyreilly commented on #106
allowJs in tsconfig.json. entryFileIsJs in ts-loader options (this won't be necessary when v3 ships)

[2017-10-08 19:51] vp2177 commented on #106
Sorry wasn't clear enough, I have this working with `ts-loader`, but it was claimed above that `awesome-typescript-loader` is "handling this as expected". I do have `allowJs` set, `awesome-typescript-loader` doesn't seem to have an `entryFileIsJs` option set.

[2017-10-08 20:07] johnnyreilly commented on #106
`entryFileIsJs` is ts-loader specific and is due to be removed.

[2017-10-08 20:07] johnnyreilly commented on #106
(usage of allowJs is enough to trigger this behaviour)

[2017-10-09 22:57] trikadin opened #650 "Please, don't clear depencies"
I use my own custom loader that runs before `ts-loader` and adds dependencies for some `.ts` files. `ts-loader` [clears dependencies](https://github.com/TypeStrong/ts-loader/blob/a89212d9ce6f83a50f58771582e68258a491057c/src/index.ts#L204), so webpack doesn't rebuild project when dependencies from my loader are updated.

[2017-10-10 05:46] johnnyreilly commented on #650
I'm afraid I'm going to need some more information....

[2017-10-10 09:57] seriousManual commented on #106
no its not

[2017-10-10 10:02] johnnyreilly commented on #106
It will be when v3 is released. We will use `allowJs` as the trigger to change ts-loader behaviour

[2017-10-10 15:08] trikadin commented on #650
@johnnyreilly, what kind of information do you need?

[2017-10-10 15:30] nojvek commented on #106
Do you know when that is due to be released?

If there is something I can help with, let me know.

I've still been having some issues using typescript on a medium sized
hybrid js-ts project.

[2017-10-10 15:42] johnnyreilly commented on #106
Probably in a week or so. However you can use that functionality now if you just set the `entryFileIsJs` ts-loader option

[2017-10-10 17:27] trikadin commented on #650
Ok, I'll try. But why do you do it? Why do you clean dependencies?

[2017-10-10 17:39] johnnyreilly commented on #650
So if they change they can be reconstructed - old versions aren't cached.

[2017-10-10 17:40] johnnyreilly commented on #650
If using `transpileOnly` you might also want to use the fork-ts-checker-webpack-plugin as well

[2017-10-10 17:42] trikadin commented on #650
Afaik, webpack doesn't cache dependencies, so you don't have to clear them manually. You can check this with `this.getDependencies()`.

[2017-10-10 17:42] trikadin commented on #650
Already read about it, ty)

[2017-10-12 20:53] bsouthga opened #651 "exnext modules + allowJS + require results in error"
It appears that `require`-ing a javascript file instead of `import`-ing it with `esnext` modules + `allowJs` results in the following bug:

[code]

Long story short, the following produces the above error:

[code]

while this does not (using the same config)

[code]

### Full code for bug

- Url to repo showing bug: https://github.com/bsouthga/ts-loader-require-bug

### Webpack config

[code]

###

[2017-10-13 06:20] johnnyreilly commented on #651
That's interesting behaviour... Thanks for a thorough repro. I'm fairly busy with v3.0 right now and so I can't promise to look at this soon. That said, I'm always happy to provide support if you wanted to look into it (and I always appreciate help!)

[2017-10-13 09:56] jackie19 opened #652 "how can i use ts-loader and webpack3 dynamic imports to implement code-splitting"
code:
[code]

webpack code-splitting guides:  [https://webpack.js.org/guides/code-splitting/](https://webpack.js.org/guides/code-splitting/)

[2017-10-13 10:12] johnnyreilly commented on #652
I advise taking a look at one of our execution tests that uses this approach: https://github.com/TypeStrong/ts-loader/tree/master/test/execution-tests/2.4.1_babel-importCodeSplitting

[2017-10-13 10:12] #652 closed

[2017-10-13 10:12] johnnyreilly commented on #650
Closing as no further action seems to be required

[2017-10-13 10:12] #650 closed

[2017-10-13 10:13] johnnyreilly commented on #647
No worries :smile:

[2017-10-13 13:32] bsouthga commented on #651
yeah happy to take a look, my guess is something is snafued around what determines a valid source file within typescript upon calling `getValidSourceFile` -- its possible this is a but in typescript itself.

[2017-10-16 10:28] RoystonS opened #653 "ES2015 module issue with transpileOnly + decorators + interfaces"
Hi there,

We have a very large Angular 2 codebase that we're attempting to move over to `ts-loader`; we're getting massive (4-5x) speed boosts compared to our existing awesome-typescript-loader setup, but sadly we're getting compilation issues when we turn on `transpileOnly`.

It only occurs when:

- Building ES2015 modules AND
- Using a class with a decorator on it AND
- The class uses an import

[2017-10-16 13:41] johnnyreilly commented on #488
Closed with 3.0

[2017-10-16 13:41] #488 closed

[2017-10-16 13:42] #570 closed

[2017-10-16 14:58] RoystonS commented on #653
Ah, it's worse than I thought.  Even after working around the warnings by moving interfaces to separate files, the actual generated _code_, is mashed, and the decorator references to even concrete types are broken.

[2017-10-16 15:02] RoystonS commented on #653
Correct output code in `__decorate` call (`transpileOnly` off):
[code]
Broken output code in `__decorate` call (`transpileOnly` on):

[code]

[2017-10-16 15:22] johnnyreilly commented on #653
First of all: thanks for the detailed and minimal repro!  That's always appreciated.

I'm somewhat intrigued as to what's causing your issue since I'm using similar approaches in [this project](https://github.com/johnnyreilly/hours) without anything choking.  I'm not sure why that would be.

TBH I'm somewhat time-poor right now and so I'm not likely to be able to look at this directly.  That said,

[2017-10-16 15:29] johnnyreilly commented on #653
It may also be worth reading up on this issue: https://github.com/Microsoft/TypeScript/issues/18008 - I haven't read it thoroughly but it may be relevant. Also, does dropping `emitDecoratorMetadata: true` fix the issue?

[2017-10-16 15:56] mattlewis92 opened #654 "3.0.0 files are missing from npm"
Hi there! It looks like only `dist/index.js` is published to npm: https://unpkg.com/ts-loader@3.0.0/dist/, however if you look in the source you'll see it references other files which should be in the dist folder and aren't: https://unpkg.com/ts-loader@3.0.0/dist/index.js

[2017-10-16 15:59] RoystonS commented on #653
Thanks. I'll take a look at your 'hours' repro and see what's going on there.

Dropping `emitDecoratorMetadata: true` does stop the warnings appearing (as does removing any concrete export from the module with the interface in).

Our entire codebase only has about 3 instances of this in there, so I've managed to work around the interface warnings by moving the interfaces to their own files.  But t

[2017-10-16 16:13] johnnyreilly commented on #654
Whoops!

[2017-10-16 16:14] johnnyreilly commented on #654
First time using yarn to publish.  Maybe npm is safer for that...

[2017-10-16 16:21] johnnyreilly commented on #654
Okay - now published ts-loader 3.0.0 as ts-loader 3.0.2.  No change but version.  Thanks for reporting!

[2017-10-16 16:21] #654 closed

[2017-10-16 16:33] mattlewis92 commented on #654
3.0.2 is working great, thanks a bunch for the quick turnaround! 😃

[2017-10-16 16:37] johnnyreilly commented on #654
No bother - having the unpkg link was super helpful. You're credited on the 3.0 release page now :wink: https://github.com/TypeStrong/ts-loader/releases/tag/v3.0.0

[2017-10-16 17:39] roddypratt opened #655 "Upgrading to 3.0.2 : Errors in previously 'clean' build"
I've been using 2.3.7 for a while without issues. Upgraded to 3.0.2, and suddenly I see loads of errors in the build.

Most are JQuery related, like
[code]
I'm using TS 2.5.3, Webpack 3.7.1

Webpack.js has this snippet
[code]

... and my tsconfig.json looks like this.
[code]

Any suggestions welcome. I appreciate there's a big change to V3 but I can't see anything relevant in the options that I'd

[2017-10-16 17:43] johnnyreilly commented on #655
Do you want to try adding `entryFileCannotBeJs: true` as an option? That's the only thing that occurs...

[2017-10-16 18:05] johnnyreilly commented on #655
Would you be able to supply a minimal reproduction of the issue if that doesn't work? I'm really keen not to break people's projects. It's a breaking changes release but I was anticipating that most of the breaking changes wouldn't affect anyone. I've had some publishing issues with npm today so I'm trying to isolate the problem

[2017-10-16 18:36] RoystonS commented on #653
I've had a look at your 'hours' repo, and out of the box it doesn't choke, as you say, but I _can_ get it to choke with two small changes:

1. Turn on `emitDecoratorMetadata: true` in the `tsconfig.json` file
1. Reference an imported interface in a constructor of a decorated class.  (That'll cause the compiler to emit metadata about the constructor parameters, which causes the problem.)  For insta

[2017-10-16 18:39] johnnyreilly commented on #653
It could be worth reporting your experience on the TypeScript issue - they might be able to advise. I'd be interested if you've references to the relevant bit of the Angular cli...

[2017-10-16 18:45] RoystonS commented on #653
Yup, just logged a comment on the TS chain.  It's proving a bit hard to find the angular wrapper, but there's a bit here:
https://github.com/angular/angular/tree/626555c01376f2daa8270db27c11606d48898ae6/packages/tsc-wrapped

[2017-10-16 19:25] roddypratt commented on #655
Thanks! `entryFileCannotBeJs: true` fixes it. (Also, removing the allowJs:true from my tsconfig.json works - I'm not actually sure why that was there in the first place...)

[2017-10-16 19:29] johnnyreilly commented on #655
Great! Would you still be able to supply me with a minimal repro of the issue?. I think what you've stumbled on is a bug in ts-loader that I'd like to fix. But without being able to reproduce it, I can't!

[2017-10-16 19:59] roddypratt commented on #655
Sure. I'll see what I can do...

[2017-10-16 20:07] johnnyreilly commented on #655
Thanks - I appreciate it

[2017-10-17 06:24] awlui opened #656 "ts-loader executing files not in Webpack Dependency Graph"
From my understanding, the dependency graph generated by Webpack will only contain files imported through the entry file. Other files aren't inspected. However, when I build a Typescript project with webpack/ts-loader, files, and files in subdirectories, in the same folder as the entry file are being inspected by the build process even though they aren't imported anywhere.

Say for example, I have

[2017-10-17 07:23] #631 closed

[2017-10-17 07:24] #545 closed

[2017-10-17 07:25] johnnyreilly commented on #352
I'll try and add an example at some point

[2017-10-17 07:28] johnnyreilly commented on #512
Closing as https://github.com/Jimdo/typings-for-css-modules-loader seems to cover this well.

[2017-10-17 07:28] #512 closed

[2017-10-17 07:31] johnnyreilly commented on #656
Closing as duplicate of https://github.com/TypeStrong/ts-loader/issues/267

Essentially this is intended behaviour but we're open to PRs that introduce alternative behaviour that will be opt-in only (i.e. users would need to specify a ts-loader option to trigger this behaviour)

[2017-10-17 07:31] #656 closed

[2017-10-17 08:34] awlui commented on #656
Ah my apologies, didn't spot it in my initial search.

[2017-10-17 09:14] johnnyreilly commented on #656
No worries!

[2017-10-17 09:48] ldrick opened #657 "@types not working with 3.0.2"
I encountered a couple of Errors saying things like:
`ERROR in ./[...]/SimpleDateFormat.ts
[tsl] ERROR in /home/[...]/SimpleDateFormat.ts(1,52)
      TS7016: Could not find a declaration file for module 'date-fns'. '/home/[...]/node_modules/date-fns/esm/index.js' implicitly has an 'any' type.
  Try `npm install @types/date-fns` if it exists or add a new declaration (.d.ts) file containing `declare

[2017-10-17 10:10] johnnyreilly commented on #657
@ldrick I'm guessing this is going to be the same as https://github.com/TypeStrong/ts-loader/issues/655.  Essentially I think you can fix this by either supplying ts-loader with the option `entryFileCannotBeJs: true` **OR** setting `allowJs: false` in your `tsconfig.json`.

I believe there is a bug in ts-loader around the `allowJs` functionality which is worked around with this flag.  Can I ask a

[2017-10-17 10:19] ldrick commented on #657
@johnnyreilly Thanks, allowJs is truthy needed in my project. But `entryFileCannotBeJs: true` works.
I will come back within next 2 hours having a reproducable repo. (I think of running JQuery with @types/JQuery)

[2017-10-17 10:23] johnnyreilly commented on #657
Thanks @ldrick - I appreciate it!

[2017-10-17 11:05] ldrick commented on #657
@johnnyreilly I got through some strange things, but could reproduce exact my error like this:
[ts-loader-test](https://github.com/ldrick/ts-loader-test)

I know types are not installed for date-fns, but they are not required.
It comes down to tsconfig --> moduleResolution: "node" I believe. Because activating this one in this new project, tsl failed.

[2017-10-17 11:06] johnnyreilly commented on #657
Thanks @ldrick - I'll take a look!

[2017-10-17 13:26] gonzofish commented on #405
@ClickSimply thank you for saving me hours of heartache!

[2017-10-17 16:24] johnnyreilly commented on #657
Hopefully this will be fixed with https://github.com/TypeStrong/ts-loader/pull/658 (testing now)

[2017-10-17 19:59] OliverJAsh commented on #647
Closing as a solution was found (with trade offs). Thanks again.

[2017-10-17 19:59] #647 closed

[2017-10-17 20:00] OliverJAsh opened #659 "Errors are sometimes not fully logged"
Sometimes webpack will fail with an error but ts-loader will not log what the error is. See https://github.com/TypeStrong/ts-loader/issues/647#issuecomment-333317050.

[2017-10-17 21:23] johnnyreilly commented on #647
Could you share the solution for others please? Always helps!

[2017-10-18 07:44] edvinv opened #660 "VSCode integration with webpack in watch mode"
I'm using this loader with webpack in watch mode. In vscode you must defined start/end pattern for background task, so that vscode knows when to parse output for errors. The problem is that there is no distinguished message generated after errors are written to output stream. I also haven't found any solution to overcome this with webpack.
Is it possible that this loader generates some distinguish

[2017-10-18 10:41] johnnyreilly commented on #660
Hi @edvinv,

I'm afraid I don't know what you mean about "defined start/end pattern for background task".  That said, I'm an avid VS Code user.  Maybe if I tell you about my workflow / setup it might be useful to you:

- Fire up VS Code
- Open the terminal and enter `yarn start`

This fires up webpack in watch mode, which allows me to see errors in the console and click upon them to get transporte

[2017-10-18 10:42] roddypratt commented on #655
@johnnyreilly  Fairly minimal example here. Better late than never...

https://github.com/roddypratt/tsloaderbug

Hopefully this will back up that this is a dupe of 657.

[2017-10-18 11:01] johnnyreilly commented on #660
Note to self - I must update the examples:
- drop the webpack 1 example
- remove gulp entirely

[2017-10-18 13:00] johnnyreilly commented on #655
Thanks @roddypratt - I'll use it to double check.

[2017-10-18 13:24] johnnyreilly commented on #655
Looking good so far - hopefully v3.0.3 of ts-loader will remove the need to use `entryFileCannotBeJs: true`

[2017-10-18 13:57] #657 closed

[2017-10-18 13:58] #655 closed

[2017-10-18 14:08] Pajn opened #661 "@types does not work since v3"
Since version 3 I can no longer use type definitions from `@types` packages.
For example I get this error from `@types/webpack`:
[code]
`@types/tapable` is installed as a dependency of `@types/webpack` and its files looks good but I have tried with explicitly installing it as well with the same result.

It is not an error with the `@types/webpack` package because if I work around that one I get a

[2017-10-18 14:17] Pajn commented on #661
Duplicate of #657

[2017-10-18 14:17] #661 closed

[2017-10-18 14:22] johnnyreilly commented on #655
Fix released with 3.0.3

[2017-10-18 14:22] johnnyreilly commented on #657
Fix released with 3.0.3

[2017-10-18 14:22] johnnyreilly commented on #661
Just released v3.0.3 - check it out and let me know how it goes.

[2017-10-18 15:32] dawidzq commented on #657
Hey,

I'm trying to download 3.0.3 via npm and I'm getting "No matching version found for ts-loader@3.0.3". Has it officially been published yet?

Thank you!

[2017-10-18 15:33] johnnyreilly commented on #661
Great!

[2017-10-18 15:48] johnnyreilly commented on #657
Yup - shipped. Other people have reported it working so downloading must be happening...

[2017-10-18 15:49] johnnyreilly commented on #657
See https://www.npmjs.com/package/ts-loader

[2017-10-18 16:10] roddypratt commented on #655
Verified fixed!

[2017-10-18 16:42] dawidzq commented on #657
It appears to be a caching issue on my end.

[2017-10-18 16:54] johnnyreilly commented on #657
Well cache invalidation is famously hard :wink:

[2017-10-19 08:23] ldrick commented on #657
Just want to confirm, that everything works smooth on my side since 3.0.3 and I removed the `entryFileCannotBeJs: true` again.
Thanks @johnnyreilly

[2017-10-19 08:30] edvinv commented on #660
thx, @johnnyreilly

If you only look for errors in terminal this is ok, but if you want to make better integration and see errors in problem panel you must define problemMatcher in tasks.json.
Problem matcher parses error output from compiler so that it is understood by vscode and can be correctly displayed. But for background tasks, such as webpack watch mode, vscode must know when compiling was

[2017-10-19 10:43] johnnyreilly commented on #657
Brilliant!

[2017-10-19 12:22] johnnyreilly commented on #660
That's interesting @edvinv - thanks for the background.  For my own use case I find that the TypeScript integration in VS Code already surfaces errors in the problem pane.  Don't you get the same?

[2017-10-19 12:23] #644 closed

[2017-10-19 13:35] lddubeau commented on #580
@plandem Did you try replacing `baseUrl` with an absolute path? I ran into an issue that feels similar to what you are reporting here. To see what would happen, I replaced `baseUrl` with an absolute path, and the module resolution issue disappeared.

Using an absolute path is not a solution or even a viable workaround but it suggests that `ts-loader` is probably not computing paths correctly under

[2017-10-19 13:50] edvinv commented on #660
What you probably see is output from typescript service. As I understand those errors are auto generated for opened files and disappear when file is closed. On other side you can capture errors generated from compiler output with problem matcher as described [here](https://code.visualstudio.com/Docs/editor/tasks#_defining-a-problem-matcher) and [here](https://code.visualstudio.com/Docs/editor/task

[2017-10-19 14:29] johnnyreilly commented on #660
Ah that's pretty cool.  So what do you propose?  We already have a [https://github.com/typestrong/ts-loader#errorformatter-message-errorinfo-colors-boolean--string-defaultundefined](`errorFormatter`) option.  Does that give you what you need to hook into?

[2017-10-19 17:03] johnnyreilly commented on #580
If someone could supply a minimal reproduction repo to illustrate the problem? If we have that then someone motivated might be able to pick this up and see if they can fix the issue

[2017-10-20 09:17] johnnyreilly commented on #352
See our [hot example](https://github.com/TypeStrong/ts-loader/tree/master/examples/hot)

[2017-10-20 09:17] #352 closed

[2017-10-20 09:17] #351 closed

[2017-10-20 09:17] #104 closed

[2017-10-20 09:18] #78 closed

[2017-10-20 11:41] lmk123 opened #664 "Cannot read property 'constructor' of undefined"
After I upgrade to 3.0.4 it show me the errors:

[code]

Fallback to 3.0.3 works great.

[2017-10-20 11:43] johnnyreilly commented on #664
Please could you provide a minimal repro repo to illustrate this?

[2017-10-20 11:55] lmk123 commented on #664
After I pinning `chalk` to `v2.2.0` it works!

I'm using node 8

[code]

[2017-10-20 12:24] johnnyreilly commented on #664
Hmmm sounds like chalk 2.2 is breaking changes.

[2017-10-20 12:50] johnnyreilly commented on #664
Made ts-loader require 2.2 as a minimum and released as [3.0.5](https://github.com/TypeStrong/ts-loader/releases/tag/v3.0.5)

Thanks for reporting!

[2017-10-20 12:50] #664 closed

[2017-10-23 07:30] edvinv commented on #660
thx for info, I was not aware that you can configure output for ts-loader, but this is not so problematic, because for vscode you can add your own custom problem matcher or load appropriate extension like [ts-loader matcher](https://marketplace.visualstudio.com/items?itemName=alqiu.ts-loader-problem-matcher). Most problematic is the output when you run webpack in watch mode, then you don't get any

[2017-10-23 20:29] ORESoftware opened #665 "Simple webpack configuration means that extra directories are written to my project root"
hey all, this is working for me, but there's a less than savory side-effect in my project

In my `node_modules` directory, I have a couple of symlinked projects (using npm link).

After using the following configuration, several of the symlinked projects are "copied" to my project's root directory, and _they all contain just the .d.ts files_.

Here is the configuration:

[code]

I create the build

[2017-10-23 21:01] ORESoftware opened #666 "Support question - Infinite webpack watch loop - how to ignore changes to .js files"
Hey all, this _is_ working for me, but my `webpack -w` command using ts-loader is in an infinite loop. I am guessing it's because `webpack -w` is seeing changes to .js files, so that causes the _loop_:

`webpack -w => ts transpile => .js changes => webpack -w`

has anyone seen this before? Is the best thing to do to tell `webpack -w` to ignore .js files?

[2017-10-23 21:45] ORESoftware commented on #666
[code]

[2017-10-23 21:53] ORESoftware commented on #666
I filed an issue with Webpack

https://github.com/webpack/webpack/issues/5874

I think perhaps they should have an ignore option with the `webpack -w` command

[2017-10-24 08:52] ORESoftware commented on #666
I tried this plugin in my `webpack.config.js`:

[code]

same problem - it keeps looping, with no further input from me

[2017-10-24 09:51] Pajn opened #667 "Error importing buildt ts files with allowJs"
We have a subproject that is built separately so that it produces `.js` and `.d.ts` files. With `"allowJs": true` I get the following error when importing a module from it:
`TS2306: File /path/to/file.js is not a module.`

This can be fixed by setting `entryFileCannotBeJs: true` but as that is going away I think this issue must be fixed first.

I have not looked deeper into it but the feeling I ge

[2017-10-24 11:36] johnnyreilly commented on #667
Please try upgrading to ts-loader v3

[2017-10-24 12:50] Pajn commented on #667
Sorry, I forgot to specify that this is with ts-loader v3.
I saw this with `3.0.3` so I upgraded to `3.0.5` but the problem persisted. I have not tried older versions than `3.0.3`.

[2017-10-24 13:25] johnnyreilly commented on #667
Okay - please could you supply a minimal repo that illustrates the issue?  We need that so we can work on resolving the issue. Thanks.

[2017-10-24 13:29] johnnyreilly commented on #660
I'd be open to having an in-build formatter that supports this.

This doesn't seem unreasonable.

Would you like to submit a PR to provide this support?

[2017-10-24 13:30] johnnyreilly commented on #651
Could be worth checking if this issue persists with ts-loader v3.  There were relevant changes around `allowJs` support as part of that.

[2017-10-24 14:00] Pajn commented on #667
Here is one https://github.com/Pajn/ts-loader-repro
It does not produce exactly the same error, but I'm pretty sure the error is created by the same reason.

Running `yarn build` in `main-module` in the repro produces this output:
[code]

Running `tsc` in `main-module` does not error

[2017-10-24 14:21] johnnyreilly commented on #667
First of all: thanks for the repro - I really appreciate it.

However since this isn't the same error as the one you initially reported I'm a little hesitant to take a look.  I have opened it up to take a look and [this](https://github.com/Pajn/ts-loader-repro/blob/master/main-module/src/index.ts#L1) looked a little strange to me:

[code]

I'm not totally sure what behaviour you would expect here

[2017-10-24 14:43] Pajn commented on #667
I can probably produce a repro with the same error as well, but it might be more convoluted when taken out of context.

File references does not work for us as we develop both modules simultaneously and can't reinstall the modules for every simple change.
I'm aware of linking, but that does introduce extra complexity as a simple `yarn` isn't enough to set up the dependencies which is why we have c

[2017-10-24 15:38] johnnyreilly commented on #667
Bearing in mind what you said I tried to have a quick play but I'm afraid the repro seems to be problematic.  I get the following error when I try to `yarn build` as instructed:

[code]

FWIW I think the issue is probably connected with this part of the ts-loader code: https://github.com/TypeStrong/ts-loader/blob/master/src/servicesHost.ts#L219

[2017-10-24 16:38] johnnyreilly commented on #667
Thinking some more I wonder if this is actually the issue: https://github.com/TypeStrong/ts-loader/blob/master/src/servicesHost.ts#L187

[code]

`scriptRegex` above may either be `/\.tsx?$|\.jsx?$/i` or `/\.tsx?$/i`.  It will always be `/\.tsx?$/i` in the case that that `entryFileCannotBeJs: true`.  I'm going to speculate that if we only tested for `/\.tsx?$|\.jsx?$/i` when the path does **not** c

[2017-10-24 17:30] ORESoftware commented on #666
ok so I think I figured it out, you have to ignore the `.d.ts.` files too! (duh)

[code]

IMO this should go in the docs no?

[2017-10-24 17:44] johnnyreilly commented on #666
I think the way you're using webpack must be kind of niche as it's never been a problem for me and I'm not aware of anyone else reporting as an issue.

I'm kind of assuming that you might be using webpack wrong.. hard to say :puzzled:

[2017-10-24 18:01] ORESoftware commented on #666
@johnnyreilly yeah who knows, but here is my complete config:

[code]

and at the command line, all I run is:

`webpack --watch`

and like I said, I had to add the ignore plugin, to prevent infinite watch looping

[2017-10-24 18:10] johnnyreilly commented on #666
Thanks! - I've merged the PR

[2017-10-24 18:10] #666 closed

[2017-10-24 18:12] ORESoftware commented on #666
cool thx boss

[2017-10-24 19:02] ORESoftware commented on #665
@johnnyreilly any idea what this might be about? ever seen it before? It looks like ts-loader is polluting my project with directories that should only belong in node_modules, it's very strange.

[2017-10-24 19:33] johnnyreilly commented on #665
what does your `tsconfig.json` look like?  TBH it's hard to help without seeing a minimal reproduction repo.

[2017-10-24 19:40] bsouthga commented on #651
👏  looks like it works with version 3, thanks!

[2017-10-24 19:40] #651 closed

[2017-10-24 19:48] ORESoftware commented on #665
you can just clone this:

git clone -b  feature_alexamil_1508459456817 git@github.com:sumanjs/suman.git

and then run

`$ webpack`

the extra dirs will be written out..make sure to take a look at the root project directories before running webpack.

The tsconfig.json file is nothing crazy:

[code]

[2017-10-24 19:53] johnnyreilly commented on #651
Great news!

[2017-10-24 19:55] johnnyreilly commented on #665
I'm not near a computer right now but I'd lay money it's related to `"declaration": true`

[2017-10-24 20:17] ORESoftware commented on #665
Yeah, maybe because those generated directories only include .d.ts files

...but what if I told you that if I run `tsc` this doesn't happen? :)

[2017-10-24 20:23] johnnyreilly commented on #665
So what happens with tsc? Where does it place generated files?  Or does it generate a different set of files?

[2017-10-24 23:25] ORESoftware commented on #665
tsc doesn't generate .d.ts files for projects in node_modules because node_modules is ignored

but for some reason ts-loader is not ignoring the projects in node_modules and is generated `.d.ts` files for them. And not only that, but it's writing those projects in node_modules to my project root.  One hint is that these projects are all symlinked to node_modules, not sure if that has anything to d

[2017-10-25 07:33] stormpat opened #672 "Weird issue when updating from 2.3.7 -> 3.0.5"
When updating ts-loader (from 2.3.7 to 3.0.5) i start getting errors on console.log statements.

### Expected Behaviour

No errors should be given.

### Actual Behaviour

    ERROR in ./....File.ts
    [tsl] ERROR in ./...File.ts(52,5)
    TS2554: Expected 0-1 arguments, but got 2.

In the code i have the following code, that emits a error:

    console.log('Some message', someVar);

EDIT

The err

[2017-10-25 07:56] johnnyreilly commented on #672
Could you provide a minimal repro repo please?

[2017-10-25 10:11] stormpat commented on #672
I tried to make a minimal repo, but have not yet succeed to pinpoint the failure point. Ill continue when i have some more time.

Interestingly, the error also disappears  when i do

     const console = window.console

[2017-10-25 10:56] johnnyreilly commented on #672
Weird!

[2017-10-25 10:57] johnnyreilly commented on #672
Also, do you want to check which version of chalk you have installed? Could be worth pinning to 2.2 to check if that fixes the issue?

[2017-10-26 05:39] johnnyreilly commented on #267
This should be resolved by @maier49's PR: https://github.com/TypeStrong/ts-loader/pull/671

Hope to ship this with ts-loader 3.1.0

[2017-10-26 05:39] #267 closed

[2017-10-26 07:40] Pajn commented on #667
I dug a bit in the code.

Long story short, by changing the regex in `isJsImplementationOfTypings` to consider all `.d.ts` files and not just those in node_modules, it works.

Long story:
When it get to that check `resolvedFileName` as well as `originalFileName` is the `.js` file as `resolveSync` prefers the `.js` file over the `.d.ts` file. If I change my webpack config so that `.d.ts` is listed

[2017-10-26 11:13] johnnyreilly commented on #667
Awesome - thanks so much! I'll try and take a look tomorrow. 🌻

[2017-10-26 15:46] shepmaster commented on #421
I am experiencing something similar when trying to upgrade ts-loader from 2.3.7 to 3.0.5. I'm using Webpack 3.8.1. If it's useful, you can [grab the code](https://github.com/integer32llc/rust-playground/tree/ts-loader) and execute `yarn build` in the `ui/frontend` directory. I am using macOS (10.12.6) and Node v8.7.0. My computer has 16GB of RAM, and watching the memory usage of the node process,

[2017-10-26 19:06] shepmaster commented on #421
Perhaps there is a difference in how ts-loader 3.x decides which files to compile? It turns out that I have ~50 MB of files in my build directory and my build directory was **not** in the `tsconfig.json`'s `exclude` key. That was causing these files to be compiled even though they aren't referenced from my entrypoint. Perhaps this is what #267 is intended to fix?

[2017-10-26 19:48] johnnyreilly commented on #421
Don't know why anything we'd have done between 2.x and 3.x would make a difference. Curious..

[2017-10-29 05:01] #667 closed

[2017-11-01 09:12] edvinv commented on #660
@johnnyreilly, sorry for late reply. Having ts-loader generate same output as tsc is good and most logical solution. This will simplify integration in vs-code and other tools.

About generating start/end message in watch mode, I have found an open issue webpack/webpack#5895. Implementing this on web-pack side is better and more general solution, so I will postpone this and wait for web-pack respon

[2017-11-03 17:06] ivanvoznyakovsky opened #677 "Const enum inlining does not work in happyPackMode"
Enums declared as `const` are not inlined when in `happyPackMode`. Example code:

[code]

### Expected Behaviour
[code]

### Actual Behaviour
[code]

[2017-11-03 17:43] johnnyreilly commented on #677
I believe this is down to the `transpileModule` behaviour in tsc.  Could be worth checking with the TypeScript project itself; `happyPackMode` runs in using the `transpileModule` behaviour.

[2017-11-03 17:43] #677 closed

[2017-11-03 22:55] jhnns commented on #488
That's a good idea 👍. [`stderr` was invented exactly for this purpose 😁](https://www.jstorimer.com/blogs/workingwithcode/7766119-when-to-use-stderr-instead-of-stdout)

[2017-11-09 13:57] timocov commented on #223
@HennerM @johnnyreilly it still does not work, but I am not sure it is a TypeScript issue (@TheLarkInn wrote in Microsoft/TypeScript#9017 about it) or ts-loader.

I [have attached a small project](https://github.com/TypeStrong/ts-loader/files/1457781/issue-repro.zip) with reproducing of the issue.

We use `preprocess-loader` to remove some parts of the code from certain builds.

Do the following t

[2017-11-09 22:14] timocov commented on #223
Also `src/bar.ts` is not in webpack's deps list and if you run webpack in watch mode and change this file - it does not make rebuild.

[2017-11-12 21:42] OliverJAsh commented on #659
I am getting this again. Do we have any ideas why the errors might not be logging?

[2017-11-12 21:59] johnnyreilly commented on #659
Sorry - I've been tremendously busy and haven't had chance to think about it. If someone else could take a look at it that would be awesome 💓

[2017-11-13 22:20] Falieson opened #679 "Invariant Violation: Invalid tag: '...tsx'"
### Expected Behaviour
Configuring TS on a new project will work

### Actual Behaviour
Errors
[code]

### Steps to Reproduce the Problem
`npm run dev` and go to site

### Location of a Minimal Repository that Demonstrates the Issue.
Commit on the Fork where I made changes:
https://github.com/Falieson/react-universally--typescript/commit/ce0f76132e61231000c16b323e9df6a83b68d372

[2017-11-14 06:10] johnnyreilly commented on #679
Hey!

I don't think this is a problem with ts-loader.  I'm afraid I don't have the time to debug your setup but I'd speculate the `babel-node` used in your setup might be part of the problem.  If you'd like a reference for a universal react app with TypeScript then this might be a useful reference:

https://github.com/johnnyreilly/reactspike

[2017-11-14 06:10] #679 closed

[2017-11-14 19:45] dougajmcdonald opened #680 "Entry point is never hit"
I have a fairly straightforward `webpack.config.js` and I'm using `ts-loader` which appears to build everything correctly until I try to execute any code!

In my `app.ts` as the entry point I build to a `bundle.js` and then reference the `.js` file in my HTML. I've got some setup bits such as button event handlers in the `app.ts` file and have put in some `window.console.logs` in the file, but non

[2017-11-14 21:31] johnnyreilly commented on #680
If I was you I'd take a look at one of the simple examples. This is a good candidate: https://github.com/TypeStrong/ts-loader/tree/master/examples/vanilla

[2017-11-14 21:31] #680 closed

[2017-11-15 08:49] nilpath commented on #263
@mblandfo I noticed that your PR didn't make it into the `ts-loader` did you ever get around to publish your own declaration file plugin that works?

[2017-11-15 09:24] mblandfo commented on #263
No, but here's the code:

In webpack.config.js:

[code]

somepath/fixed-declaration-bundler-webpack-plugin.js
[code]

[2017-11-15 09:24] #263 closed

[2017-11-15 16:35] dougajmcdonald commented on #680
@johnnyreilly it was a stupid reference error on my part (referencing webpack output) thanks for the pointers though

[2017-11-16 12:49] angularsen commented on #348
Just stumbled across this, so this is still an issue, but the workaround works nicely!

[2017-11-19 12:24] ionSolutions commented on #348
Haha, i just had the same Issue...
really weird behaviour though

[2017-11-20 21:29] martijnthe opened #682 "Automatically "external"-ize ambient modules?"
I've got a `.d.ts` containing ambient module declarations, i.e.
[code]

If a `.ts` file contains for example...
[code]
... webpack should not try to resolve the `my_mod` module, but just leave the `require('my_mod')` (or whatever module loading code got generated by the TS compiler).

I know you can solve this by adding `externals` to the webpack config, but I'm looking for a more automated soluti

[2017-11-20 21:43] christiantinauer commented on #682
I think you can use the files-section of the tsconfig.json file. Typescript will respect the .d.ts file for transpilation but it will not be bundled.

[2017-11-21 13:57] martijnthe commented on #682
@christiantinauer did you mean to write *Typescript* or *ts-loader* here?

If the former: I'm not sure if I understand. Typescript doesn't bundle anything?

If the latter: I've added the package in that contains the `.d.ts` files to the `"types"` section in the `tsconfig.json` file:

[code]

I'd rather not use `"files"` for that because then I have to specify the `node_modules/my_mod_npm_package_n

[2017-11-21 14:08] martijnthe commented on #682
I just tried adding the path to the `.d.ts` file "manually" to `"files"`.

It doesn't seem to work:
[code]

`index.ts`:
[code]

Only if I manually add this to the `webpack.config.js`, it works as expected:
[code]

[2017-11-21 14:25] martijnthe commented on #682
Ah, I was just digging through the code and test cases and noticed this `"externals"` config:
https://github.com/TypeStrong/ts-loader/blob/master/test/comparison-tests/externals/webpack.config.js#L10

I also noticed the [expected output](https://github.com/TypeStrong/ts-loader/blob/master/test/comparison-tests/externals/expectedOutput-2.6/bundle.js#L81) is kind of broken:

[code]

I think `module.

[2017-11-21 16:21] johnnyreilly commented on #682
I don't think behaviour has changed.  If you compare the output from [TypeScript 1.6](https://github.com/TypeStrong/ts-loader/blob/master/test/comparison-tests/externals/expectedOutput-1.6/bundle.js) to [TypeScript 2.6](https://github.com/TypeStrong/ts-loader/blob/master/test/comparison-tests/externals/expectedOutput-2.6/bundle.js) it's essentially the same.

If it's wrong now then it's always bee

[2017-11-21 18:49] martijnthe commented on #682
@johnnyreilly I guess it's not wrong if the `bundle.js` gets run in an environment where the global `hello` happens to point to the `"hello"` module (such as an HTML page where another script that is loaded first, takes care of setting up the global `hello`).

In my use case, I would like to be able to write against a `.d.ts` that specs built-in/ambient modules, without having to worry whether web

[2017-11-21 19:18] johnnyreilly commented on #682
Can this be accomplished with the webpack ignore plugin?

[2017-11-21 19:22] martijnthe commented on #682
@johnnyreilly it's usually accomplished using either the `"externals"` config or using the `ExternalsPlugin`. Here's an example how it's done by webpack itself for the Electron built-in modules: https://github.com/webpack/webpack/blob/master/lib/WebpackOptionsApply.js#L128

[2017-11-22 07:12] johnnyreilly commented on #682
Cool - I'll close this issue as it looks like no action is required for ts-loader

[2017-11-22 07:12] #682 closed

[2017-11-23 14:39] martijnthe opened #683 "Errors from conflicts in type declarations are not being logged"
### Expected Behaviour

When there are conflicts in type declarations, the webpack build should be failed and the errors should be logged.

### Actual Behaviour

When there are conflicts in type declarations, the webpack build does not fail and the errors are not logged.

### Steps to Reproduce the Problem

See commit message of the commit below.

### Location of a Minimal Repository that Demonstr

[2017-11-23 14:39] martijnthe commented on #683
I'm happy to take a stab at fixing this. Any pointers @johnnyreilly ?

[2017-11-23 17:42] johnnyreilly commented on #683
Hey @martijnthe,

Historically I believe this was dealt with by using the https://www.npmjs.com/package/webpack-fail-plugin

Supposedly it's not necessary with webpack 2+

That said, the https://webpack.js.org/api/cli/#advanced-options list `bail` as an option.  You'd think I'd know for sure the distinction but actually I don't.

I'd start with researching exactly what the webpack behaviour with v

[2017-11-23 18:56] martijnthe commented on #683
hi @johnnyreilly, thanks for your comments.

I just quickly tried out `--bail` and also the `webpack-fail-plugin`.
It does not catch the error either. FWIW, I tried with the latest webpack, v3.8.1.

I don't think it is. Why would it matter? Are you suggesting that config issues aren't caught either?

I'll dig into the code to figure out what's going on.

[2017-11-24 17:44] zuzusik commented on #213
@johnnyreilly I can confirm that the solution from the post above works great for me:

I have the following code:

`webpack.config.js`:
[code]

`tsconfig.json`:
[code]

[2017-11-24 18:27] johnnyreilly commented on #213
That's awesome @zuzusik!  Would you be able to share a minimal that demonstrates this? I'd like to document this usage and also add a test to our testpack that uses the paths plugin.

With a minimal repo I could probably do that. I don't use this functionality myself and so I don't have any example code of my own I could use.

[2017-11-28 10:12] MisaGu opened #684 "extend module resolve def. params: moduleName.ts instead index.ts in modeleName folder"
The idea is to extend OR setup typescript loader to make it possible to import file from module folder without notification of its name:

Folder structure:
` moduleName`
` |-- moduleName.ts`  I wanna keep moduleName.ts instead index.ts if it possible
` |-- moduleName.d.ts`
` |-- moduleName.spec.ts`

So instead writing this:

`import * as Module from "path/to/moduleName/moduleName" // looking for *

[2017-12-01 15:25] jt000 commented on #550
@johnnyreilly - This doesn't solve the problem for moment, which only has a stub `@types/moment`. The moment.d.ts file is located in `node_modules/moment` folder. Oddly enough, if I switch the `"target": "ES2016"` to `"ES5"`, then the module is loaded just fine.

[2017-12-01 16:52] johnnyreilly commented on #550
Doesn't moment ship with typings in the package? No need for @types/moment

[2017-12-03 15:49] gitnik opened #686 "Decorator TypeHint resolution seems to be broken"
This might be the wrong place to ask, but even after looking at the code more thoroughly, I couldn't pin it down to the exact repo/project. Anyway here goes the bug description:

When resolving the typehint for a decorator (in my case with angular)
[code]

the file resolution does not seem to work. The same file is found for other parts of the application where the type definition is not used on a

[2017-12-03 17:53] johnnyreilly commented on #686
You could try picking one of the examples and using that as a basis - the simpler the better really

[2017-12-03 18:49] gitnik commented on #686
Alright so as I was creating a minimal repo I found out the actual cause of this bug: https://github.com/Microsoft/TypeScript/issues/18008

Doesn't really help me immediately but at least I now know the actual culprit :)

[2017-12-03 18:49] #686 closed

[2017-12-06 13:15] zheeeng opened #689 "Fail to specify configFile which contains "extends" option."
If the configFile is pasted from standard `tsconfig.json`, it works fine. Once the configFile using "extends" option to reuse other tsconfig files. Everything seems weird and has no solutions.
[code]
Run webpack, I get
`Error: EACCES: permission denied, mkdir '/Users/users'`
seems ts-loader will try to execute `mkdir`:

[2017-12-06 15:48] rw3iss opened #690 "Anyone know how to use ts-loader while defining a custom @jsx pragma/compile function?"
I'm wondering if it's possible to parse jsx and print out custom directives (ie. 'h(...)') versus the standard React.createElement, etc. This is to support a custom virtualDom compiler or do customized rendering/tree diffing.

[2017-12-06 17:23] jbrantly commented on #690
You should be able to use TypeScript's `preserve` option to preserve the original JSX and then chain a loader to do the custom JSX compilation.

https://www.typescriptlang.org/docs/handbook/jsx.html

[2017-12-06 17:40] rw3iss commented on #690
Okay, will give it a shot, thanks. Haven't played with custom loaders but will try to implement my own.

[2017-12-06 17:44] johnnyreilly commented on #690
Thanks so much for advising @jbrantly!

[2017-12-07 10:45] onigoetz opened #691 "Add `trace` method to servicesHost"
### Expected Behaviour

Adding `"traceResolution": true,` to tsconfig.json should display logs of how imported modules are resolved. It's very useful for debugging.

### Actual Behaviour

Setting `traceResolution` to true makes no difference in the output. The cause is that the declared ServicesHost doesn't provide a `trace` method.

Can we add a method that will output those informations ?

Norma

[2017-12-07 18:57] senyaak opened #692 "Import the part of node module not working"
### Expected Behaviour
I use vue-cookie in my project. There was no typings so I added it myself. [repo.](https://github.com/senyaak/vue-cookie/tree/Typings.

When I use vue-cookie, I import this typings together with vue typings like that
[code]
and this should compile without errors

### Actual Behaviour
I get error `Module not found: Error: Can't resolve 'vue-cookie/types/index' in `
But if I c

[2017-12-09 08:16] ilikebits commented on #637
I'm seeing weirdness too, where `ts-loader`'s type-checking fails but `tsc`'s type-checking succeeds. For me, the definition of `RequestInit` in `lib.es6.d.ts:6569` is different between the two.

[2017-12-09 09:06] johnnyreilly commented on #637
To be clear: ts-loader does not package up Typescript. It uses either the version of Typescript installed in your project, or failing that, if Typescript is globally installed that will be used.

[2017-12-09 22:52] ilikebits commented on #637
I futzed around with my global TypeScript installation and got the error warnings to match. My working theory is that my `tsc` was using the global installation which was at a different version than the `typescript` installed locally as a `devDependency`.

[2017-12-10 13:47] jonaskello opened #693 "Package to resolve tsconfig paths"
I've released [tsconfig-paths-webpack-plugin](https://www.npmjs.com/package/tsconfig-paths-webpack-plugin). It can be used together with ts-loader to make webpack resolve according to the `baseUrl` and `paths` section of `tsconfig.json`. It is similar to the one found in awesome-typescript-loader, [see here](https://github.com/s-panferov/awesome-typescript-loader#advanced-path-resolution-in-typesc

[2017-12-10 13:49] jonaskello commented on #508
If you are expecting ts-loader to resolve according to your `baseUrl` and `paths` section of `tsconfig.json` I think that will not work out-of-the-box. I've made a webpack plugin that adds that resolving, you can find it here: [tsconfig-paths-webpack-plugin](https://www.npmjs.com/package/tsconfig-paths-webpack-plugin)

[2017-12-10 17:23] johnnyreilly commented on #508
Thanks for sharing @jonaskello - it's not functionality I use and so I've never paid too much attention to it. That said, it's clearly valued by others. Would you fancy adding something to ts-loader's readme to point people who want that functionality towards your plugin?

[2017-12-10 17:26] jonaskello commented on #508
@johnnyreilly I actually made #693 just today for that :-). I'll go ahead and do a PR too.

[2017-12-10 20:16] #693 closed

[2017-12-10 20:18] johnnyreilly commented on #508
Thanks!

[2017-12-10 20:18] #508 closed

[2017-12-11 07:14] jonaskello commented on #213
You could also use the [tsconfig-paths-webpack-plugin](https://www.npmjs.com/package/tsconfig-paths-webpack-plugin) package together with ts-loader in order to resolve `baseUrl` and `paths` from `tsconfig.json`. This is now mentioned [here](https://github.com/TypeStrong/ts-loader#baseurl--paths-module-resolution) in the readme so I guess this can be closed?

[2017-12-11 08:39] johnnyreilly commented on #213
Yeah - works for me. I still should really get round to creating an execution test for our test pack that covers using ts-loader with another plugin providing the path functionality. Haven't yet though. If anyone feels motivated to provide that I'd appreciate it.

I'll close this though.

[2017-12-11 08:39] #213 closed

[2017-12-11 12:45] stormpat commented on #672
This seems to be fixed. (using latest 3.2.0)

[2017-12-11 12:45] #672 closed

[2017-12-14 18:12] MartinsThiago opened #696 "SourceMap - Can't debug variables declared on imports"
### Expected Behaviour
Adding these configurations should allow us to debug imported vars
- `"sourceMap": true` on tsconfig.json
- `"devtool": "source-map""` on webpack.config.js

### Actual Behaviour
It's possible to debug variables that I defined perfectly, but vars from imports nope
See how the scope looks like while debugging

![image](https://user-images.githubusercontent.com/8419829/34007338

[2017-12-15 18:10] flyon commented on #691
yes, right now I have a module that cannot be found even though its installed under @types, would like to debug with traceResolution, but neither in tsconfig.json nor through ts-loader -> compilerOptions overwrite works

[2017-12-15 19:31] johnnyreilly commented on #691
I'm open to this being added. Would you like to submit a speculative PR and we can iterate on that?

[2017-12-15 22:49] onigoetz commented on #691
Sure I can do that

[2017-12-19 13:58] KnisterPeter opened #697 "Webpack watch missing changed files"
### Expected Behaviour
Detect all changed files used in a compilation
### Actual Behaviour
Some files are missing in some cases
### Steps to Reproduce the Problem
https://github.com/KnisterPeter/webpack-multi-app-test

Run `npm run watch` and change `src/core/plugin.ts`.
It is expected that `src/sub/index.tsx` fails afterswards.

### Location of a Minimal Repository that Demonstrates the Issue.
ht

[2017-12-19 14:48] johnnyreilly commented on #697
Thanks for the minimal repro repo - that's always appreciated.  I suspect the issue is that the file in question is interfaces only; i.e. it produces no JS output which means file changes result in no changes to the JS output.  As far as webpack is concerned, there wasn't any output before; there isn't now either.

There's not an immediately obvious solution to this.  However, I'm hopeful that whe

[2017-12-19 14:54] KnisterPeter commented on #697
Right now there is at least the defintion file updated. Wouldn't it this idea be possible:

1. Filter the list of files as it is done now but exclude `.d.ts` files.
1. Always handle `.d.ts` files as if they where touched.

[2017-12-19 15:20] KnisterPeter commented on #697
To give some more info here, this is the content of the times object in `watch-run.ts`:

[code]
Everything with a timestamp of 1 and not 'living' in `node_modules` could be seen as updated. These files are all part of the current compilation and therefore part of the ts Program.

[2017-12-19 15:54] johnnyreilly commented on #697
I'm open to PRs that fix the issue - I'd be happy to advise along the way

[2017-12-20 23:48] Storyyeller commented on #267
I am still seeing this issue in ts-loader 3.2.0. It makes ts-loader and webpack literally unusable for us.

Webpack loaders are supposed to be called to handle the files you're building with webpack - not to spend minutes blindly processing every file in your repository and then blowing up.

[2017-12-21 06:24] johnnyreilly commented on #267
If tsc thinks your code is probably broken then ts-loader should say so too. We do this so there's not a disconnect between the editor / IDE experience and your build.

The `onlyCompileBundledFiles` is one of a number of flags that allows you to deviate behaviour from tsc and align closer with typical webpack behaviour.

It's not, it's just not the behaviour you expected. ts-loader intentionally m

[2017-12-21 07:11] Storyyeller commented on #267
I was under the impression that `ts-loader` is intended to be used with webpack. Why not follow the standard webpack behavior in that case?

[2017-12-21 08:44] johnnyreilly commented on #267
It is intended to be used with webpack. However we want the typical compiler behaviour to tie up with ts-loader as much as possible.

Partly to give a good editor / IDE experience. Partly because webpack is not the only game in town. People may move to webpack and away from webpack as a build choice. There can be good reasons to do either. Ideally that should be a frictionless experience. We don't

[2017-12-21 18:34] andrewbranch commented on #552
I recently discovered the same issue, after having written a series of loaders that transform a Markdown file into a valid TypeScript file exporting a React component. Needless to say, it didn’t work at all—ts-loader was attempting to compile the original raw markdown file as TypeScript.

Is there any interest in this still? I was excited to stumble upon this issue, and then dismayed to see that t

[2017-12-22 16:20] freeman opened #700 "Allow suppressing diagnostics for certain files"
### Expected Behaviour

I'd like to be able to ignore typescript errors/diagnostics for certain files (or only reporting errors for certain files).

This feature is available in [at-loader](https://github.com/s-panferov/awesome-typescript-loader#reportfiles-string) as `reportFiles`. This can be useful when some type definitions contain errors that do not otherwise break the application. In this ca

[2017-12-22 18:06] johnnyreilly commented on #700
I'd be happy to add that functionality - would you like to submit a PR?

[2017-12-22 21:39] freeman commented on #700
I'd be happy to have a go at it.

[2017-12-22 22:53] johnnyreilly commented on #700
Go for it! I suspect it's fairly simple to implement; don't worry about failing tests. Feel free to PR when you've got something up and running and we can iterate together on that as we need to.

[2017-12-26 03:44] GAumala opened #702 "When using `checkJs` compiler option, JS files inside node_modules are also checked, potentially breaking the build"
### Expected Behaviour

If in my `tsconfig.json` file I use the `checkJs` option, only the JS files of my project should be checked. The files inside `node_modules` should be ignored.

### Actual Behaviour

Every JS file imported into the project is being checked, even some in `node_modules`.

### Steps to Reproduce the Problem

Configure `ts-loader` to process both JavaScript and TypeScript files

[2017-12-30 16:08] LukeSheard commented on #649
Sorry only just had a chance to get back to this, I think it might be a bigger issue where we actually have to create a new `compilerHost` instance and override the typescript `fs` methods that are used there? I can have a go at the simple PR case where we just replace any fs import with using the webpack inputFileSystem though.

[2017-12-30 18:44] johnnyreilly commented on #649
Give it a shot - let's see how it pans out!

[2017-12-30 19:17] LukeSheard commented on #649
So actually looking at it, you've done most of the work in `servicesHost.ts`, so it should be the case of just overriding those files. I'll see if I can create a demo and a PR and then look at tests!

[2017-12-30 19:17] johnnyreilly commented on #649
Sweet!

[2017-12-31 05:10] corydeppen opened #703 "Status of visualStudioErrorFormat option"
Would someone be able to confirm whether `visualStudioErrorFormat` is a valid ts-loader option or not? I see it's not in the list of [`LoaderOptions`](https://github.com/TypeStrong/ts-loader/blob/master/src/interfaces.ts#L262-L282) so I'm assuming it's no longer supported.

[2017-12-31 05:26] johnnyreilly commented on #703
Hi @corydeppen,

This was dropped as an option as part of the v3 release:

https://github.com/TypeStrong/ts-loader/blob/master/CHANGELOG.md#v300

There's now a more powerful `errorFormatters` option which allows anyone to provide their own formatting choice. See here for details: https://github.com/TypeStrong/ts-loader/blob/master/README.md#errorformatter-message-errorinfo-colors-boolean--string-d

[2017-12-31 09:27] ericnoguchi commented on #267
Hello,

Yes this issue caught me off guard as well
 And for the record **awesome-typescript-loader** seems is also doing the same thing

onlyCompileBundledFiles fixes the issue to ts-loader

[2017-12-31 13:48] LukeSheard commented on #649
So I made some good progress yesterday and today and put together some simple demos using my fork of ts-loader. https://github.com/LukeSheard/ts-loader-memory-fs/tree/master

As far as I can tell at this point the issue is just the diagnostics which use the `compiler.sys`, so do all the file reads. I think just replacing those with `loader.fs` should work... If you've got any better observations t

[2017-12-31 13:58] johnnyreilly commented on #649
Could you elaborate what you mean by this please? An example of the issue you are facing would be helpful.

[2017-12-31 14:00] johnnyreilly commented on #649
Btw I'm away from computers right now so feel free to guide me by the hand. Good as the github UI is it's not conducive to grokking code!

[2018-01-02 14:10] Roaders opened #704 "ts-loader does not work with @types (with latest versions)"
### Expected Behaviour

@types (particularly jasmine) should be compiled correctly by ts-loader

### Actual Behaviour

errors are produced by ts-loader:

[code]

### Steps to Reproduce the Problem

clone this repo:
`https://github.com/SierraNL/webpack-typescript-jasmine` (not mine)
use `@types` instead of typings
(sample package.json will be posted as a comment)

### Location of a Minimal Reposito

[2018-01-02 14:11] Roaders commented on #704
package.json:

[code]

[2018-01-02 14:19] Roaders commented on #704
I have just realised that I am not using the latest release of ts-loader at all - but importantly I am using version 2. Another issues that I found had a similar issue that was in version 1 but fixed in version 2.

unfortunately on my the private npm repo at work I only have access to 2.0.1 :-(

is this supposed to work in 2.0.1?
I am expecting that the answer is just going to be to be to upgrade

[2018-01-02 14:54] johnnyreilly commented on #704
Honestly I can't remember. But I don't see those issues with 3.2. I recommend downloading 3.2 and testing it even if you can't use it immediately. I'm sorry for your workplace pain!

[2018-01-05 23:44] trusktr opened #705 "How to compiled for Chrome (i.e. leave classes and async functions alone)?"
How can we compile TypeScript code so that the output is minimal for a modern browser (f.e. classes and async functions are left as-is so we have best performance rather than using heavier transpiled ES5)?

[2018-01-08 00:36] demurgos commented on #703
Hi,
I also encountered this issue. Could it be possible to keep the visual studio formatter in this package? It allows to get clickable links to the corresponding file in WebStorm.

[2018-01-08 09:34] johnnyreilly commented on #703
Sure - would you like to come up with a formatter that produces the visual studio output? Once we've got that we can look at getting it integrated as an "in the box" formatter. In the short term we can share it here so other people can make use of it.

[2018-01-10 08:16] zheeeng opened #706 "Unable to compile const enum in .d.ts file."
I'm using .d.ts to store some enum interfaces. But it seems that ts-loader doesn't include these .d.ts files in compiling.

A work situation:

[code]
output:
[code]

For reusing Direction as value and interface, I separated declaration and its applying. Unfortunately, the compiling failed.

[code]
output:
[code]
This way report `ReferenceError: Direction is not defined` in webpack compliing result

[2018-01-10 12:02] jmeinlschmidt opened #707 "Debugging"
Is there any possibility to debug ts-loader? For example I mean printing into the console with the exact files being processed or maybe with the time the processing took would be awesome.

Isn't it? Thank you.

[2018-01-10 12:17] johnnyreilly commented on #707
Tbh your best bet is adding console.log statements in as required

[2018-01-10 12:17] #707 closed

[2018-01-10 19:45] univerio commented on #405
I ran into the same, but in my case my `tsconfig.json` was in a different directory than the project root, so while a relative path doesn't work:

[code]

an absolute path works just fine:

[code]

[2018-01-11 10:01] aryzing commented on #250
Was having this issue with version 2.x.x, it seems that it's gone in version 3.x.x. Perhaps we could close this issue?

Could anyone else confirm that it's working with v3 for them as well? Thanks!

[2018-01-11 10:05] aryzing commented on #170
Are we still seeing this issue, or can we close this @Ciantic ?

[2018-01-11 11:27] marton78 opened #708 "Error in pristine project created by create-react-app"
If ts-loader is updated to the newest version in a project created with `create-react-app --scripts-version=react-scripts-ts`, a TS6059 error is thrown due to env.js not being under rootDir.

### Steps to Reproduce the Problem

[code]

### Actual Behaviour

[code]

### Expected Behaviour

Well it should just work I guess.

[2018-01-11 12:56] johnnyreilly commented on #708
Thanks for the repro but I'm closing as this seems to be a create-react-app or configuration problem - not a bug with ts-loader. Happy to reconsider if you can prove otherwise...

[2018-01-11 12:56] #708 closed

[2018-01-11 20:54] marton78 commented on #708
Well, I thought I had proven just that by showing that before updating ts-loader to v3 everything works fine. Surely it could be a configuration issue in create-react-app, but why did it work with ts-loader v2.3.7?

None of the [breaking changes in ts-loader v3](https://github.com/TypeStrong/ts-loader/releases/tag/v3.0.0) sound like they could have triggered the issue.

[2018-01-11 21:47] johnnyreilly commented on #708
I don't know `create-react-app` so well but I know it comes with a small truckload of configuration under the bonnet. Hence I think that's probably the issue

But as I understand, it ships with `ts-loader` 3.1.1. not 2.3.7: https://github.com/wmonk/create-react-app-typescript/blob/master/packages/react-scripts/package.json

Are you out of date?

[2018-01-12 03:02] gingi commented on #689
Exact same issue.

[2018-01-14 13:53] johnnyreilly opened #709 "webpack 4 things to do"
List of things that we need to do to make ts-loader compatible with webpack 4:

- remove: https://github.com/TypeStrong/ts-loader/blob/ba72dfc661c805dce52bdf5ba58a351ef4d08976/src/index.ts#L95

- moved to use the new enhanced-resolve: https://github.com/webpack/enhanced-resolve

[2018-01-16 15:36] marton78 commented on #708
You're right, they seem to have fixed the problem in the meantime. Recreating the project with the newest `react-scripts-ts` remedies the issue. Thanks!

[2018-01-17 11:47] JonWallsten opened #711 "Declaration files not generated"
### Expected Behaviour
When declaration is set to true in tsconfig.json d.ts files should be generated, either as files in the dist-folder, in a tmp folder or via DeclarationBundlerPlugin.
### Actual Behaviour
No d.ts files are generated. When debugging the DeclarationBundlerPlugin no d.ts file are emitted. compilation.assets doesn't include any d.ts files.
When running "npm run tsc" files are gen

[2018-01-17 15:53] JonWallsten commented on #711
It turns out ts-config is ignoring my tsconfig.json. ATL did the same until I specified the tsconfig.json path manully with an option. Anyone knows whats up with this?

[2018-01-17 16:39] JonWallsten commented on #711
Seems like it's because I'm using HappyPack. Would that be a bug or a feature?

[2018-01-17 16:56] johnnyreilly commented on #711
If you're using happypack then you're running in `transpileOnly` mode. Declaration files aren't generated by the Typescript compiler in this mode - I think there are workarounds which have been discussed on one of the issues here. Have a little explore and you should find it.

Closing for now as intended behaviour.

[2018-01-17 16:56] #711 closed

[2018-01-19 20:03] IronSean commented on #625
So no updates on this?

[2018-01-20 22:33] #700 closed

[2018-01-23 10:41] vytautas-pranskunas- commented on #595
any progress on this?

[2018-01-25 13:48] deamme opened #716 "Triggering of .tsx file update"
I have a `index.tsx` and a `index.styl` file where I have all my styles. My custom transformer generates a unique `styles.css` file depending on the .styl file imported in `.tsx` files.

Can I somehow trigger a .tsx file update when I e.g. update the corresponding .styl file so my custom transformer runs?

[2018-01-26 15:32] el-fuego commented on #689
+1. This issue is related to for Mac users only: Linux is OK

[2018-01-26 15:35] nktssh commented on #689
Have the same issue.
ts-loader@2.3.7
typescript@2.6.2
node v8.9.0
npm v5.5.1

[2018-01-26 17:33] johnnyreilly commented on #689
If there's any Mac users out there that could take a look at this I'd greatly appreciate it. I only run Windows and Linux..

[2018-01-26 17:33] johnnyreilly commented on #689
(hence I can't reproduce the issue)

[2018-01-27 17:26] TheJare commented on #704
I think I have the same problem. Inside vscode the typescript intellisense plugin finds the import just fine but webpack with ts-loader fails.

./package.json
[code]
./src/index.ts
[code]
The file ./node_modules/@types/snapsvg/index.d.ts exists and looks just fine (as well as its dependency @types/mina).

./webpack.config.js
[code]
(I tried with or without the exclude, just in case. No luck)

webp

[2018-01-27 18:28] johnnyreilly commented on #704
@TheJare could you provide a minimal repro please. I can only imagine this is some kind of config issue. `@types` usage is kinda fundamental!

[2018-01-27 21:28] TheJare commented on #704
Sure, here's a minimal repro. As far as I can see the config is minimal but should work. In the project I ran into this the tsconfig and webpack.config were more elaborate but not terribly so.

[repro704.zip](https://github.com/TypeStrong/ts-loader/files/1670552/repro704.zip)

[2018-01-27 22:40] johnnyreilly commented on #704
Sorry could you put that on github so I can see the code? I'm on my phone I'm afraid

[2018-01-27 23:01] TheJare commented on #704
Sure https://github.com/TheJare/temp_tsl704

[2018-01-28 06:06] johnnyreilly commented on #704
Hey @TheJare,

The problem was you hadn't setup snapsvg as a dependency of your project.  See my fix below:

[code]

It's worth saying that the `@types/` definition packages do **not** have a dependency on the packages they type.

[2018-01-28 06:06] #704 closed

[2018-01-28 09:56] KnisterPeter commented on #706
Couldn't you just `export` your const enum from 'foo.ts'?
Otherwise you may use a tripple-slash-directive to reference your 'foo.d.ts' which will instruct the compiler to include your file.

[2018-01-28 09:58] TheJare commented on #704
Thanks John. In my "real project" I am including the snapsvg library (the original js) myself in the html, not via npm. I was already doing that for other libraries that are not part of the `@types` ecosystem.

I guess I am confused. Which part of the webpack / ts-loader / `@type`s / tsc system is asking for the actual package when I import the `@type`s definitions? I have not been able to find a

[2018-01-28 09:58] KnisterPeter commented on #705
@trusktr TypeScript is only possible to compile to targets on a js-level. Have a look at your `tsconfig.json` and the `target` property.
There is fine granular configuration of feature transpilation like with babel.

As well this issue should belong to typescript, not the ts-loader.

[2018-01-28 10:00] KnisterPeter commented on #702
@GAumala Does it help if you add this to your `tsconfig.json`?
[code]

[2018-01-28 10:02] KnisterPeter commented on #696
@MartinsThiago This is caused by webpack emulating es-modules. Export/Import in ES6+ has to export the bindings and not the values.
You should file this as an issue in the webpack repo.

[2018-01-28 10:07] zheeeng commented on #706
`const enum` is handy for number semantic. `declare` is handy for using in global. The more important, typescript allow us to use them in that way.
export means we have to import it everywhere. And the behaviour difference between native typescript compiled and the transpiled brings a little inconvenience.

[2018-01-28 10:07] KnisterPeter commented on #665
@ORESoftware This may be caused by webpack. `tsc` creates just files for your source and `node_modules` are seen as third party dependencies. But `webpack` has a different look at it, since it bundles everything and the output includes your third-party dependencies.
To use your bundle as input to another compile process (for example if you bundle a library) you will need your third-party declarati

[2018-01-28 10:08] osadan commented on #704
@johnnyreilly  I have the same problem with node  which I can not add as a dependency ;-)

[2018-01-28 10:16] KnisterPeter commented on #706
@zheeeng Fair engouth. Does it work with plain `tsc`? I doubt this is a ts-loader issue, since ts-loader just calls `tsc` from `webpack` (but I'm not sure, could be some side-effect).

[2018-01-28 10:22] KnisterPeter commented on #706
I think you need to add a tripple-slash somewhere in your source like this:
[code]

This is a way to tell the `tsc` to include your declaration in your compilation.
As far as I know you can either use import/export or tripple-slash references to include files in your compiler context.

[2018-01-28 10:23] zheeeng commented on #706
@KnisterPeter tsc works fine. I think it is something caused by webpack only consider files things are imported. Declaration files don't need to be imported.
Certainly, webpack won't take this issue. Maybe some improvements on ts-loader will help.

[2018-01-28 10:24] KnisterPeter commented on #706
@zheeeng  Please add a minimal repository to test this issue. It may help to understand it a bit more.

[2018-01-28 10:26] zheeeng commented on #706
Ok, I try build one.

[2018-01-28 10:29] johnnyreilly commented on #704
Hey @TheJare

I think this is covered by webpack's `externals` functionality - check it out!

[2018-01-28 11:24] zheeeng commented on #706
@KnisterPeter very sorry for my mistakes. I just then build a minimal project for test, if the declaration file is included by 'include' option `tsconfig.json`. It indeed is transpiled right.
The issue was created when I was developing project with complicated configs, VS Code didn't report error while the `const enum` declaration is out of the `include` range that be defined by `tsconfig.json`.

[2018-01-28 11:25] #706 closed

[2018-01-28 11:36] KnisterPeter commented on #706
Your welcome. I'm glad to help.

[2018-01-28 15:38] GAumala commented on #702
It seems like that setting is not enough, because `tsconfig.json` [already excludes node_modules](https://github.com/GAumala/phaser-ts-webpack-example/blob/master/tsconfig.json#L13).

[2018-01-28 16:08] TheJare commented on #704
Works perfectly! Thank you so much for your help, and sorry for sidetracking you!

[2018-01-30 08:55] etroynov commented on #709
any news?

[2018-01-30 09:04] Kocal commented on #709
He is actively working on it (https://github.com/TypeStrong/ts-loader/pull/710) :+1:

[2018-01-30 09:04] johnnyreilly commented on #709
Yup - beta available: https://blog.johnnyreilly.com/2018/01/webpack-4-ts-loader-fork-ts-checker.html

[2018-01-30 19:02] #697 closed

[2018-01-31 07:49] vegawong opened #717 "appendTsxSuffixTo: [/\.vue$/] not work with happyPackMode"
### Expected Behaviour

work with vue single file compoent,  use HappyPack plugin to decalre the loader's option like

[code]

### Actual Behaviour

it not work!
but only i use the `appendTsSuffixTo` in the webpack config without happypack like
[code]
then it work, but i can not use it with happypack mode
### Steps to Reproduce the Problem

when i declare the HappyPack plugin like
[code]
and decla

[2018-01-31 08:25] johnnyreilly commented on #717
Hi, I'm not a Vue user so I'm not sure if this is a ts-loader problem or not. I know that the vue-cli uses ts-loader with the fork-ts-checker-webpack-plugin successfully which is a similar setup. I don't know if they have happypack or thread-loader in the mix too or not. Either way, I suspect this could work but I haven't tried.

@wonderful-panda / @CKGrafico have you tried using happypack with ts

[2018-01-31 09:26] wonderful-panda commented on #717
@johnnyreilly
I've not used happypack yet.
As far as trying shortly, it seems to work for me.

https://github.com/wonderful-panda/inazuma/blob/happypack-test/src/renderer/webpack.config.js

[2018-01-31 09:29] CKGrafico commented on #717
BTW I think that with Webpack 4 you don't need happyback.

[2018-01-31 12:12] johnnyreilly commented on #717
Thanks @wonderful-panda and @CKGrafico

FWIW I'm a thread-loader + cache-loader user rather than happypack. Same principle though - see

https://github.com/TypeStrong/ts-loader/tree/master/examples/thread-loader for an example

[2018-02-01 01:40] vegawong commented on #717
@wonderful-panda thanks! I will try again by your example

[2018-02-01 01:44] vegawong commented on #717
@CKGrafico webpack 4 maybe a wonderful way!

[2018-02-01 03:07] vegawong commented on #717
@wonderful-panda it work! and i found that i must set ts/tsx loader option to vue-loader
![image](https://user-images.githubusercontent.com/17271745/35659070-3b7c7fde-073f-11e8-9570-093a8c77651f.png)
before that, i only set the ts/tsx loader but not in the vue-loader option and it work with muti file mode in vue project, like the script/style/templte section become with three files as xxx.ts/xxx.s

[2018-02-01 10:17] Roaders commented on #704
I can confirm that my issue is sorted when updating to `3.2.0` (and yes, it has taken this long to get that version available for use...)

[2018-02-01 15:14] rifler commented on #708
@johnnyreilly I open that link and see `"ts-loader": "^2.3.7",`

[2018-02-01 16:44] johnnyreilly commented on #708
Fair point - not sure what's happened there. Feel free to investigate and report back.

[2018-02-01 22:50] mikeyoon opened #718 "Compile never finishes with experimentalWatchAPI true"
With TS 2.7.1 and Loader 3.4.0, if I turn on the experimentalWatchAPI flag on my project, the build never finishes, or maybe it does, but I haven't waited long enough to find out. The node process is pegged at 100%. If I run `tsc -w` that runs as expected with fast incremental compilation. Also, if I turn the flag to false it runs as before as well.

This probably isn't enough info to go on, so do

[2018-02-01 23:20] wonderful-panda commented on #717
@vegawong

babel is necessary to transpile tsx with babel-plugin-transform-vue-jsx.
(So, *.ts does not need babel actually.)

[2018-02-02 12:56] johnnyreilly commented on #718
I'd hack some logs into the `makeWatchHost` functionality to get the info you need. If you could take a look I'd be super grateful!

I'm all taken up with webpack 4 at present

[2018-02-02 13:22] johnnyreilly commented on #718
Actually, just had a thought. Maybe you could test something for me: could you test with this build of TypeScript please?

`"^2.7.0-dev.20180120",`

This is what ts-loader watch API support was tested with. It's possible that something has changed subsequently as I haven't had time to add any tests to ts-loader for this yet. (Again webpack 4 taking up as lot of my time.)

Could you check and repor

[2018-02-02 14:36] johnnyreilly commented on #718
Also - I've only tested on Windows. Are you on Windows?

[2018-02-02 14:36] ConneXNL commented on #709
@johnnyreilly Is the new Weback 4 "sideEffects" supposed to work wtih typescript?

It seems that I can only get it to work with babel-loader, and not with ts-loader.

[2018-02-02 16:13] johnnyreilly commented on #709
AFAIK there's nothing required for loaders to do. Let me know if you know otherwise.

[2018-02-02 18:45] johnnyreilly commented on #718
This worked for me: https://github.com/johnnyreilly/typescript-ts-loader-watch-api-illustration

Does it for you? Do the versions of TypeScript used make a difference?

[2018-02-02 18:51] mikeyoon commented on #718
I'm running these builds on OSX, I'll check out your ideas.

[2018-02-02 19:03] mikeyoon commented on #718
Using `"^2.7.0-dev.20180120"` didn't make a difference, but the illustration repo worked fine for me. Maybe needs a larger repo to reproduce.

[2018-02-03 06:59] johnnyreilly commented on #718
If you change the `logLevel` to 'info' do you get any useful information?  This line suggests it should give us some ouput:

https://github.com/TypeStrong/ts-loader/blob/5f60800f8ec94f3b495b5028757e5f078b80ebab/src/servicesHost.ts#L190

[2018-02-05 18:40] mikeyoon commented on #718
Unfortunately, that doesn't produce anything useful, only says what version of typescript is being used.

[2018-02-05 21:21] johnnyreilly commented on #718
Disappointing. If you could take a look at this I'd greatly appreciate it - still very focused on webpack 4 right now. @sheetalkamat any ideas that you could share?

[2018-02-05 23:02] sheetalkamat commented on #718
@mikeyoon  is it possible for you to share your repro code, I might be able to debug little bit of that to see if we can find something there

[2018-02-06 01:36] mikeyoon commented on #718
@sheetalkamat It'll be in our private codebase, but we're definitely open to sharing the relevant app  with a mutual-NDA. Do you have one that you can send us? We have one we can send as well if that's easier.

[2018-02-06 07:28] johnnyreilly commented on #718
If there's anything I can do to assist then let me know guys. Happy to help!

[2018-02-06 17:31] LinusU opened #719 "Consider overriding `noEmit` to be true by default"
I have put `noEmit: true` in my `tsconfig.json` to prevent `tsc` from outputting `.js` files next to my `.ts` files. Otherwise, I get these files scattered across my project whenever I run my tests, or save a file in my IDE. Since I'm using webpack to bundle my files, I simply don't want `tsc` to emit files.

However, this setting breaks ts-loader since it doesn't receive any output. I think it wo

[2018-02-06 17:47] LinusU commented on #161
Opened an issue for changing the default: #719

[2018-02-06 18:47] johnnyreilly commented on #719
Hi @LinusU

We're unlikely to take this change as we intentionally want ts-loader behaviour to be as similar to tsc as is sensible. Reasons: we want moving to using ts-loader and moving away from using ts-loader to be an uncomplicated experience. It sounds like your setup is somewhat custom though. Personally I use ts-loader for my tests as well as the app. I'd suggest that's the standard approach

[2018-02-06 18:47] #719 closed

[2018-02-06 21:24] LinusU commented on #719
I would like to know how other people have this setup though 🤔

It seems like Atom with the TypeScript plugin installed by default runs `tsc` when you save a file, and I believe that ts-lint also runs `tsc`.

I had to add `noEmit: true` since my colleague's computer started creating a lot of `.js` files 🤔

[2018-02-06 21:59] johnnyreilly commented on #719
This may be true - I think you can set a `compileOnSave` property in your `tsconfig.json` which will disable this

[2018-02-06 22:00] johnnyreilly commented on #719
https://atom.io/packages/atom-typescript

[2018-02-07 10:57] LinusU commented on #719
Hmm, yeah that's probably it! Thanks.

My next problem is that in some projects I run `tsc` simply to validate all of the source code without building it. I guess that could be solved by adding `--noEmit` to the call though.

Still, would really prefer if this was the default for this lib, since it can't function without it...

[2018-02-07 17:08] sheetalkamat commented on #718
@mikeyoon can you please send it at shkamat@microsoft.com

[2018-02-07 20:46] onigoetz commented on #691
Closing now that this was merged in #721

[2018-02-07 20:46] #691 closed

[2018-02-09 16:21] GenZodd opened #722 "Lazy loaded modules not working with HappyPack and ts-loader"
I have converted my angular (v4) webpack (v3) over to use HappyPack and TS-loader

However, I have gotten things to build and the initial module loads up just fine but there are no lazy loaded module chunks downloaded and when I click on a link that uses a lazy loaded module I get an error about the module could not be found. Here is some of my code. Any ideas on how I set this up for lazy loaded

[2018-02-12 09:21] Rolandisimo opened #723 "Can't require any plugin in webpack with ts-loader"
### Expected Behaviour
I can add plugins to webpack.config.js
### Actual Behaviour
Any plugin that I require spawns issues such as:
`Module not found: Error: Can't resolve 'child_process'`
`Module not found: Error: Can't resolve 'fs'`

### Steps to Reproduce the Problem

#### webpack.config.js
[code]

#### tsconfig.json
[code]

#### defs.d.ts
[code]

I have absolutely no clue what is wrong to what

[2018-02-12 12:52] johnnyreilly commented on #723
Hey I don't think this is an issue - could be worth referring to one of our examples that uses plugins for a guide:

https://github.com/TypeStrong/ts-loader/tree/master/examples/core-js

[2018-02-12 12:52] #723 closed

[2018-02-15 17:08] Falieson opened #724 "Can't resolve express (many modules) in server.ts"
### Errors
[code]

### Webpack config (happypack removed)
[code]

### Location of a Minimal Repository that Demonstrates the Issue.
https://github.com/Falieson/graphql-login/tree/typescript

[2018-02-16 09:18] Lazarencjusz commented on #108
Unfortunately, in my case, when I want to use `thread-loader` or `happypack` the `webpack-fail-plugin` not works.

[2018-02-16 15:26] Rolandisimo commented on #723
Oh heavens, you saved me. Thanks a bunch! 😄 🎊

[2018-02-16 15:29] johnnyreilly commented on #723
Happy to help!

[2018-02-20 14:05] stormpat commented on #639
I have a .d.ts file that has some extra props added to the window object.

[code]

Im using VSCode and get no errors in the IDE. But when compiling with ts-loader i get errors:

[code]

So it seems like no .d.ts files are loaded when ts-loader is bundling?

[2018-02-20 16:30] kscott5 commented on #639
@stormpat  The Window class is a built-in object. I wasn't aware it could be overridden. However, the document suggest creating individual modules/namespaces. This eliminate vendor naming conflicts. I think TypeScript provides inheritance hierarchy too. Review the documentation.

[2018-02-21 10:33] juunp commented on #596
I have the same error in an angularJS project. Did you find any solution?
Using awesome-typescript-loader instead of ts-loader doesn't raise the errors FYI.

[2018-02-21 15:23] aappddeevv opened #725 "ts-loader ignores traceResolution in tsconfig.json and webpack config"
### Expected Behaviour
traceResolution: true would output resolution traces during a webpack build.

### Actual Behaviour
No output from trace resolution

### Steps to Reproduce the Problem
Set traceResolution to true in either tsconfig and your webpack config, or either location.

[2018-02-21 15:24] aappddeevv commented on #725
Oh, I just found the other issue around this...my search did not turn it up...this can be closed.

[2018-02-21 15:24] #725 closed

[2018-02-22 06:12] johnnyreilly commented on #724
I'm not sure whether this is an issue with ts-loader or not.  I know I've happily built react applications with SSR which seem very similar to what you're attempting.  Take a look at this for a reference:

https://github.com/johnnyreilly/reactspike

[2018-02-22 06:14] johnnyreilly commented on #717
Closing as seems to be resolved

[2018-02-22 06:14] #717 closed

[2018-02-22 15:16] aristotll commented on #505
So how to solve this problem? I have similar errors and the entry file is a typescript file.

[2018-02-23 15:26] Falieson commented on #724
Thanks

[2018-02-23 15:26] #724 closed

[2018-02-25 07:17] TomasHubelbauer opened #726 "Cannot read property 'ts' of undefined"
### Expected Behaviour

Everything works.

### Actual Behaviour

When running `webpack-cli` I get:

[code]

### Steps to Reproduce the Problem

(I am using WebPack 4.)

`package.json`:

[code]

`src/index.ts`:

[code]

`webpack.config.js`:

[code]

`webpack-cli` at this point will lead to the described error.

The relevant location in `ts-loader\dist\index.js:71:44`:

[code]

It's the `var configF

[2018-02-25 08:08] johnnyreilly commented on #726
Try using ts-loader 4.0.0 (only just released) https://github.com/TypeStrong/ts-loader/releases/tag/v4.0.0

[2018-02-25 08:08] #726 closed

[2018-02-26 05:14] NN--- opened #728 "Got errors while compiling typescript using webpack 4.0 via gulp"
Compilation with webpack 3 works well, but upgrading to webpack 4 produces following errors.
ts-loader is upgraded to 4.0.0.

Error: test.ts
Module build failed: TypeError: Cannot read property 'afterCompile' of undefined
    at successfulTypeScriptInstance (node_modules\ts-loader\dist\instances.js:147:28)
    at Object.getTypeScriptInstance (node_modules\ts-loader\dist\instances.js:48:12)
    at

[2018-02-26 05:28] johnnyreilly commented on #728
I'm afraid there's no real information there that helps me to help you!

It could be worth you taking a look at one of the examples that I've ported to webpack 4: https://github.com/TypeStrong/ts-loader/tree/master/examples/vanilla

[2018-02-26 05:33] NN--- commented on #728
I upgraded all packages.
It could be gulp webpack that makes problem.
Do you have sample with gulp ?

[2018-02-26 05:37] johnnyreilly commented on #728
I don't, no.  TBH it's only one day since the release.  It may be the maintainer hasn't had chance to release yet

[2018-02-26 05:37] NN--- commented on #728
I found this https://github.com/shama/webpack-stream/issues/180
Hopefully it will be soon resolved.

[2018-02-26 05:37] #728 closed

[2018-02-26 10:52] JamesLF opened #729 "Module build failed: TypeError: Cannot read property 'afterCompile' of undefined"
I've just installed this module to use with Laravel's Mix that uses Webpack under the covers. Followed guide for setup here: https://sebastiandedeyne.com/posts/2017/typescript-with-laravel-mix

I'm getting a similar error to:
#728

Module build failed: TypeError: Cannot read property 'afterCompile' of undefined
    at successfulTypeScriptInstance (/.../node_modules/ts-loader/dist/instances.js:147:

[2018-02-26 11:08] johnnyreilly commented on #729
It sounds like one of the things in the mix isn't webpack 4...  I'll leave this open for now but I suspect this isn't a ts-loader issue.

[2018-02-26 11:27] JamesLF commented on #729
Tested switching from manual configuration to simpler built-in ts support in Mix support. webpack.mix.js now looks like this:

[code]

I also stripped down admin.ts to just:
[code]
to make sure there wasn't any actual errors for it to run in to. But still nothing.

[2018-02-26 18:29] johnnyreilly commented on #729
Whenever you see `Cannot read property 'afterCompile' of undefined` it probably means ts-loader is dealing with webpack 3 not webpack 4.

[2018-02-26 18:31] johnnyreilly commented on #729
Maybe install ts-loader 3.5.0 if you're not using webpack 4?

[2018-02-26 18:40] johnnyreilly commented on #729
Maybe install ts-loader 3.5.0 if you're not using webpack 4?

[2018-02-27 10:56] gkawin opened #730 "Storybook read config file in the .ts file extension?"
### Expected Behaviour
- I expected the storybook to be able to read the `config.ts` and also `webpack.config.ts` in the `.storybook` folder.
### Actual Behaviour

### Steps to Reproduce the Problem
- I use transpile those `.ts` files to `.js` file and after that trigger the storybook process.

### Location of a Minimal Repository that Demonstrates the Issue.
- I could be required the storybook to

[2018-02-27 11:36] Rokt33r opened #731 "HMR only works at the first time."
https://github.com/webpack/webpack/issues/6592

### Expected Behaviour

It should not refresh the page.

### Actual Behaviour

![webpack-hmr](https://user-images.githubusercontent.com/5865853/36713942-49af5f2e-1bd3-11e8-8419-7026b327a454.gif)

HMR only works at the first time. Later on, it keep refreshing the page on every changes.

### Steps to Reproduce the Problem

https://github.com/Rokt33r/ts

[2018-02-27 13:31] johnnyreilly commented on #730
Hey @gkawin

I'm afraid I've never used storybook and so can't advise. FWIW I use js files for my config; not ts.

[2018-02-27 13:43] johnnyreilly commented on #731
Hey @Rokt33r,

If I was you I'd take a look at one of our examples: https://github.com/TypeStrong/ts-loader/tree/master/examples/react-hot-boilerplate

Essentially you probably want to use `transpileOnly: true` in concert with the [fork-ts-checker-webpack-plugin](https://github.com/Realytics/fork-ts-checker-webpack-plugin).

[2018-02-27 13:43] #731 closed

[2018-02-27 14:36] apfelbox opened #732 "Still getting issue "TS18003: No inputs were found in config file 'tsconfig.json'""
Hi,

I am currently building a more-or-less zero config bundler for our company's internal usage.
For this I want to add TypeScript support using `ts-loader` **without** needing any of our dozens of projects to add a `tsconfig.json`.

### Expected Behaviour
It should just work, as there is an option in the plugin to set a custom path for the `tsconfig.json`.

### Actual Behaviour
It doesn't work a

[2018-02-27 14:36] apfelbox commented on #732
Please note: moving the `tsconfig.json` back to the top level (= a parent directory of the `*.ts` files) and letting it get autodiscovered works however.

[2018-02-27 16:28] johnnyreilly commented on #732
Does this context option help? https://github.com/TypeStrong/ts-loader/blob/master/README.md#context-string-defaultundefined

If not and you'd like to investigate this I'd appreciate that; I don't have much time to spare right now

[2018-02-27 16:59] JamesLF commented on #729
Can confirm it was a versioning issue. Laravel Mix is presently still on older version of webpack at time of writing. TypeScript compiler was able to run once I swapped out for the 3.5.0 version of ts-loader.

[2018-02-27 16:59] #729 closed

[2018-02-27 18:10] jorgematheus commented on #25
nice :D

[2018-02-27 19:39] johnnyreilly commented on #729
Thanks for confirming!

[2018-02-28 03:34] theironcook commented on #635
I'm trying to do the same thing.  I have 2 different TypeScript configurations.  One for client and one for server (NodeJS).

rules: [
      {
        test: /\.ts?$/,
        use: 'ts-loader',
        exclude: /node_modules/,
        options: {
          configFile: 'tsconfig.client.json'
        }
      }

Unfortunately I get an error.  It seems like the docs state that we should be able to overr

[2018-02-28 03:42] theironcook commented on #732
Just tried to use the context option you described like this

`{
        test: /\.ts?$/,
        use: 'ts-loader',
        exclude: /node_modules/,
        options: {
          context: __dirname,
          configFile: 'tsconfig.client.json'
        }
      }`

Got the same error :(

Error: options/query provided without loader (use loader + options) in {
  "test": {},
  "use": "ts-loader",
  "exc

[2018-02-28 06:09] johnnyreilly commented on #732
@christiantinauer do you have any inights? I seem to recall you were trying to solve a similar problem with `context`?

[2018-02-28 06:55] apfelbox commented on #732
@johnnyreilly it actually worked using context, thank you! I was already desparate, as nothing seemed to work. Thank you very much for the fast answer!
I will send a PR though, to suggest an improvement in the docs.

@theironcook I think you have an other issue, I think you are using invalid babel loader syntax.
There are two variations (there are actually more, but two that matter):

1. with a si

[2018-02-28 08:31] christiantinauer commented on #732
@apfelbox happy that the option solves your problem. How can the docs be improved?

[2018-02-28 08:32] apfelbox commented on #732
I would add a note here, that you may need to set the `context` option, if the `configFile` is outside your project (root).

![2018-02-28 at 09 31](https://user-images.githubusercontent.com/1032411/36777580-4a0b7178-1c6a-11e8-8b8b-ab9f3757ff7e.png)

What do you think?

[2018-02-28 10:50] christiantinauer commented on #732
That is a good idea as I think there will be others who try to change the path to an outside tsconfig file and will run into the same problems.

I guess @johnnyreilly  will be happy to accept a pull request from you.

[2018-02-28 11:07] apfelbox commented on #732
I will close this issue, as we now have an open PR to keep the discussion going in #733

[2018-02-28 11:07] #732 closed

[2018-03-01 11:37] Domvel opened #735 "How to compile in ES3? (keyword issue)"
I've a problem with the generated bundle.js. I use this on a device with embedded linux which has a very old javascript engine. Something between ES3 and ES5. The core issue is that this engine has a problem with keywords as variables or property names.
For exampe the expression in line 31 of bundle.js `return e.default` is not allowed. Because default is a keyword. The js engine can't parse this.

[2018-03-01 15:05] ConneXNL commented on #730
Also just ran into this issue. However, I think this is a problem of storybook not ts-loader.

[2018-03-01 18:43] johnnyreilly commented on #735
Use `tsconfig.json` and `"target": "es3"` - should be fine!

[2018-03-01 18:43] #735 closed

[2018-03-02 01:43] MLoughry opened #736 "experimentalWatchApi is broken in 4.0"
### Expected Behaviour
`ts-loader` executes without crashing while `experimentalWatchApi` flag is set.

### Actual Behaviour
[code]

### Steps to Reproduce the Problem
Enable `experimentalWatchApi`.

The issue appears to be [here](https://github.com/TypeStrong/ts-loader/blob/8b07efbb45a1b77f66839c19ace8a081355ec771/src/servicesHost.ts#L199), and repeated in the following few lines:
[code]

The par

[2018-03-02 08:26] Domvel commented on #735
The `target` value of `tsconfig.json` does not change the output file. I tried `es3` and `es6`.The files are identically.

[2018-03-02 12:36] johnnyreilly commented on #735
Do you want to show me your repo? Maybe that will help

[2018-03-02 12:43] ConneXNL commented on #709
@johnnyreilly It seems you have to pipe it through babel in order for it to tree-shake. I am using the following webpack configuration for the prod env:

[{

    // We are piping trough babel to get Webpack 4 Tree Shaking support with { 'sideEffects' : false }
    loader: 'babel-loader'
}, {
    loader: 'ts-loader',
    options: ({
        transpileOnly: true,

        // Since we are piping troug

[2018-03-02 13:15] cecilemuller commented on #709
Webpack does the tree shaking, not Babel. Babel merely doesn't interfer with the import/export statements.

[2018-03-02 13:27] Domvel commented on #735
[Here](https://github.com/Domvel/ts-webpack-template)

[2018-03-02 14:02] ConneXNL commented on #709
@cecilemuller I guess in the context of es5 exporting.

[2018-03-02 15:01] #709 closed

[2018-03-02 16:28] cime commented on #213
*tsconfig-paths-webpack-plugin* is not working with Webpack 4 yet...
A simple temporary solution based on @Jameskmonger post above:

    const tsConfig = require("./tsconfig.json");
    const alias = {};
    for (let key of Object.keys(tsConfig.compilerOptions.paths)) {
        alias[key.replace(/\/\*$/, "")] = path.resolve(__dirname, tsConfig.compilerOptions.paths[key][0].replace(/[\/]\*$/, ""));

[2018-03-02 21:55] MartinsThiago commented on #696
Understood, I am going to file this issue there

[2018-03-02 21:55] #696 closed

[2018-03-02 22:03] #736 closed

[2018-03-04 10:05] jonaskello commented on #213
@cime Could you please report the problems you are experiencing with tsconfig-paths-webpack-plugin in [this issue](https://github.com/dividab/tsconfig-paths-webpack-plugin/issues/9#issuecomment-370215576).

[2018-03-04 21:17] dkfiresky commented on #729
Got same issue.
[code]

[code]

[2018-03-05 04:54] gkawin commented on #730
Apologize for all of you guys, I just realize this issue not involving the ts-loader. BTW, Thank you for reference this issue to storybook's repository. Cheers.

[2018-03-05 04:54] #730 closed

[2018-03-05 13:55] Domvel commented on #735
Of course, the `module` type in `compilerOptions` have to change. I check this out.

[2018-03-08 18:39] alteredtastes opened #739 "getCustomTransformers not called with happypack"
### Expected Behaviour

getCustomTransformers function is called during build when used with happypack

### Actual Behaviour

getCustomTransformers is not called.

### Steps to Reproduce the Problem

https://github.com/Igorbek/typescript-plugin-styled-components/issues/6#issue-303387183

### Location of a Minimal Repository that Demonstrates the Issue.

I believe link and discussion above provide

[2018-03-08 19:31] johnnyreilly commented on #739
Thanks for the informative issue - that's super helpful!

If you'd like to have a crack at implementing a similar approach as mentioned by @igorbek I'd be happy to take a look at your PR. Don't worry about tests failing etc - just get something in place and I'll gladly help you from there. 🌻

[2018-03-09 18:52] an5rag commented on #729
Saved me from endlessly trying different options - thanks @johnnyreilly!

[2018-03-10 06:11] liu2080019 commented on #729
@johnnyreilly   thank u````

[2018-03-10 10:32] johnnyreilly commented on #729
My pleasure!

[2018-03-10 19:55] shudson250 commented on #722
Am experiencing same issue when upgrading from ts-loader@3.2.0 to ts-loader@4.0.1

webpack config:
`...
{
  test: /\.(ts|tsx)$/,
  include: paths.appSrc,
  use: [
    { loader: 'cache-loader' },
    {
      loader: 'thread-loader',
      options: {
        workers: require('os').cpus().length - 1,
      },
    },
    {
      loader: 'ts-loader',
      options: { happyPackMode: true }
    },
  ]
},

[2018-03-10 20:25] johnnyreilly commented on #722
AFAIK this is happypack related - not a ts-loader issue. it might be worth raising an issue against happypack

[2018-03-12 21:05] v6 commented on #726
Tried upgrading ts-loader to 4.0.0, to no avail

[2018-03-12 21:07] v6 commented on #726
[code]

[2018-03-12 21:26] johnnyreilly commented on #726
Take a look at one of our examples perhaps

[2018-03-13 02:06] v6 commented on #726
Downgrading to v2 worked for me, perhaps because the code I'm working with was made a while ago

[2018-03-13 06:45] johnnyreilly commented on #726
If you're using `ts` to configure ts-loader you should stop using that and switch to options. It's the webpack way

[2018-03-13 11:55] westacotta opened #740 "Webpack error when using declaration file string constants"
### Expected Behaviour
in a .d.ts file to have a definition such as
declare module 'molecular/molecular' {
	export const LoggerService = "Logger";
}
(cut down for brevity)

and be able to reference the LoggerService const.
e.g.
import * as Molecular from 'molecular/molecular';
...
resolveService<Molecular.Logger>(Molecular.LoggerService)

### Actual Behaviour

I get a webpack error like so
Module

[2018-03-14 08:47] Legends opened #741 "Sourcemaps always generated inline"
**Webpack 3.1.1
ts-loader 3.5.0**

I want the sourcemaps to be generated separately in my dist folder, not inline.
Inline is bad, because when I want to to check my bundle.js under sources tab the browse starts to hang, because the file is too big I guess.

I tried different `devtool` settings but the result is always the same, sourcemaps are generated `inline`!

**webpack.config.js**
 devtool:"no

[2018-03-14 14:08] PetrShypila opened #742 "Webpack 4 fails with "Module parse failed: Unexpected token""
I saw similar issues here before but none of them solved my problem.

If I run:
`npx webpack --config webpack.config.agent.js`

I receive long list of errors similar to this one:
[code]

I use:
[code]

Here is my `webpack.config.js` file:
[code]

And here is my `tsconfig.js` file:

[code]

As you might see above I transpile everything into ES5 so from my knowledge Babel is not needed here. Might t

[2018-03-14 14:10] johnnyreilly commented on #741
I think this is a webpack issue - not a ts-loader one. Closing as nothing to do I believe.

[2018-03-14 14:10] #741 closed

[2018-03-14 14:15] johnnyreilly commented on #742
I'm not sure what the problem you're facing is I'm afraid.  I'd advise looking at some of our examples: https://github.com/TypeStrong/ts-loader/tree/master/examples

Hopefully that will give a steer as to what needs to change.  BTW I don't think babel is required; you can just use typescript + core js in my own experience (that's how I roll)

See here: https://github.com/TypeStrong/ts-loader/tree/

[2018-03-14 15:39] PetrShypila commented on #742
Hey @johnnyreilly! Thanks for helping. In general, I try to move from gulp from webpack. And in gulp everything works fine.

Unfortunately, didn't find anything that differs from what I have. I am not sure if it's trustful but it seems like webpack does build some TS files which have `interface` and many other TS only features.

[code]

[2018-03-14 16:43] jonnyarnold opened #743 "js"
### Expected Behaviour

### Actual Behaviour

### Steps to Reproduce the Problem

### Location of a Minimal Repository that Demonstrates the Issue.

[2018-03-14 16:43] #743 closed

[2018-03-14 21:38] Mark083 opened #744 "ts-loader 4.0.1 throw error while packing with backpack, a webpack variant"
### The expected is after I type ```npm run build``` all works and give me the bundle inside my prd folder

### Instead I receive the following error :
[code]

### Steps to Reproduce the Problem
[code]

### StackOverflow Question
https://stackoverflow.com/q/49271246/9217154

[2018-03-15 02:34] vagusX commented on #739
same situation

[2018-03-15 05:29] johnnyreilly commented on #744
I suspect backpack isn't webpack 4 compliant. Closing as nothing to do I think.

[2018-03-15 05:29] #744 closed

[2018-03-15 09:36] PetrShypila commented on #742
Okay, so as always the problem is a lack of webpack knowledge. I included only `src/agent` dir for the `ts-loader` and as a result it couldn't build script outside that dir.

Was
[code]

Now
[code]

[2018-03-15 09:36] #742 closed

[2018-03-15 09:51] johnnyreilly commented on #742
Great! Thanks for sharing!

[2018-03-16 04:53] MLoughry opened #746 "Build is abysmally slow with experimentalWatchApi enabled"
### Expected Behaviour
`experimentalWatchApi` should, ideally, make dev builds faster

### Actual Behaviour
The initial build time is **_25-35x_** slower on my personal project when `experimentalWatchApi` is enabled, as compared to when no options are provided at all.

### Steps to Reproduce the Problem
Using `ts-loader@4.0.1`, enable the `experimentalWatchApi` option in your webpack config.

###

[2018-03-16 05:53] MLoughry commented on #746
@sheetalkamat, would you have any insight on the regression?

[2018-03-16 18:21] sheetalkamat commented on #746
Would need to add some logs and investigate to see whats causing this. Do you have repro project that I can look into.

[2018-03-16 18:27] MLoughry commented on #746
https://github.com/MLoughry/puzzle-safari-helper

[2018-03-16 19:43] sheetalkamat commented on #746
Could repro it on your project, Investigating...

[2018-03-17 02:30] Legends commented on #741
Yes, I was looking only at the source code, but the issue was hidden in my webpack command in package.json under scripts. There I got:

`webpack -d ....` , no matter how you configure webpack in your code, it will always generate the source-maps inline, because of the `-d` flag.

[2018-03-17 05:36] #746 closed

[2018-03-17 05:41] johnnyreilly commented on #741
Cool - just I'm clear: you're saying it was a config issue?

[2018-03-17 12:54] Legends commented on #741
Yeah, the issue was behind the screen after a very long day.... ;-)

[2018-03-17 13:15] johnnyreilly commented on #741
Yup. Been there!

[2018-03-19 18:34] baywet opened #748 "TypeError: Cannot set property 'tsLoaderFileVersion' of undefined"
### Expected Behaviour
Build to work when happypackmode is not set
### Actual Behaviour
Transpilation fails with following error message
[code]
### Steps to Reproduce the Problem
Have a project with webpack 3, ts-loader@latest, and happypackmode not set.
### Location of a Minimal Repository that Demonstrates the Issue.

[2018-03-21 14:44] marcofugaro opened #750 "No errors logged when using thread-loader"
### Expected Behaviour
<img width="534" alt="screen shot 2018-03-21 at 15 33 00" src="https://user-images.githubusercontent.com/7217420/37716210-3fe83bee-2d1e-11e8-9432-3f1962ff19cf.png">

### Actual Behaviour
<img width="349" alt="screen shot 2018-03-21 at 15 33 05" src="https://user-images.githubusercontent.com/7217420/37716234-4be607fa-2d1e-11e8-9f24-b692a866db84.png">

### Steps to Reproduce t

[2018-03-21 16:29] johnnyreilly commented on #750
Could be worth checking if this is a webpack 4 issue. Check out our example here: https://github.com/TypeStrong/ts-loader/tree/master/examples/thread-loader

It may help your config woes

[2018-03-22 14:54] hrgui commented on #748
Same here, I had to revert back to `v3.3.1` in order to get this resolved.

[2018-03-22 16:23] johnnyreilly commented on #748
Yep - ts-loader 4 supports webpack 4. If you're on webpack 3 then run with ts-loader 3.x. I'm going to leave this open for visibility for a while, but there is no issue with ts-loader.

[2018-03-22 16:36] baywet commented on #748
does this mean I should update this PR to also include a comprehensive error message? https://github.com/TypeStrong/ts-loader/pull/749

[2018-03-22 18:03] baywet commented on #748
well one way would be to read the version of the package.json of the webpack module (the one installed, not the package.json of the current project)
maybe there's something like that in the webpack api, but I don't know it well enough.
If you look at my PR, anything without the property I was adding defensive programming for it webpack <4 so maybe instead of version checking only a capability chec

[2018-03-22 18:36] johnnyreilly commented on #748
If there's a simple (non-hacky) way to reliably test the webpack version I'm open to adding a "your webpack version is not supported - use webpack 4 or and older version of ts-loader". Otherwise I think it's best left as is.

This was intentionally a breaking changes release and TBH people should take a look at release notes if they are hoping to make a major version bump. Not trying to be difficu

[2018-03-22 18:59] baywet commented on #748
agree 200% on the semver, I didn't do my homework properly before upgrading (lots of deps to upgrade).
I do believe however that's it's always better to have meaningful error messages.
Do you consider the "reading webpack's package.json version" option to be hacky?

[2018-03-22 21:12] johnnyreilly commented on #748
Uh.... It should work reliably. But it slightly gives me an icky feeling. Hmmmm. Not totally sure to be honest.

[2018-03-22 22:05] senyaak commented on #692
UPD. I figured out that ts-loader do not resolve this imports and the error will thrown form another resolver, dunno which one, but I think the ts-loader should resolve them :)

[2018-03-22 22:17] senyaak commented on #740
Just tested with webpack 3.11 it worksk, got no errors

[2018-03-24 01:15] univerio opened #751 "When transpileOnly is enabled, ts-loader leaves in re-exports of types, causing webpack 4 to warn about export not being found"
### Expected Behaviour

For a project like this:

[code]

[code]

[code]

Regardless of whether `transpileOnly` is enabled, the output for bar.ts should be (assuming module=ESNEXT):

[code]

### Actual Behaviour

The actual output is:

[code]

which causes webpack to complain:

[code]

When `transpileOnly` is off, the module is correctly emitted. This may very well be a compiler bug, but I'm not s

[2018-03-24 07:41] johnnyreilly commented on #751
I suspect this is a compiler issue yes. That said there may be good reason for it. I'd suggest asking a question on the Typescript project to confirm if this is expected behaviour or not. ts-loader is doing nothing special here; just hooking into the Typescript compiler API

[2018-03-25 20:08] skoruba opened #752 "IE 11 - Object doesn't support this property or method "includes" - example react-hot-boilerplate"
### Steps to Reproduce the Problem

After clone of the example `react-hot-boilerplate` - I get in IE 11 error message - `Object doesn't support this property or method "includes"`.

I have tried use the babel-polyfill like this:
[code]

But it doesn't work.

How can I fix this error?

[2018-03-26 02:58] univerio commented on #751
I think I understand it now. I think it has to do with the fact that `transpileOnly` uses `ts.transpileModule`, which is essentially equivalent to turning on `isolatedModules`. When compiling each module separately, the compiler does not have enough information to know whether an import is a type or not (see Microsoft/TypeScript#15231), so while it eliminates imports that are never used in a value

[2018-03-26 06:13] johnnyreilly commented on #751
Thanks for investigating and reporting back - super helpful! It might be worth inquiring against the webpack repo for such an option and linking back to this. I'm not aware of an option myself but that doesn't mean it doesn't exist!

[2018-03-26 09:54] davestevens commented on #726
I just ran into this problem, switching to webpack v3 resolved this issue.

[2018-03-26 10:26] vdsabev commented on #726
I also bumped into this issue with `webpack@4.2.0`, upgrading to `tsloader@4.1.0` resolved it.

One detail worth noting - a local package that I used in my web application via `npm link` included `ts-loader`. I thought I had installed 4.1.0, when in reality the package was in a different folder and was version 3.5.0. It took me a couple of hours to figure out I was looking in the wrong `node_modul

[2018-03-26 21:31] univerio commented on #751
Found the option:

[code]

Perhaps we can add it to the readme?

[2018-03-27 05:27] johnnyreilly commented on #751
Sure - send a PR!

[2018-03-28 15:54] marcofugaro commented on #750
Sorry, did not fully read the readme 😄
Turns out I had the `happyPack` mode disabled.

By the way do you suggest using the `cache-loader`? Does it really improve performances by a significant amount?

[2018-03-28 15:54] #750 closed

[2018-03-28 18:04] johnnyreilly commented on #750
If the project is BIG then yes. If not then not significantly.

[2018-03-28 18:05] marcofugaro commented on #750
That's what I was looking for, thank you!

[2018-03-29 23:20] boogie4eva commented on #729
Thanks @johnnyreilly This worked for me .

[2018-03-31 09:55] Legends opened #754 "--"
--

[2018-03-31 09:56] Legends commented on #754
delete..

[2018-03-31 09:56] #754 closed

[2018-03-31 16:40] farnoy commented on #493
@gnz00 Do you know what caused this? I'm having the same problem

[2018-04-02 07:44] mikeyoon commented on #718
With Webpack 4 and TS-Loader 4.1.0, this no longer seems to be happening to me.

[2018-04-02 07:44] #718 closed

[2018-04-02 22:08] Ciantic commented on #170
I'm quiet sure this can be closed.

[2018-04-02 22:08] #170 closed

[2018-04-03 07:04] bondom opened #755 "Why to use `babel-loader` with `ts-loader`?"
In your documentation you refer to this example: https://github.com/Microsoft/TypeScriptSamples/tree/master/react-flux-babel-karma

Webpack config contains `babel-loader` with `ts-loader` for `.tsx?` files.
Please explain why it is needed?
Why `ts-loader` isn't enough?

[2018-04-03 07:29] johnnyreilly commented on #755
It isn't needed. It is just used in that example.

Here's an example without: https://github.com/TypeStrong/ts-loader/tree/master/examples/core-js

[2018-04-03 07:29] #755 closed

[2018-04-06 03:01] duffman commented on #213
Perhaps this tool I made could come in handy?
https://www.dropbox.com/s/dgzcg0wes92tzei/release-v1.zip?dl=0

[2018-04-06 03:04] duffman commented on #213
Maybe this tool I made for resolving paths might be handy (to someone)?
https://www.npmjs.com/package/tspath

[2018-04-06 08:47] sakalys commented on #729
For those coming from angular 5+ world. This means that you must install `ts-loader` v3.x if `ng -v` says that webpack version is `3.x`.

[2018-04-07 17:25] mnquintana opened #757 "Graduating experimentalWatchApi from experiment to default"
👋 After reading up on https://github.com/TypeStrong/ts-loader/pull/685 and some related issues that had cropped up over the course of testing, I wanted to ask:
- What would it take to graduate `experimentalWatchApi` from an experimental API to the default watch behavior for `ts-loader`?
- Are there any lingering known issues with it? (I didn't find anything from a cursory search.)

[2018-04-08 07:38] johnnyreilly commented on #757
I'd be interested in the feedback of Vue users using the `experimentalWatchApi: true` option in their `ts-loader` options.  Mostly the watch API seems to just work™️.  The main question mark is over how `appendSuffixTo` behaves with the watch API.  (This option is only used by Vue users AFAIK)

Running the tests [appendSuffixTo](https://github.com/TypeStrong/ts-loader/tree/master/test/comparison-t

[2018-04-08 22:00] genox opened #758 "Building in docker container failing / extremely slow"
Hi,

I'm trying to build an app with typescript in a docker container (for CI/CD) but the build (using webpack, babel, as per NextJS) never finishes and eventually exits when it hits timeout.

When I build the app (with prod env) locally, not inside the container, the build works fine and finishes after 15s. In a docker container (tried alpine and ubuntu), it hangs at 100% CPU, slowly filling memo

[2018-04-09 03:33] elado commented on #595
Just saw that error. Was because I had an older version of `loader-utils` installed, so upgraded it and the error went away.

[2018-04-09 05:07] johnnyreilly commented on #758
As far as I can tell, this is not a ts-loader issue and so I'm closing this issue.  I hope you get your issue sorted.  Please feel free to re-open if you identify a specific ts-loader problem

[2018-04-09 05:07] #758 closed

[2018-04-09 06:40] johnnyreilly commented on #758
You could up the log level to info: https://github.com/TypeStrong/ts-loader/blob/master/README.md#loglevel-string-defaultwarn

There's also a trace option you could try including

[2018-04-09 12:34] johnnyreilly commented on #758
Thanks for reporting back! It's always good to know where things get to :smile:

[2018-04-10 10:34] beheh commented on #757
We have a [relatively complex project](https://github.com/hearthsim/HSReplay.net) where the compile just hangs once I enable `experimentalWatchApi`.

I haven't got time to dig in right now, but can try and come up with a minimal case at some point. In the meantime, [here's  the `webpack.config.js`](https://github.com/HearthSim/HSReplay.net/blob/master/webpack.config.js).

[2018-04-10 11:04] johnnyreilly commented on #757
Thanks for reporting @beheh. If you could take some time to investigate that would be tremendous. cc @sheetalkamat (aka the person who put the hard graft in to adding this functionality to ts-loader :wink: )

Just for clarification: if we do make the switch to use the watch API by default we will have an option that allows switching back to the current mechanism just in case.

Besides anything els

[2018-04-10 11:36] CKGrafico commented on #757
Do we need webpack 4 for this?

[2018-04-11 17:43] FourwingsY commented on #751
@univerio Oh yes i got it. I've set `config.module.strictExportPresence = true` on webpack config. Thanks a lot!

[2018-04-13 01:26] orefalo commented on #190
Same issue in 4.2.0

[2018-04-13 02:50] kenotron commented on #757
We've experienced that stall as well if transpileonly is off. So that seeing isn't appropriate for production. For that we end up compile to JS and then bundle.

[2018-04-13 06:10] johnnyreilly commented on #757
@ckgrafico - basically yes. It was available with 3.5 but it contained a bug.

@kenotron that's a shame. It would be good if there was a reproduction for that. Is that possible?

[2018-04-13 08:44] CKGrafico commented on #757
We are not using webpack 4 yet on our projects, but I'll check when we find some time to migrate haha

[2018-04-13 11:53] johnnyreilly commented on #278
I get so many issues on this I'm wondering about enabling this behaviour behind an opt-in flag

[2018-04-15 01:52] NTARelix opened #761 "Hot Module Replacement Doesn't Work"
### Expected Behaviour
HMR should behave consistently with plain-old-js HMR (no `ts-loader`)

### Actual Behaviour
With HMR enabled and `ts-loader` used, HMR fails to recognize some changes as HMR, resulting in a full-page reload. Other times the HMR seems to succeed, but the replaced modules' values are not updated.

Also doesn't work in `awesome-typescript-loader`: [https://github.com/s-panferov

[2018-04-15 02:35] vyushin commented on #37
I have the same issue. Thanks for recommendation above! `declare` is a good vay to pass data from the webpack config. But now I don't want to write `declare` anywhere when I use defined variables. What if I will declare variables one time?

I have define plugin like this:
[code]
then I created `constants.ts` file:
[code]
Now I got the opportunity import defined variables everywhere.
[code]

I hope

[2018-04-15 14:32] johnnyreilly commented on #344
cc @mohsen1 - I'm sure you're past this now but see @andrewMuntyan in case you're not!

[2018-04-15 15:34] NTARelix commented on #761
Ah, that does it. Thanks!

[2018-04-15 15:34] #761 closed

[2018-04-15 15:49] NTARelix commented on #761
Although it's kind of unfortunate HMR doesn't work out of the box.

[2018-04-17 09:13] clement911 commented on #278
I'm in the same boat here. We have a shared module that is imported by our main module and we would like to import the ts files from the shared module.

[2018-04-17 11:00] johnnyreilly commented on #278
OK - if someone wants to put together a PR which enables this I'll happily take a look. Don't worry about fixing the tests; I can help with that.

[2018-04-17 14:58] chris-vest commented on #758
@genox Thanks for the fix on that, was having the same problem!

[2018-04-19 11:11] rguanghui commented on #505
https://github.com/Microsoft/TypeScript-Vue-Starter

@aristotll

[2018-04-19 18:17] johnnyreilly commented on #505
If someone would like to contribute a Vue example setup I'll happily add it to our collection of examples. It may help all those struggling folk. Though this may help: https://github.com/vuejs/vue-cli/issues/263

[2018-04-19 21:03] aj-r commented on #639
@johnnyreilly I think you're missing the point here... he's not trying to import a `.png` file here, he's trying to import a file called `png.d.ts`.

I'm having the same issue trying to import `global.d.ts`:

[code]

results in this output (even though `tsc` has no issue):

[code]

However using a triple-slash reference seems to work. Is that the expected way to include .d.ts files?

[code]

[2018-04-19 23:46] williamstein opened #763 "tsx files -- the very first example in the README seems wrong, which will frustrate new users (like me)."
### Expected Behaviour

Copy and paste the example configuration from README.md and have it work.

### Actual Behaviour

It works on .ts files, but fails on .tsx files.

### Steps to Reproduce the Problem

Copy and paste the configuration using webpack 4.

The fix I think is just to replace

[code]

by

[code]
which is basically what is later in the same README.md file.   This worked for me.   I'm

[2018-04-20 04:17] archonsunny opened #764 "Webpack overlay doesn't show with Async: true for ForkTsCheckerWebpackPlugin"
Is there anyway to get webpack overlay to show the type errors on the screen while keeping Async: true for ForkTsCheckerWebpackPlugin so that it doesn't slow down the builds?

If not, is there another alternative to showing the type errors on the screen? I've tried the notifier plugin, but that doesn't make it as apparent as the overlay for webpack.

[2018-04-20 04:51] johnnyreilly commented on #764
AFAIK there's no other way than the ones you've tried. I use the notifier plugin (which I wrote) as it's the fastest method. `async: false` is slower but more visual. That's what create-react-app uses (TS version). You could try writing a plugin based upon the notifier codebase that hooked into the html-webpack-plugin. Not sure if that would work but it might

[2018-04-20 04:51] #764 closed

[2018-04-20 04:55] johnnyreilly commented on #763
Hi @williamstein

You shouldn't actually need Babel in the mix at all.... Take a look at this example for reference:

https://github.com/TypeStrong/ts-loader/tree/master/examples/core-js

If our instructions are wrong then any docs PR improvement is welcome. Welcome to TypeScript - it's amazing!

[2018-04-20 04:55] #763 closed

[2018-04-20 05:05] johnnyreilly commented on #639
No. I suspect you need to explicitly include a reference to your `.d.ts` file in your `tsconfig.json`. Try that and report back

TSC and TypeScript have different behaviour when it comes to module resolution. I feel we could handle this better and I'm open to someone implementing something which results in a nicer experience. Whether that makes sense as a "now it just works" or in the form of a he

[2018-04-20 20:50] gpit2286 opened #765 "Promise.all assigning incorrect types."
See https://github.com/Microsoft/TypeScript/issues/18614

[2018-04-21 06:44] HeratPatel1 commented on #550
@johnnyreilly  - @types/redux is deprecated.

[2018-04-21 07:41] johnnyreilly commented on #765
Hi,

Could you share a minimal repro please? That will make it easier for people to help you....

[2018-04-23 02:42] luke-j commented on #637
Any update on this? TypeScript is not installed anywhere else on my system and it's not particularly obvious to me what could be causing this. Currently on `webpack@4.5.0`, `typescript@2.7.2` & `ts-loader@4.2.0` with node `8.11.0`.

[2018-04-23 04:45] johnnyreilly commented on #637
I'm afraid I don't have time to look at this myself right now. I'd hugely value someone else taking a look and reporting back.

[2018-04-23 07:41] SuperDJ opened #767 "Typescript emitted no output"
### Expected Behaviour
Get compiled js from ts

### Actual Behaviour
Getting the following error:

### Steps to Reproduce the Problem
Use `npm run dev` in the repository below. Or use the following config files:

Webpack:
[code]

Typescript:

[code]
Babel:
[code]

### Location of a Minimal Repository that Demonstrates the Issue.
https://github.com/SuperDJ/node-api

[2018-04-23 07:59] johnnyreilly commented on #767
I'm afraid I don't have time to look at your setup. However I'm fairly sure there isn't an issue with ts-loader. It might be worth comparing your setup with this: https://github.com/johnnyreilly/reactspike

This is a universal react app that uses webpack with node successfully. Hope that helps.

[2018-04-23 08:31] SuperDJ commented on #767
@johnnyreilly Could it also be related to a file that is being compiled? I mean the config has worked before but stopped working after I changed a file from `.js` to `.ts`. Specifically `server.ts`

[2018-04-25 18:33] xbtsw opened #768 "When dependencies are installed with pnpm, ts-loader behaves differently than tsc"
### Expected Behaviour
ts-loader should not report TS2305
### Actual Behaviour
ts-loader report TS2305 error
### Steps to Reproduce the Problem
1. clone https://github.com/xbtsw/typescript-pnpm
2. `npm i -g pnpm`
3. `pnpm install`
4. run `npm run tsc` and observe that the compilation success
5. run `npm start` and observe error

This happens to both Linux and Windows 10 host.
### Location of a Min

[2018-04-25 20:59] johnnyreilly commented on #768
Thanks for the detail! Wasn't there in one of the recent TypeScript releases about symlinks? I forget the details...

[2018-04-25 21:08] xbtsw commented on #768
@johnnyreilly Indeed, I read @zkochan mentioned that TypeScript resolved some issues on their end in order to get it working with `pnpm`, maybe he has more insight to those issues.

It will be great if we can get `ts-loader` working too, as almost all front-end projects using TypeScript will go thru `webpack` and `ts-loader`.

[2018-04-25 21:25] zkochan commented on #768
If I remember it correctly, the issue with typescript was that it was preserving symlinks when resolving typings in node_modules. This issue was present in `typescript@1`

[2018-04-25 22:27] pgonzal commented on #768
The main idea is simply calling `fs.realpathSync()` in the right places, to be consistent with how NodeJS resolves modules.  This was solved a long time ago in `typescript@2` by adding `realpathSync` to their OS abstraction and plumbing it through all the needed places.

[2018-04-25 22:52] xbtsw commented on #768
Thanks for the insight @zkochan and @pgonzal. The reasoning I have so far is that since `tsc` works while `ts-loader` doesn't. It should be the case that they setup the TypeScript compiler differently, the problem shouldn't be with the compiler itself, otherwise `tsc` would fail too.

I compared the compiler setup code in `ts-loader` and `tsc` but wasn't be able to get very far there.

[2018-04-26 04:43] johnnyreilly commented on #768
I'm guessing the change would just be switching `readFile` implementation in https://github.com/TypeStrong/ts-loader/blob/master/src/utils.ts to use `fs.realpathSync()` in some way? Why don't you fork and experiment?

Feel free to submit a WIP PR if you get somewhere. I'm totally happy to help with tests etc

[2018-04-26 09:29] xbtsw commented on #768
These info are very insightful. I am taking a look into it now. Thanks guys.

[2018-04-26 16:37] lavavrik opened #769 "transpileOnly and reflections"
Found an issue related to `happyPackMode`.
When I'm turning on `happyPackMode` and adding a `thread-loader` to my webpack configuration - reflection stop working properly.

Here is my webpack.js:
[code]

index.ts
[code]

So in this case I'm getting `__metadata(\"design:type\", Object)` in output, which is wrong (I believe).
Removing `happyPackMode` flag and `thread-loader` from configuration shows

[2018-04-28 22:30] whitecolor opened #770 "TS interfaces?"
### Expected Behaviour

I wonder why this module doesn't export any TS interfaces (LoaderOptions).

[code]

### Actual Behaviour

Just js code.

[2018-04-29 04:41] johnnyreilly commented on #770
Sorry you want `.d.ts` to be emitted too? What's the use case? I'm up for including them if there's a need

[2018-04-29 04:42] johnnyreilly commented on #770
Feel free to submit a PR

[2018-04-29 08:05] whitecolor commented on #770
I use TS webpack config, and some wrappers to configure loaders.

[2018-04-29 08:32] johnnyreilly commented on #770
Okay - myself I use js for my webpack config. I'm happy to support others with different flows though. Why don't you fork, have a play and submit a PR.

I'm guessing it's just a case of adding `declaration: true` to the `tsconfig.json`. let me know your findings

[2018-05-02 04:05] anymost commented on #596
The same problem I have to face, somebody has the way to solve it?

[2018-05-07 17:16] #768 closed

[2018-05-07 18:10] johnnyreilly commented on #768
Thanks for your work!  Released with https://github.com/TypeStrong/ts-loader/releases/tag/v4.3.0

[2018-05-09 15:51] yibuyisheng opened #775 "add peerDependecies"
### Expected Behaviour

Should display some warn messages when installed with a mismatched webpack.

### Actual Behaviour

Display nothing.

### Steps to Reproduce the Problem

[code]

### Location of a Minimal Repository that Demonstrates the Issue.

[2018-05-11 03:40] yibuyisheng commented on #775
I guess you have thought about the `peerDependencies` of `package.json`. Since the `webpack@4` was put into the `package.json`'s 'devDependencies' config, it means that the test codes runs well with `webpack@4`. So I want to know what the specific problem is while using `peerDependencies`.

[2018-05-11 04:59] johnnyreilly commented on #775
Can a package exist in `devDependencies` and `peerDependencies` at the same time?

[2018-05-11 06:16] yibuyisheng commented on #775
Yes. This is how [babel-preset-env](https://github.com/babel/babel/blob/master/packages/babel-preset-env/package.json#L54) does.

The function and behavior of `devDependencies` can be found [here](https://docs.npmjs.com/files/package.json#peerdependencies).

[2018-05-11 06:42] johnnyreilly commented on #775
Makes sense. Would you like to submit a PR?

[2018-05-11 14:14] ryanewtaylor opened #777 "Excessive stack depth compilation error compiling an app that is using yarn link to reference a module containing ImmutableJS"
### Tested With

* Windows 10
* Node@8.5.0
* Yarn@1.6.0
* ts-loader@4.3.0
* typescript@2.8.3
* immutable@3.8.2
* webpack@4.8.1

### Expected Behaviour
No compilation errors.

### Actual Behaviour

[code]

### Steps to Reproduce the Problem

1. Create a module (lib) exporting a function (makeWidget) returning a List<Widget>
1. yarn link the lib
1. Create an app compiled and bundled with Webpack + t

[2018-05-11 20:29] johnnyreilly commented on #777
I'm not certain this is an issue with ts-loader specifically...

[2018-05-12 12:35] crimx commented on #505
Adding `appendTsSuffixTo` to ts-loader options fixed my problem:

[code]

[2018-05-14 19:04] nihiluis opened #778 "Unable to expect some type arguments"
### Expected Behaviour
Respect my type arguments.
### Actual Behaviour
I use this
https://i.imgur.com/SFtMjoi.png
which is completely fine in VSCode and in ts-node. Now ts-loader gives me this on exactly that line

ERROR in /app/src/store/user/index.ts
./src/store/user/index.ts
[tsl] ERROR in /app/src/store/user/index.ts(108,46)
      TS2558: Expected 0 type arguments, but got 2.

furthermore I ge

[2018-05-16 01:18] ItWorksOnMyMachine opened #779 "transpileOnly doesn't respect tsconfig.json's target and only transpiles to es5"
### Expected Behaviour
The target JS level specified in the tsconfig.json file would be respected and the JS produced by the typescript transpiler would be es5, es6, etc.

### Actual Behaviour
The transpiler is always producing es5 level JS.

### Steps to Reproduce the Problem
1. Scaffold out a simple app and use es6 lambdas or the spread operator, etc.
2. specify es6 target in tsconfig.json
3. ru

[2018-05-16 04:28] johnnyreilly commented on #779
So I'm pretty sure this will be a configuration error.

I suggest you take a look at your `tsconfig.json`. We have a test that protects against this: https://github.com/TypeStrong/ts-loader/tree/master/test/comparison-tests/es6

[2018-05-16 12:32] ItWorksOnMyMachine commented on #779
It's definitely not a configuration issue, however, I have set up a different project and can't reproduce.  There is something else going on in my production product that is causing this.  I'm closing this issue.  Sorry for the confusion.

[2018-05-16 12:32] #779 closed

[2018-05-17 13:57] greenkeeper[bot] opened #780 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`
- The new Node.js version is in-range for the engines in 1 of your `package.json` files, so that was left alone

If you’re interested in upgrading this repo to Node.js 10

[2018-05-19 09:36] JohnPascololo commented on #660
Any progress on this matter? I would also like to see easy integration of webpack watchmode within vs code.

[2018-05-21 19:37] olee commented on #653
I am also experiencing this issue when I tried to use `autobind-decorator` on class methods for react components.
Those that use imported interfaces in their parameters start to throw these errors.
Are there any news on this?

[2018-05-21 19:49] RoystonS commented on #653
(I've not investigated further. Our team jumped ship to React as soon as FB changed the licence.)

[2018-05-22 21:18] thefliik commented on #544
I was running into this problem and in my case the issue was my workspace is a monorepo and the project experiencing problems had it's tsconfig named `tsconfig.app.json` and it was located in a subfolder. I had neglected to add the [`configFile` option](https://github.com/TypeStrong/ts-loader#configfile-string-defaulttsconfigjson) inside the project's webpack config file and so the tsconfig file w

[2018-05-24 17:10] gh67uyyghj opened #781 "I experience full page refresh instead of HMR upon modification"
Hi all, I use ts 2.8 with Webpack 4.8, I think I read the doc multiple times but I cannot get HMR working, I experience full page refresh instead of HMR upon modifying anything.

[code]
There is also one thing in the doc that I don't actually get:
`Inside your HMR acceptance callback function, you must re-require the module that was replaced`. What does that mean?

I appreciate any help

UPDATE: I

[2018-05-24 17:33] johnnyreilly commented on #781
So our example is out of date; there's been a new major version release since then. https://github.com/gaearon/react-hot-loader

Caveat: v4 of react-hot-loader requires Babel to be part of the pipeline. I'm not using it myself mainly because of that.

That said, if someone wants to update our example I'd appreciate it.

[2018-05-24 19:14] gh67uyyghj commented on #781
Thsnks @johnnyreilly for the quick response, however I still don't understand anything from your answer :D. Do you mean that react-hot-loader (I never heard of it tbh since I am coming from vue ad HMR was pretty straightforward) is a must to get HMR working?

[2018-05-24 19:33] johnnyreilly commented on #781
Honestly I don't know... I'm a React guy and didn't realize hmr was a thing in Vue... If anyone else knows do chime in!

[2018-05-29 08:27] gnaeus commented on #702
Any news on this? I have the same issue with `@fortawesome/react-fontawesome` NPM package.

[2018-05-31 12:33] MQuy opened #783 "Add typescript files into webpack fileDependencies in transpileOnly mode?"
I am not sure this is the right place to ask this question.  I will demonstrate with the example below

[code]

[code]

in my ts-loader config, if I don't enable `transpileOnly`, `demo.ts` file will be included in webpack fileDependencies (I assume it is from this part https://github.com/TypeStrong/ts-loader/blob/master/src/index.ts#L302), but if I enable `transpileOnly`, `demo.ts` won't be includ

[2018-05-31 15:29] johnnyreilly commented on #783
I'm pretty sure the answer is "no". I think you've already noticed but there's essentially 2 modes of operation for ts-loader. `transpileOnly` or not. `transpileOnly` doesn't register file dependencies. I'm not sure if it can anyway because of the exposed API it is using. Do feel free to have a play and report back!

[2018-05-31 21:35] MQuy commented on #783
thanks, I actually play around with ts-loader but cannot find a way to make it works :(

[2018-06-01 17:25] VisheshSingh opened #784 "error TS2307: Cannot find module 'crypto'."
### Expected Behaviour
I am trying to work on my angular project. I was able to run the command ng build --prod
but I am getting this weird TS error. `error TS2307: Cannot find module 'crypto'.`

This is what I am using
Angular CLI: 6.0.5
Node: 8.5.0
OS: win32 x64
Angular: 6.0.3
... animations, common, compiler, compiler-cli, core, forms
... http, language-service, platform-browser
... platform-br

[2018-06-01 17:37] #784 closed

[2018-06-04 14:49] gluons commented on #190
Same issue in 4.3.0

[2018-06-04 14:54] johnnyreilly commented on #190
Would someone like to supply a minimal repro repo and investigate this?

[2018-06-04 17:39] gluons commented on #190
@johnnyreilly OK. I've created it.

Here: https://github.com/gluons/ts-loader-declaration-issue

Should I raise new issue?

[2018-06-04 18:00] johnnyreilly commented on #190
Thanks - it's fine to use this issue! Now, let's see how dedicated you are...  Would you be up for doing some investigation?

To give you a heads up, here's the pr that fixed the issue last time: https://github.com/TypeStrong/ts-loader/pull/307/files

Looks like the important stuff was in the `ensureTypeScriptInstance` function in the `index.ts` file.

Of course that was a long time ago, the relev

[2018-06-05 00:27] manu-st opened #787 "Issue with TypeScript 2.9.1"
### Expected Behaviour
Code should include a require to run properly.

### Actual Behaviour
require is missing in generated code

### Steps to Reproduce the Problem
Not sure.

### Location of a Minimal Repository that Demonstrates the Issue.
I have a file and when I'm compiling using TypeScript 2.9 I get the following:

[code]

As you can see `ProcedureGraphOptions_1` is not included.

If I genera

[2018-06-05 04:55] johnnyreilly commented on #787
None at all I'm afraid; that seems super strange. What does the source code look like that generates this code? There's nothing changed in ts-loader that would seem relevant.

[2018-06-05 05:01] johnnyreilly commented on #787
It feels like this might be an issue with TypeScript rather than ts-loader - the code is generated by TSC and we just use what it pumps out. Could be worth sticking a `console.log` in the ts-loader codebase at the point where TypeScript emits the code and seeing if it's there at all with 2.9.1: https://github.com/TypeStrong/ts-loader/blob/master/src/index.ts#L71

That would be useful to know. Just

[2018-06-05 17:30] gluons commented on #190
I don't know which version that this problem begin.

How can I help you? Maybe I will help you when I'm free.

[2018-06-05 19:43] manu-st commented on #787
I'll have a look at it and report back.

[2018-06-05 21:27] arackaf commented on #787
I'm seeing a similar issue in our code base - an import is being dropped which is leading to a runtime error.

gulp-ts did not have the same problem - I'll run this with tsc and see what happens.

[2018-06-05 22:14] arackaf commented on #787
Update: the same bug appears with `awesome-typescript-loader`, so there does seem to be something about ts 2.9.1 that's causing webpack loaders to emit incorrect code.

[2018-06-05 22:45] arackaf commented on #787
I'm working on putting together a workaround, whereby I just tell ts-loader to run an older, working version of typescript (assuming you have the transpileOnly option already set, and are doing type checking in a different process, which I already am).  I *think* the `instance` config option might be for that, but the docs are non-existent for it.

I tried putting `instance: "folder"` where folder

[2018-06-06 03:35] manu-st commented on #787
@arackaf Using an old version of the TypeScript compiler might not be adequate if you want to use the latest language features. We just need to figure out why some require are missing.

[2018-06-06 05:11] johnnyreilly commented on #787
@arackaf thanks for sharing your code - that's helpful.  Also it's interesting to know that `awesome-typescript-loader` is experiencing the same issue.  This makes me think more than ever

Would one of you be able to give this a try please?

Assuming this is a TypeScript API issue it would be good to raise an issue with the TypeScript project to let them know? (I don't know if @DanielRosenwasser w

[2018-06-06 05:17] johnnyreilly commented on #787
As a complete aside @arackaf  (and I don't want to derail the issue) this made me curious.  Would be interested to know what the false positives were.  I'm still happily using the separate checker.   Obviously your mileage may vary etc but I am interested in issues.

[2018-06-06 10:50] Rahulkr204 commented on #748
Any fix for this ?
Running with following configuration :

"ts-loader": "^4.3.0",
"webpack": "^4.10.2",

[2018-06-06 12:15] asual commented on #190
Adding something like ```context: path.resolve("src")``` to the Webpack config is fixing this issue for me. Thanks @johnnyreilly!

[2018-06-06 14:14] arackaf commented on #787
@johnnyreilly Ok, I did what you said, and sure enough, the import (it's an ES6 import, not a require()) is indeed gone for the file in question, but **only** with `transpileOnly` set to true. Once I remove that, then the emitted source is correct, and has the import in it again.

I guess this dovetails nicely with the false positives you were asking about. Basically, ts-loader complains about a t

[2018-06-06 15:37] manu-st commented on #787
I confirm that I'm also using ts-loader with `transpileOnly` and we use `ForkTsCheckerWebpackPlugin` to perform the type checking as we found this to be faster.

[2018-06-06 15:55] manu-st commented on #787
I also confirm that dropping `transpileOnly` is causing the code to be generated properly. However this is not a solution for us since it takes 120s with this option disabled and around 45s when it is set to true.

[2018-06-06 16:20] arackaf commented on #787
The most expeditious band-aid / workaround would be to get that `instance` config property working. If we're only using ts-loader for `transpileOnly` then we could probably pipe it through a side install of ts 2.8 and still get the same output.  (while using our type checker as usual)

Does anyone have any info on how to do that???

[2018-06-06 17:04] johnnyreilly commented on #190
Thanks for sharing the workaround @gluons!

@jamesots

My advice: get something that seems to work for you. Ignore failing tests and submit a PR. I'll take a look and advise. If it's promising I'll try and help you get it over the finish line

[2018-06-06 17:14] johnnyreilly commented on #787
@arackaf

Thanks for investigating that's awesome. It sounds like there is a bug with the `transpileModule` API in TypeScript 2.9.1.  Please could you raise a ticket against the Typescript project and link back to this issue?

[2018-06-06 17:16] arackaf commented on #787
Will do!  I don't suppose you have any info on how to use the `instance` option?

[2018-06-06 17:54] johnnyreilly commented on #787
Thanks! Re: `instance`, does this config help? https://github.com/TypeStrong/ts-loader/blob/master/test/comparison-tests/instance/webpack.config.js

[2018-06-06 17:56] johnnyreilly commented on #787
Looks like the issue should be fixed in 2.9.2!

https://github.com/Microsoft/TypeScript/issues/24551

[2018-06-06 18:03] arackaf commented on #787
@johnnyreilly not too much, sadly.  What exactly does "different" mean?  What does it point to?

[2018-06-06 18:07] arackaf commented on #787
@DanielRosenwasser publish it pleeeeeeease?????

[2018-06-06 18:12] johnnyreilly commented on #787
Nothing. It's an arbitrary label

[2018-06-06 18:13] arackaf commented on #787
But how do I relate that arbitrary label to a specific install of TypeScript?

[2018-06-06 18:27] arackaf commented on #787
Oddly enough, this bug is still in ts@next - I checked.  Glad to hear 2.9.2 is shipping at the end of the week.

[2018-06-06 18:28] arackaf commented on #787
@johnnyreilly also thanks a ton for the info on `instance` - glad to hear I'm not totally crazy :)

[2018-06-06 19:10] mhegazy commented on #787
`typescript@2.9.2` should be out next week. we have another set of issues to include as well.

but meanwhile can you verify that `typescript@next` addresses the issue?

[2018-06-06 20:09] johnnyreilly commented on #787
Thanks for that @mhegazy.  According to @arackaf the issue is still in `typescript@next` though:

Is the fix definitely in there?

[2018-06-06 20:31] mhegazy commented on #787
i tried with the sample @arackaf shared and that seemed to work for me on `typescript@next`. He also seemed to suggest that it was fixed on `@next` in https://github.com/Microsoft/TypeScript/issues/24729#issuecomment-395183002.

on any rate, if you are still running into issues with `typescript@next` can you share a repro?

[2018-06-06 20:33] johnnyreilly commented on #787
@arackaf could you advise @mhegazy if an issue remains with `typescript@next`?  Sounds like it's all resolved?

[2018-06-06 20:34] arackaf commented on #787
Nope - I was wrong.  webpack's cache-loader was tricking me :)

It's fixed in ts@next!

[2018-06-07 01:15] manu-st commented on #787
Just tried with ts@next (i.e. version "3.0.0-dev.20180606") and it doesn't work for me, I'm still getting the same error.

[2018-06-07 01:30] arackaf commented on #787
@manu-st are you running the cache-loader in your webpack config?  Be sure to delete that if you are.

[2018-06-07 04:19] manu-st commented on #787
No cache-loader in my config. I've alternated between 2.8.3 and the latest version of TypeScript and going back to 2.8.3 always work.

[2018-06-07 04:33] arackaf commented on #787
Disconcerting to say the least. I don't suppose this repo is publicly accessible anywhere, that you could point the TS team toward?

[2018-06-07 05:28] mhegazy commented on #787
Please share a sample where the import is elided. What we care about is how the import is defined and where it is used.

[2018-06-07 09:17] Hotell commented on #770
Heyo! I have the same problem.
I'm using awesome latest TS 2.9 for type checking js files and with that having type safe configs for webpack, jest etc. right now I have to write my own ambient type definitions for `interface LoaderOptions`

**webpack.config.js**
[code]

instead I would like to use definitions, which you already have in codebase, just need to be shipped as ambient types with your p

[2018-06-07 12:37] johnnyreilly commented on #770
So I think it's as simple as adding `declaration: true` to the `tsconfig.json`. Want to try and report back? If it's just that then pr with that change and we're done!

[2018-06-07 12:56] Hotell commented on #770
I'm on it

[2018-06-07 16:17] sethen commented on #726
Upgrading `ts-loader` to `4.3.1` fixed my issues with this very same problem.

[2018-06-07 17:37] manu-st commented on #787
In my case, the source code for which I showed the wrong generated code is

[code]

In that file, ProcedureGraphOptions is only used for the call to `super`.

[2018-06-07 17:46] johnnyreilly commented on #787
@manu-st would you be able to share a simple repo which illustrates this please. It's fairly possible that config may be an issue and without seeing a minimal repo it's hard for the Typescript team to help you. Help them, help you!

[2018-06-07 18:27] mhegazy commented on #787
The use in super is the original issue, but we believe that was fixed. Can u share more details?

[2018-06-07 19:55] arackaf commented on #787
@mhegazy - well I'll be ... my problem related to using the import only in super() as well.

@manu-st - I can't help but believe there may be some weird caching issue here.  Can you make certain that's not it by deleting every single output file before doing your rebuild?

[2018-06-08 04:38] manu-st commented on #787
I managed to reproduce it on a very simple project at https://github.com/manu-st/ts29issue.
Simply use `yarn install` and `yarn start`. It will start an instance of Electron with the dev tools open and you should see the error about Options_1 being undefined.

[2018-06-08 04:43] #770 closed

[2018-06-08 12:42] rjstires commented on #181
I know this is over a year old, but it's worth noting that in https://github.com/signumsoftware/southwind/commit/99d46978b9d64567cbf2a13a51c50e89f4ac2061 you also removed the type checking (https://github.com/signumsoftware/southwind/commit/99d46978b9d64567cbf2a13a51c50e89f4ac2061#diff-2767a1033c2d3c116b6ef7bc4a1007e7L67) which would result in a significant boost in (re)build speed.

[2018-06-10 23:43] JaceHensley opened #791 "Module parse failed: Unexpected token"
### Expected Behaviour
For the code to build correctly

### Actual Behaviour
I get this error

[code]

when running

[code]

### Steps to Reproduce the Problem

So I have a webpack setup like this:

<details>
<summary>webpack.common.ts</summary>

[code]
</details>

<details>
<summary>webpack.prod.ts</summary>

[code]
</details>

<details>
<summary>webpack.dev.ts</summary>

[code]
</details>

---

[2018-06-11 00:34] JaceHensley commented on #791
Okay I think I found the issue I was importing my common config file via `const common = require(...)` in my prod config which apparently isn't good? Closing this, sorry for the noise.

[2018-06-11 00:34] #791 closed

[2018-06-12 12:26] mbenadda opened #793 "Cannot compile with TS 2.9.1 & "resolveJsonModule""
### Expected Behaviour

TS 2.9 added a new option to allow JSON imports and get proper types doing so (without resorting to somewhat dirty workarounds using ambient definitions), with the `resolveJsonModule` compiler option.

It should compile as usual when using this new flag.

### Actual Behaviour

An error is thrown when running webpack with ts-loader:

[code]

### Steps to Reproduce the Proble

[2018-06-12 13:05] johnnyreilly commented on #793
Hey thanks for reporting and for the repro @mbenadda!

I'm afraid I'm snowed and so can't look at this right now.  But I'm happy to help you dig into this.  It looks like this is the code that's likely erroring: (compiled output of `after-compile.ts`)

[code]

Can you confirm if that is the case?  That `program` is `undefined` when it attempts to make that call with `resolveJsonModule` in play?

I

[2018-06-12 15:40] mbenadda commented on #793
Hey @johnnyreilly thanks for your help!

I'll try to investigate but I'm not familiar with the internal structure of `ts-loader` nor `typescript`; and `typescript` is not easy to explore as it seems to use a lot of globals, so I apologize if I stumble on things that seem obvious to you or others. That said:

This is exactly what is happening.

As far as I can see right now, no. It's only undefined

[2018-06-12 17:02] johnnyreilly commented on #793
Thanks for looking into this @mbenadda

This sounds like it could be worth investigating.  Be great to hear what comes out of the TS Gitter.  Although she's in no way obligated to assist, I know that @sheetalkamat has often been really helpful around this area.

Related to that, it could be worth checking out other projects that hook into TypeScript. in the same way that `ts-loader` does.  If they

[2018-06-12 17:18] johnnyreilly commented on #793
I've just given your question a bump - hopefully that'll help!

[2018-06-13 04:55] johnnyreilly commented on #793
Thanks @timocov! I was wondering: with `resolveJsonModule` in play, does `languageService!.getCompilerOptionsDiagnostics()` throw for *every* file? Or just `json` files?

It's worth bearing in mind that for each file in the program this code will likely be run. I'm interested as to whether it *always* fails regardless of file type when `resolveJsonModule` is `true`, or whether it's just `json` fil

[2018-06-13 05:30] johnnyreilly opened #794 "ts-loader moving to webpack-contrib"
Hey everybody!

I had the good fortune to meet up with @thelarkinn during his recent European travels. One of the things we discussed was the possibility of moving ts-loader from the TypeStrong organisation to the [webpack-contrib organisation](https://github.com/webpack-contrib). webpack-contrib describes itself as "community supported 3rd party packages for webpack".

I'd like to move the projec

[2018-06-13 11:15] emmiep commented on #702
For me it actually checks the `dist` directory as well, so I get errors about WebPack's output code.

[2018-06-13 12:00] blakeembrey commented on #794
Very cool. Please go for it! :+1:

[2018-06-13 15:18] Themesfinity commented on #794
This is absolutely a great move.

[2018-06-13 17:01] mbenadda commented on #793
I think I may have located the problem.

`".json"` is not in the list of supported extensions here: https://github.com/Microsoft/TypeScript/blob/master/src/parser/utilities.ts#L7805

Which causes that check to fail when trying to process a `*.json` file: https://github.com/Microsoft/TypeScript/blob/master/src/parser/utilities.ts#L7979

---

I'm not exactly sure why `tsc` does not choke on this. My

[2018-06-13 17:54] johnnyreilly commented on #793
Well done for investigating @mbenadda! I'm on a phone right now and so clicking on the code links is proving challenging...

One thing that strikes me is that when I look here:  https://github.com/Microsoft/TypeScript/blob/master/src/parser/utilities.ts#L7805 I see `json` listed:

[code]

It's possible I've misunderstood you though. Phone and all that.

This is by far and away the most interesting

[2018-06-13 18:16] mbenadda commented on #793
As far as I can see, the part I linked is not checking script kinds, just getting file extensions directly during module name resolution. As part of getting the extensions, it checks they're in the allowed lists of extensions.

I really appreciate your help and availability on this! I will create an issue on there and hopefully we've gathered enough info to get some help from someone there!

[2018-06-13 19:05] johnnyreilly commented on #793
Great! Go you!

[2018-06-13 19:54] mhegazy commented on #787
`typescript@2.9.2` is available now, and should include the fixes for both repros in this thread.

[2018-06-13 21:35] emilio-martinez commented on #794
I think this would be an awesome move for the project. 👏👏👏

[2018-06-14 16:22] kyasbal-1994 opened #795 "ts-loader can raise incomprehensible exception when typescript module was not installed"
### Expected Behaviour

There should be more appropriate exception for developer to install typescript module.

### Actual Behaviour

It is very hard to know typescript module is missing.

[code]

### Steps to Reproduce the Problem

Just run ts-loader without typescript module installed.

[2018-06-14 20:41] johnnyreilly commented on #793
When this TypeScript PR gets shipped the issue shuld be resolved: https://github.com/Microsoft/TypeScript/pull/24959

[2018-06-15 13:30] johnnyreilly commented on #795
Is this definitely related to ts-loader?

[2018-06-15 18:28] k-bx opened #796 "Error content is empty"
I'm running `webpack` on a project, and can't understand the errors.

### Expected Behaviour

I'd like to see the errors from the compiler, or what command should I run to omit the ts-loader but reproduce the error.

### Actual Behaviour

I see no details about the error I receive.

### Steps to Reproduce the Problem

[code]

Thank you!

[2018-06-15 18:40] johnnyreilly commented on #796
I'd say there's probably something wrong with your setup.

Take a look at an example setup and contrast it with your own. Good luck!

[2018-06-15 18:40] #796 closed

[2018-06-16 13:37] nycdotnet commented on #794
Great

[2018-06-17 06:41] samialmorshedi opened #797 "NotYetImplemented Error for lots of original packages"
In the screenshot I have added, You can see lots of `NotYetImplemented ` error which I have no idea what to do with and how to fix them!!!
There is no documentation for it, please help me to fix it.
I'm using Angular Universal 6

![capture](https://user-images.githubusercontent.com/30777032/41505467-2544d3f6-721f-11e8-891c-6d6858f768eb.PNG)

[2018-06-17 16:45] johnnyreilly commented on #797
Closing as not clear this is an issue with ts-loader

[2018-06-17 16:45] #797 closed

[2018-06-17 17:00] blakeembrey commented on #797
@samialmorshedi If you look at your stack trace you can see it's coming from a library called `domino` and triggered by `ngx-cookie-service`. I looked into it more and it's coming from https://github.com/fgnass/domino/blob/784a210c6454dbdfd90ca104bd34bc33c59e090b/lib/Document.js#L308 and triggered by https://github.com/7leads/ngx-cookie-service/blob/1886b06af5b9cfcd20376918337ef937efa23bea/lib/coo

[2018-06-18 18:27] atrauzzi opened #798 "Cannot read property 'getEntryByPath' of undefined"
### Expected Behaviour
Better feedback on what failed.

### Actual Behaviour
Not enough information to ascertain where the issue is.

### Steps to Reproduce the Problem
Run the local webpack development server.